
      <div class="footer-row-1">
        <div class="fg-col">

          <div class="fg-col">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/232088/puppet-logo-white-sm.png" class="puppet-logo">
          </div>

          <div class="fg-col">
            <h3>Overview</h3>
            <ul>
              <li><a href="//www.puppet.com/product" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Product']);">Product</a></li>
              <li><a href="//www.puppet.com/solutions" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Solutions']);">Solutions</a></li>
              <li><a href="//www.puppet.com/resource-library" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Resource Library']);">Resource Library</a></li>
              <li><a href="//www.puppet.com/company" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Company']);">Company</a></li>
              <li><a href="//www.puppet.com/open-source-projects" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Open Source Projects']);">Open Source Projects</a></li>
              <li><a href="//www.puppet.com/security" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Security']);">Security</a></li>
            </ul>
          </div>

          <div class="fg-col">
            <h3>Resources</h3>
            <ul>
              <li><a href="//www.puppet.com/support/customer-support" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Get Help']);">Get Help</a></li>
              <li><a href="//puppet.com/find-a-partner" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Find a Partner']);">Find a Partner</a></li>
              <li><a href="//www.puppet.com/support/training" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Training']);">Training</a></li>
              <li><a href="//www.puppet.com/downloads" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Download']);">Download</a></li>
              <li><a href="//www.puppet.com/sitemap" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Site Map']);">Site Map</a></li>
            </ul>
          </div>

          <div class="fg-col">
            <h3>Connect</h3>
            <ul>
              <li><a href="//www.puppet.com/contact" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Contact Us']);">Contact Us</a></li>
              <li><a href="//tickets.puppet.com/events" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Events']);">Events</a></li>
              <li><a href="//www.puppet.com/blog" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Blog']);">Blog</a></li>
            </ul>
          </div>
        </div>

        <div class="fg-col">
          <h3>Join our mailing list</h3>
          <p>Get our monthly newsletter and the occasional email we think you'll like.</p>
          <form class="lpeRegForm formNotEmpty" method="post" enctype="application/x-www-form-urlencoded" action="https://app-sjh.marketo.com/index.php/leadCapture/save" id="mktForm_1047" name="mktForm_1047">
            <input class='mktFormText mktFormEmail mktFReq' name="Email" id="Email" type='email' value=""  placeholder="Enter your email" maxlength='255' tabIndex='1'>
            <input class='mktFormHidden' name="Form_Name__c" id="Form_Name__c" type='hidden' value="Newsletter">
            <input class='mktFormHidden' name="Current_Form_Name__c" id="Current_Form_Name__c" type='hidden' value="Newsletter">
            <input class='mktFormHidden' name="Original_Campaign_ID__c" id="Original_Campaign_ID__c" type='hidden' value="701G0000000F68K">
            <input class='mktFormHidden' name="campaign_ID__c" id="campaign_ID__c" type='hidden' value="701G0000000F68K">
            <input class='mktFormHidden' name="Current_Lead_Source__c" id="Current_Lead_Source__c" type='hidden' value="website-corporate">
            <input class='mktFormHidden' name="LeadSource" id="LeadSource" type='hidden' value="website-corporate">
            <input class='mktFormHidden' name="Custom_Campaign__c" id="Custom_Campaign__c" type='hidden' value="null">
            <input class='mktFormHidden' name="Current_Custom_Campaign__c" id="Current_Custom_Campaign__c" type='hidden' value="null">
            <input class='mktFormHidden' name="honeypot" id="honeypot" type='hidden' value="null">
            <input id='mktFrmSubmit' style="display:none;" type='submit' value='&#xf0a9;' name='submitButton'>
            <span style="display:none;"><input type="text" name="_marketo_comments" value=""></span>
            <input type="hidden" name="lpId" value="-1">
            <input type="hidden" name="subId" value="100">
            <input type="hidden" name="munchkinId" value="307-QLA-991">
            <input type="hidden" name="kw" value="">
            <input type="hidden" name="cr" value="">
            <input type="hidden" name="searchstr" value="">
            <input type="hidden" name="lpurl" value="http://info.puppetlabs.com/newslettersubscribe.html?cr={creative}&kw={keyword}">
            <input type="hidden" name="formid" value="1047">
            <input type="hidden" name="returnURL" value="http://www.puppet.com">
            <input type="hidden" name="retURL" value="http://www.puppet.com/misc/subscription-thank-you">
            <input type="hidden" name="returnLPId" value="-1">
            <input type="hidden" name="_mkt_disp" value="return">
            <input type="hidden" name="_mkt_trk" value="">
          </form>

          <p>
            <a href="https://twitter.com/puppetize" class="social-icon" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Twitter']);"><img src="/images/social-icons/twitter-box-white.svg" alt="Twitter"></a>
            <a href="https://www.linkedin.com/company/puppet-labs-inc" class="social-icon" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'LinkedIn']);"><img class="social-icon" src="/images/social-icons/linkedin-box-white.svg" alt="LinkedIn"></a>
            <a href="https://www.facebook.com/PuppetSoftware" class="social-icon" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Facebook']);"><img class="social-icon" src="/images/social-icons/facebook-box-white.svg" alt="Facebook"></a>
            <a href="https://www.youtube.com/c/Puppet-Inc" class="social-icon" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'YouTube']);"><img class="social-icon" src="/images/social-icons/youtube-white.svg" alt="Youtube"></a>
            <a href="https://plus.google.com/+Puppetlabs" class="social-icon" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Google+']);"><img class="social-icon" src="/images/social-icons/g-plus-white.svg" alt="Google+"></a>
          </p>
        </div>
      </div>
      <div class="footer-row-2">
        <div class="footer-row-2-wrapper">
          <div class="footer-row-2-col-1">
            <a href="//www.puppet.com/legal" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Legal']);">Legal</a>
            <a href="//www.puppet.com/privacy" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Privacy Policy']);">Privacy Policy</a>
            <a href="http://www.puppet.com/terms" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Terms of Use']);">Terms of Use</a>
          </div>
          <div class="footer-row-2-col-2">
            <a href="/">&copy; 2016 Puppet</a>
          </div>
        </div>
      </div>
