

      <div class="footer-row-1 container">
        <div class="fg-col col-md-8 container">

          <div class="fg-col col-md-3">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/232088/puppet-logo-white-sm.png" class="puppet-logo">
          </div>

          <div class="fg-col col-md-3">
            <h3>Vue d'ensemble</h3>
            <ul>
              <li><a href="//puppet.com/product">Produit</a></li>
              <li><a href="//puppet.com/solutions">Solutions</a></li>
              <li><a href="//puppet.com/resources">Bibliothèque de ressources</a></li>
              <li><a href="//puppet.com/company">Entreprise</a></li>
              <li><a href="//puppet.com/product/open-source-projects">Projets Open Source</a></li>
              <li><a href="//puppet.com/security">Sécurité</a></li>
            </ul>
          </div>

          <div class="fg-col col-md-3">
            <h3>Ressources</h3>
            <ul>
              <li><a href="//puppet.com/get-help">Recevoir de l'aide</a></li>
              <li><a href="//puppet.com/partners/find-a-partner">Trouver un partenaire</a></li>
              <li><a href="//puppet.com/support/training">Entrainement</a></li>
              <li><a href="//puppet.com/downloads">Téléchargements</a></li>
              <li><a href="//puppet.com/sitemap">Plan du site</a></li>
            </ul>
          </div>

          <div class="fg-col col-md-3">
            <h3>Connecter</h3>
            <ul>
              <li><a href="//puppet.com/company/contact">Nous contacter</a></li>
              <li><a href="//puppet.com/community/events">Évènements</a></li>
              <li><a href="//puppet.com/blog">Blog</a></li>
            </ul>
          </div>
        </div>

        <div class="fg-col col-md-3">
          <h3>Recevez notre newsletter</h3>
          <p> Rejoignez-nous et soyez notifiés de nouveaux produits, mises à jour et offres spéciales.</p>
          {% include template/newsletter_form.html %}

          <p>
            <a href="https://twitter.com/puppetize" class="social-icon"><img class="social-icon" src="/images/social-icons/twitter-box-white.svg" alt="Twitter"></a>
            <a href="https://www.linkedin.com/company/puppet" class="social-icon"><img class="social-icon" src="/images/social-icons/linkedin-box-white.svg" alt="LinkedIn"></a>
            <a href="https://www.facebook.com/PuppetSoftware" class="social-icon"><img class="social-icon" src="/images/social-icons/facebook-box-white.svg" alt="Facebook"></a>
            <a href="https://www.youtube.com/c/Puppet-Inc" class="social-icon"><img class="social-icon" src="/images/social-icons/youtube-white.svg" alt="YouTube"></a>
            <a href="https://plus.google.com/+Puppetlabs" class="social-icon"><img class="social-icon" src="/images/social-icons/g-plus-white.svg" alt="Google+"></a>
          </p>
        </div>
      </div>

      <div class="footer-row-2 container">
        <div class="footer-row-2-wrapper">
          <div class="footer-row-2-col-1 col-md-9">
            <a href="//puppet.com/legal">Légal</a>
            <a href="//puppet.com/legal/privacy">Politique de vie privée</a>
            <a href="//puppet.com/legal/terms">Conditions d'utilisation</a>
          </div>
          <div class="footer-row-2-col-2 col-md-3">
            <a href="/">© 2016 Puppet</a>
          </div>
        </div>
      </div>

