    <nav class="navbar navbar-inverse navbar-static-top">
      <div id="navbar-container" class="container-fluid">

        <div id="navbar-top" class="row navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="//puppet.com" class="home">ホーム</a></li>
            <li><a href="//forge.puppet.com" class="offsite forge">Forge</a></li>
            <li><a href="//puppet.com/puppetconf" class="offsite">PuppetConf</a></li>
            <li class="active"><a href="/" class="offsite docs">マニュアル</a></li>
            <li><a href="//learn.puppet.com" class="offsite learn">トレーニング</a></li>
            <li class="navbar-gap"><a href="//puppet.com/support">サポート</a></li>
            <li><a href="//puppet.com/contact">お問い合わせ</a></li>
            <li><a href="/download/">Download docs</a></li>
          </ul>
        </div><!--/.nav-collapse -->



        <div id="navbar-bottom" class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id="navbar-logo" class="navbar-brand" href="//puppet.com"><img src="/images/puppet-logo/puppet-logo-amber-white-lg.png" alt="Puppet"></a>
          </div>

          <div class="navbar-header hidden-xs">
            <a id="navbar-site-name" class="navbar-brand" href="/">マニュアル</a>
          </div>

          <form class="navbar-form navbar-right navbar-collapse collapse" role="search">
            <div class="form-group">
              <input type="text" class="form-control" id="search-container" placeholder="Search...">
              <img class="search-white" id="search-icon" src="/images/puppet-icons/search-white-2.svg" alt="Search">
            </div>
          </form>
        </div>



      </div>
    </nav>
