<div class="global-header">
        <div class="global-header__row __row1">
          <nav class="global-header__nav-satellite"></nav>
          <nav class="global-header__nav-satellite">
            <div class="global-header__nav-satellite__item">
              <a href="//www.puppet.com" class="home" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Home']);">ホーム</a></div>
            <div class="global-header__nav-satellite__item">
              <a href="//forge.puppet.com/" class="offsite forge" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Forge']);">Forge</a></div>
            <div class="global-header__nav-satellite__item">
              <a href="//docs.puppet.com/ja/" class="offsite docs" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Docs']);">マニュアル</a></div>
            <div class="global-header__nav-satellite__item">
              <a href="//learn.puppet.com/" class="offsite learn" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Training']);">トレーニング</a></div>
            <div class="global-header__nav-satellite__item"><span class="spacer"></span></div>
            <div class="global-header__nav-satellite__item">
              <a href="//www.puppet.com/support"onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Support Services']);">サポート</a></div>
            <div class="global-header__nav-satellite__item">
              <a href="//www.puppet.com/contact" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Contact']);">お問い合わせ</a></div>
          </nav>
</div>
        <div class="global-header__row __row2">
          <div class="global-header__row__col __col1"><a href="http://www.puppet.com">
              <img src="/images/puppet-logo/puppet-logo-amber-white-lg.png"></a></div>
          <div class="global-header__row__col __col2">
            <nav class="global-header__nav-main"><!-- Puppet Enterprise --><div class="global-header__nav-main__item dropdown">
<a href="/" class="dropdown__tab"><div class="dropdown__tab__title">マニュアル</div>
                  <div class="dropdown__tab__indicator product"></div></a><div class="dropdown-grow-bar"></div>
              </div>

              <!-- Search -->
              <div class="global-header__nav-main__item search">
                <a class="dropdown__tab">
                  <img class="search-white" src="/images/puppet-icons/search-white-2.svg" alt="Search"><img id="search-icon" class="search-amber" src="/images/puppet-icons/search-amber.svg" alt="Search"></a><div class="search-slider">
                <div class="search-slider-table">
                  <div class="search-slider-table__cell"><input id="search-container" class="search-slider-table__cell__input" type="text"></div>
                </div>
              </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
