vendor
vendor/puppet
vendor/hiera
vendor/facter
vendor/bundle
vendor/enterprise-dist
vendor/puppet-agent
bin/mar*
output
references_output
\#*
.#*
log
.DS_Store
pdf_output
pdf_source
puppetdocs-latest.tar.gz*
.bundle
externalsources
_cache
Gemfile.lock
.*.swo
.*.swp
.*.un~
*.orig
.idea
.jekyll-metadata
.byebug_history
link_test_results.yaml
