/* In-page TOC styling */
nav.in-page {
  padding-top: 1em;
}

nav.multi-column {
  -webkit-column-width: 13em;
  -webkit-column-gap: 2.5em;
  -moz-column-width: 13em;
  -moz-column-gap: 2.5em;
  column-width: 13em;
  column-gap: 2.5em;
}

ol.toc {
  list-style-type: none !important;
  padding-left: 0;
  margin-left: 0;
}

ol.toc a {
  font-weight: normal;
}

/* Second-level TOCs should have lighter text and be smaller */

ol.toc > li > ol.toc {
  padding-bottom: 0;
  padding-top: 0.25em;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 0.9em;
  margin-left: 2.5em;
}

ol.toc > li {
  margin-bottom: 0;
  margin-left: 0;
/*
  padding-left: 0.5em;
 */
  line-height: 1.5em;
}

ol.toc > li:before {
  content: "»";
  color: #159680;
  position: relative;
  left: -5px;
}

ol.toc > li > ol.toc > li {
  line-height: 1.25em;
  padding-bottom: 0.25em;
}

/* Sidebar navigation styling */
nav.main ul {
  list-style-type: none;
  margin-left: -1.5em;
}

nav.main > ul {
  margin-left: -2em;
}

nav.main ul > li::before {
  content: "»";
  font-weight: bold;
  color: #159680;
  position: relative;
  left: -0.75em;
  display: inline-block;
  width: 0.1em;
}

nav.main ul > li.hidden-nav::before {
  content: "+";
  font-weight: bold;
  color: #888;
}

nav.main ul > li.expanded-nav::before {
  content: "–";
  font-weight: bold;
  color: #888;
}

nav.main ul > li.selected:before {
  color: #777777;
}

a.disabled-nav-link {
  cursor: text;
  color: #444;
}

li.selected a.disabled-nav-link {
  font-weight: bold;
  color: rgb(96, 96, 144);
}

a.disabled-nav-link:hover {
  text-decoration: none;
}

nav.main ul > li strong {
  cursor: pointer;
  font-weight: normal;
}

nav.main ul > li strong:hover {
  color: #999;
  text-decoration: underline;
}

li.currentsection {
  background-color: #faf5f3;
  border-left: 2px solid #c05f1c;
  margin-left: -22px;
  padding-left: 20px;
}

li.currentpage {
  border-bottom: 1px solid #888;
  margin-bottom: 10px !important;
}

li.currentpage > ol.toc {
  margin-left: -41px;
  padding-left: 76px;
  padding-top : 0;
}

li.currentpage > ol.toc a {
  color: #888;
}

/* Classes for spans that warn about version incompatibilities */
.versionnote {
  background-color: #ff9;
}
.versionwarning {
  background-color: #ff9;
  color: #f00;
  font-size: 1.5em;
  font-weight: bold;
}

/* The per-document version note div */
div#version-note {
  color: #d20;
  margin-top: 0.5em;
}
div#version-note > .noisy {
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
  padding: 0.5em;
}

