/* DOCS styles */
/* --------------------------------------------
  - CSS Reset
  - Normalize
  - Typography
  - Global Styles
  - Basic Button styles
  - Global header and Navigation
  - Footer styles
  - Copyright
  - Marketo
  - Animation
   -------------------------------------------- */


/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; color: #777777; background: #ffffff; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; font-size: 0.9em; }
:focus { outline: 0; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* Typography */
/* -------------------------------------------- */

/* --------
 Calibre
 See https://klim.co.nz/retail-fonts/calibre/
  -------------------------------------------- */

@font-face {
  font-family: 'Calibre Web Black';
  src: local('Calibre Web Black'), local('CalibreWeb-Black'),
  url(../fonts/calibre/CalibreWeb-Black.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web Black Italic';
  src: local('Calibre Web Black Italic'), local('CalibreWeb-BlackItalic'),
  url(../fonts/calibre/CalibreWeb-BlackItalic.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web Bold';
  src: local('Calibre Web Bold'), local('CalibreWeb-Bold'),
  url(../fonts/calibre/CalibreWeb-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web Bold Italic';
  src: local('Calibre Web Bold Italic'), local('CalibreWeb-BoldItalic'),
  url(../fonts/calibre/CalibreWeb-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web Light';
  src: local('Calibre Web Light'), local('CalibreWeb-Light'),
  url(../fonts/calibre/CalibreWeb-Light.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web Light Italic';
  src: local('Calibre Web Light Italic'), local('CalibreWeb-LightItalic'),
  url(../fonts/calibre/CalibreWeb-LightItalic.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web Medium';
  src: local('Calibre Web Medium'), local('CalibreWeb-Medium'),
  url(../fonts/calibre/CalibreWeb-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web Medium Italic';
  src: local('Calibre Web Medium Italic'), local('CalibreWeb-MediumItalic'),
  url(../fonts/calibre/CalibreWeb-MediumItalic.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web Regular';
  src: local('Calibre Web Regular'), local('CalibreWeb-Regular'),
  url(../fonts/calibre/CalibreWeb-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web Regular Italic';
  src: local('Calibre Web Regular Italic'), local('CalibreWeb-RegularItalic'),
  url(../fonts/calibre/CalibreWeb-RegularItalic.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web Semibold';
  src: local('Calibre Web Semibold'), local('CalibreWeb-Semibold'),
  url(../fonts/calibre/CalibreWeb-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web Semibold Italic';
  src: local('Calibre Web Semibold Italic'), local('CalibreWeb-SemiboldItalic'),
  url(../fonts/calibre/CalibreWeb-SemiboldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web Thin';
  src: local('Calibre Web Thin'), local('CalibreWeb-Thin'),
  url(../fonts/calibre/CalibreWeb-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web Thin Italic';
  src: local('Calibre Web Thin Italic'), local('CalibreWeb-ThinItalic'),
  url(../fonts/calibre/CalibreWeb-ThinItalic.woff) format('woff');
}


/*---------
 Inconsolata (monospaced)
 See http://www.levien.com/type/myfonts/inconsolata.html
 -------------------------------------------------------- */

@font-face {
  font-family: 'Inconsolata';
  src: local('Inconsolata'), local('inconsolata-webfont'),
  url(../fonts/inconsolata/inconsolata-webfont.woff) format('woff');
}

/* Global styles */
/* -------------------------------------------- */

body {
  font-family: 'Calibre Web Light', Helvetica, Arial, sans-serif !important;
  font-size: 1.0rem;
  background: #f5f5f5;
}

.site-width {
  width: 90%;
  max-width: 1060px;
  min-width: 940px;
  margin: 0 auto;
  position: relative;
}

.site-width:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* anything with `display: none` will actually _not_ be announced by AT, but it looks like this is only used for the "Skip navigation" links. */
.screen-reader-content {
  display: none !important;
}

/* Make the line numbers in syntax-highlighted text not look like content */
.lineno {
  font-size: .8em !important;
  color: #aaa;
  padding-right: 1em !important;
}

/* All elements other than paragraphs that follow tables receive a top margin */
table + *:not(blockquote) {
  margin-top: 1.5em !important;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

table th {
  color: #fff;
  padding: 0.5em;
  background: #222222;
}

table td {
  padding: 0.5em;
  color: #222222;
}

table td,
table th {
  line-height: 1.6;
}

table th:first-child {
  -webkit-border-top-left-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  border-top-left-radius: 0.5em;
}

table th:last-child {
  -webkit-border-top-right-radius: 0.5em;
  -moz-border-radius-topright: 0.5em;
  border-top-right-radius: 0.5em;
}

table tbody tr:nth-child(even) {
  background: #f5f5f5;
}
table tbody tr:nth-child(odd) {
  background: #cccccc;
}

/* headlines */
h1, h2, h3, h4, h5 {
  display: block;
  font-family: 'Calibre Web Light', Helvetica, Arial, sans-serif !important;
  color: #222222;
}

h1, h2 {
  line-height: 1.125em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.55em;
}

h3 {
  line-height: 1.25em;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  font-size: 1.25em;
}

h4, h5 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  font-family: 'Calibre Web Medium Italic', Helvetica, Arial, sans-serif !important;
}

h5 {
  font-family: 'Calibre Web Light Italic', Helvetica, Arial, sans-serif !important;
}

div.section+h3 {
  margin-top: 0;
}

span.subheading {
  font-size: 0.85em;
  font-weight: normal;
  color: #888;
  display: block;
}

h3 + span.subheading {
  margin-bottom: 1em;
  margin-top: -0.5em;
}

strong {
  font-family: 'Calibre Web Medium', Helvetica, Arial, sans-serif !important;
}

em {
  font-family: 'Calibre Web Light Italic', Helvetica, Arial, sans-serif !important;
}

p {
  margin-bottom: 1em;
  line-height: 1.75em;
}

pre {
  display: inline;
  font-family: Inconsolata, "Courier New", Courier, monospace;
}

code {
  font-family: Inconsolata, "Courier New", Courier, monospace;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 2px;
}

var  {
  font-family: Inconsolata, "Courier New", Courier, monospace;
  font-weight: bold;
}

pre > code {
  background: #fafafa;
  display: block;
  padding: 1em 20px;
  margin-bottom: 1em;
  line-height: 1.25em;
  border: 1px solid #cccccc;
  overflow-x: auto;
  border-radius: 2px;
}

p:last-child {
  margin-bottom: 0;
}

p.introduction {
  font-size: 1.33em !important;
  line-height: 1.5em;
  font-family: 'Calibre Web Light', Helvetica, Arial, sans-serif !important;
  margin-bottom: 0.75em;
}

a {
  color: #ffae1a;
  text-decoration: none;
  transition: color 0.3s ease;
}


a:hover {
  color: #ffae1a;
  text-decoration: underline;
  transition: color 0.3s ease;
}

a[rel="external"] {
  background: url(images/icons/external.png) right center no-repeat;
  padding-right: 20px;
  -webkit-transition: 0.25s all linear;
  -moz-transition: 0.25s all linear;
}

a[rel="external"]:hover {
  background-image: url(images/icons/external_50.png);
}

a.gateway {
  padding: 0.5em 0.75em 0.5em;
  line-height: 1em;
  display: inline-block;
  background: #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: -0.1em;
  margin-right: 0.5em;

}

a.gateway:hover {
  background: #a05617;
  border-color: #a04900;
  color: white;
  text-decoration: none;
}

/* We want this to apply to lists standing by themselves, but not to lists within lists, because that just makes a mess. */
p > ul, ol, dl {
  margin-bottom: 1.5em;
}

ol > li {
  position: relative;
  line-height: 1.5em;
}

li {
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

li ul {
  padding-top: 0.25em;
}

blockquote {
  position: relative;
  padding: 1em 20px;
  border: 1px solid #cccccc;
  background: #fafafa;
  border-radius: 3px;
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* Every blockquote that follows an element */
* + blockquote {
  margin-top: 1.5em !important;
}

div.right.quote {
  float: right;
  width: 300px;
  margin-right: -178px;
  margin-left: 18px;
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
}

div.left.quote {
  float: left;
  width: 240px;
  margin-right: 20px;
  margin-left: -20px;
  margin-bottom: 3.5em;
  overflow: hidden;
  position: relative;
}

/* Commenting out because I want to use blockquote elements as asides. This is semantically sketchy (this should properly be done with <aside> elements), but because Markdown has a native representation of blockquotes, and because most Markdown implementations won't recursively process Markdown syntax contained within non-native block elements, it's the easiest way to get what we want. -NF Feb 29 2012 */
/*
blockquote:before {
  content: "“";
  position: absolute;
  top: 0;
  left: -10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12em;
  font-style: normal;
  z-index: 1;
  color: #e0e0e0;
}

blockquote p{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.33em;
  font-style: italic;
  line-height: 1.5em;
  background: no-repeat;
  z-index: 2;
  position: relative;
}
 */

cite {
  font-size: 0.85em;
  line-height: 1.4em;
  color: #aaa;
  display: block;
  margin-top: 0.5em;
  padding: 0 22px;
}

cite:before {
  content: "—";
  margin-left: -1.1em;
}

sup a:link {
  text-decoration: underline;
}

sup a:visited {
  text-decoration: underline;
}

.footnotes {
  font-size: 0.8em;
  border-top: 1px dotted;
}

.footnotes li:target {
  background: #ff9;
}

/* BASIC BUTTONS */
/* -------------------------------------- */
.btn {
  font-family: 'Calibre Web Regular', Helvetica, Arial, sans-serif !important;
  position:relative;
  display: inline-block;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  margin: 0 2px !important;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size:1.125em;
  font-weight:bold;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.btn:hover {
  text-decoration: none;
}
.btn:active {
  position: relative;
  top: 1px;
}

/* BUTTON COLORS */
/* -------------------------------------- */
.btn {
  color: #fff;
  border: solid 1px #954712;
  background: #C05F1C;
  background: -webkit-gradient(linear, left top, left bottom, from(#d47b3e), to(#C05F1C));
  background: -moz-linear-gradient(top,  #d47b3e,  #C05F1C);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d47b3e', endColorstr='#C05F1C');
}
.btn:hover {
  border: solid 1px #954712;
  background: #C05F1C;
  background: -webkit-gradient(linear, left top, left bottom, from(#A05617), to(#C05F1C));
  background: -moz-linear-gradient(top,  #A05617,  #C05F1C);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#A05617', endColorstr='#C05F1C');
}

.btn-light {
  color: #C05F1C;
  text-shadow: 0 1px 1px rgba(0,0,0,.185);
  border: solid 1px #fae6c0;
  background: #feecc1;
  background: -webkit-gradient(linear, left top, left bottom, from(#fffaed), to(#feecc1));
  background: -moz-linear-gradient(top,  #fffaed,  #feecc1);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffaed', endColorstr='#feecc1');
}
.btn-light:hover {
  border: solid 1px #fae6c0;
  background: #fff7e3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9e3bb), to(#fff7e3));
  background: -moz-linear-gradient(top,  #f9e3bb,  #fff7e3);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9e3bb', endColorstr='#fff7e3');
}

.btn-dark {
  color: #fff;
  border: solid 1px #9983b0;
  background: #7f6799;
  background: -webkit-gradient(linear, left top, left bottom, from(#c1a7dd), to(#7f6799));
  background: -moz-linear-gradient(top,  #c1a7dd,  #7f6799);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1a7dd', endColorstr='#7f6799');
}
.btn-dark:hover {
  color: #fff;
  border: solid 1px #9983b0;
  background: #7f6799;
  background: -webkit-gradient(linear, left top, left bottom, from(#725d88), to(#7f6799));
  background: -moz-linear-gradient(top,  #725d88,  #7f6799);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#725d88', endColorstr='#7f6799');
}

.btn-space {margin-top:3em !important; margin-bottom:3em;}


/* Header */
/* -------------------------------------- */
header#header {
  border-top: 4px solid #514a6b;
  background: #403e56 url(images/matte-blue.png) bottom repeat-x;
  color: white;
  white-space: nowrap;
  z-index: 1;
}

header#header .site-width{
  padding: 1.4em 0 0;
}

header#header a {
  text-decoration: none;
  display: block;
}

header#header h1,
header#header ul,
header#header ul li {
  margin: 0;
  -webkit-transition: 0.125s background linear;
  -moz-transition: 0.125s background linear;
}

header#header h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  display: block;
  height: 36px;
  width: 127px;
  float: left;
}

header#header h1 a {
  display: block;
  height: 100%;
  width: 100%;
  background: url(images/puppet-labs.png) left center no-repeat;
  position: relative;
  opacity: 0.5;
  -webkit-transition: 0.33s linear;
  -moz-transition: 0.33s linear;
  border: none;
}

header#header h1 a:hover {
  opacity: 1;
}

header#header h1 a span {
  display: none;
}

/* Global Navigation */
/* -------------------------------------- */
header#header ul#global-navigation{
  margin-left: 170px;
  margin-top: 18px;
  background: #2b2539;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,0.05);
  box-shadow: 0 -1px 0 rgba(255,255,255,0.05);
}

header#header ul#global-navigation > li {
  margin: 0 -0.2em;
  width: 14.2%;
  max-width: 180px;
  display: inline-block;
}

body#puppet header#header li#puppet-tab > a,
body#services header#header li#services-tab > a,
body#puppetlabsdocs header#header li#resources-tab > a,
body#blog header#header li#community-tab > a,
body.blog header#header li#community-tab > a,
body.single header#header li#community-tab > a,
body#company header#header li#company-tab > a {
  color: white;
  border-top-color: #a965a9;
  background: #2e283c;
}

body#puppet header#header li#puppet-tab > a span.subtitle,
body#services header#header li#services-tab > a span.subtitle,
body#support header#header li#services-tab > a span.subtitle,
body#blog header#header li#community-tab > a span.subtitle,
body.blog header#header li#community-tab > a span.subtitle,
body.single header#header li#community-tab > a span.subtitle,
body#company header#header li#company-tab > a span.subtitle {
  color: #aaa;
}

header#header ul#global-navigation > li:first-child a{
  border-left: none !important;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius: 6px;
  border-top-left-radius: 6px;
}

header#header ul#global-navigation > li:last-child a{
  border-right: none !important;
}

header#header ul#global-navigation > li > a {
  color: #747380;
  padding: 0.5em 20px 0.67em;
  font-weight: bold;
  border-right: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(255,255,255,0.05);
}

header#header ul#global-navigation > li > a:hover {
  background: #503577 !important;
  color: white;
  text-decoration: none;
  border-top-color: #f6d072;
  border-left-color: #593f7e;
  border-right-color: rgba(0,0,0,0.33);
}

header#header ul#global-navigation > li > a:active {
  color: #ccc;
  background-color: #442d65;
  border-top-color: #ffcb4d;
}

header#header ul#global-navigation > li > a:active span.drop-down-trigger {
  opacity: 0.5;
}

header#header ul#global-navigation > li.active > a {
  background: #2c2639;
}

header#header ul li.with-submenu > ul {
  background: #fff6e5;
  position: absolute;
  left: 0;
  z-index: 10;
  font-size: 0.85em;
  visibility: hidden;
  -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 2px 1px rgba(0,0,0,0.25);
  width: 100%;
  white-space: normal;
}

header#header ul li.with-submenu > ul li ul {
  border-bottom: 1px solid #ebe3d3;
  display: block;
  padding-bottom: 0.125em;
  margin-bottom: 0.125em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

header#header ul li.with-submenu > ul li:last-child ul {
  border: none;
  margin: 0;
  padding: 0;
}

header#header ul ul:last-child,
header#header ul ul:last-child li:last-child,
header#header ul ul:last-child li:last-child a {
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

header#header ul li.active ul {
  visibility: visible;
}

header#header li.with-submenu ul li {
  display: block;
  border: none;
}

header#header ul li.with-submenu ul li a {
  padding: 0.5em 10px;
  color: #653413;
  background: #fff6e5;
  border: none;
}

header#header ul li.with-submenu ul li a:hover {
  background: white;
  color: #a25a3b;
}

header#header ul li.with-submenu {
  position: relative;
}

header#header ul li.with-submenu > a {
  padding-right: 30px !important;
  position: relative;
}

header#header ul span.drop-down-trigger {
  display: block;
  width: 20px;
  height: 2.6em;
  background: url(images/icons/dropdown_indicator.png) center 51% no-repeat #342d44;
  background: url(images/icons/dropdown_indicator.png) center 51% no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c3272), to(#342d44));
  background: url(images/icons/dropdown_indicator.png) center 51% no-repeat, -moz-linear-gradient(#4c3272, #342d44);
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid rgba(0,0,0,0.03);
  opacity: 0;
  -webkit-transition: 0.125s opacity linear;
  -moz-transition: 0.125s opacity linear;
}

header#header ul li:hover span.drop-down-trigger {
  opacity: 1;
  visibility: visible;
}

header#header ul span.drop-down-trigger:hover {
  border-left: 1px solid rgba(0,0,0,0.1);
  background: #672e9f url(images/icons/dropdown_indicator.png) no-repeat center 51%;
}

header#header ul li.active span.drop-down-trigger {
  background: #2b2538 url(images/icons/dropdown_indicator_active.png) center center no-repeat;
}

header#header li a span.subtitle {
  display: block;
  font-size: 0.85em;
  color: #6d6480;
  margin-top: -0.125em;
  font-weight: normal;
}

header#header li:hover a span.subtitle {
  color: #aaa;
}

/* Misc Navigation */
/* -------------------------------------- */
#header #misc-navigation{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.85em;
  font-weight: bold;
}
#header #misc-navigation ul {
  padding: 3px 10px 5px;
  display:inline-block;
  white-space: nowrap;
  vertical-align:top;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #514a6b;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#514a6b), to(#524f74));
  background: -moz-linear-gradient(#514a6b, #524f74);
  -webkit-box-shadow: 2px 2px 0 rgba(0,0,0,0.05);
  -moz-box-shadow: 2px 2px 0 rgba(0,0,0,0.05);
  box-shadow: 2px 2px 0 rgba(0,0,0,0.05);
}

#header #misc-navigation ul li{
  display: inline-block;
  margin-right: 0.8em;
}

#header #misc-navigation ul li:last-child{
  margin-right: -0.67em;
}

#header #misc-navigation ul li a{
  color: #9c99b3;
}

#header #misc-navigation ul li a:hover{
  text-decoration: underline;
}

#header #misc-navigation a.gateway{
  border: none;
  background: #ba5500;
  color: white;
  padding: 0.25em 0.5em;
  line-height: 1.5em;
}

#header #misc-navigation a.gateway:hover{
  background-color: #7f6799;
  text-decoration: none;
}

#header #misc-navigation form {display:inline-block; padding:5px 10px 5px;}
#header #misc-navigation form input {font-family: "Lucida Grande", Lucida, Verdana, sans-serif; display:inline-block; margin:0 10px 0 0 !important; padding:2px !important; width:auto !important; font-size:1em !important;}
#header input.searchbtn {padding:0.25em 0.5em; line-height:1.5em; font-weight:bold; background: #7f6799; color:#fff; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border:none !important;}
#header input.searchbtn:hover {background-color:#ba5500; color:#fff;}

/* Masthead */

section#masthead,
section#masthead .site-width {
  left: -20px;
}

section#masthead {
  padding: 1em 0 0.5em;
  background: white;
  z-index: 2;
}

section#masthead p {
  color: white;
  margin-bottom: 1em;
  max-width: 36em;
}

section#masthead h1 {
  color: #5d5e59;
  display: inline;
  font-size: 1.0rem;
  font-weight: lighter !important;
  font-weight: inherit;
  margin: 0;
}

span.edit a {
  padding: 0.3em 10px;
  background: rgba(0,0,0,.33);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  color: white !important;
  position: relative;
  top: -0.25em;
  margin-left: 1em;
  -webkit-transition: 0.25s linear all;
  -moz-transition: 0.25s linear all;
  border: 2px solid rgba(0,0,0,0.1);
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
}

span.edit a:hover {
  -webkit-animation: pulse-dark 2s infinite;
}

/* Content */
/* -------------------------------------- */
section#content {
  background: #ffffff;
  color: #777777;
  padding-bottom: 2.5em;
  border-top: 1px solid white;
  z-index: 5;
  position: relative;
}

/* secondary-content */

.secondary-content section {
  margin-bottom: 2em;
}

.secondary-content section#other-products ul li {
  margin-bottom: 0.5em;
}

.secondary-content section#other-products ul li.active a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.secondary-content section#company-section p {
  font-size: 0.85em;
}

.secondary-content widget {display:block; padding:20px 10px 20px 0;}
.secondary-content widget .title {display:none;}
widget .btn {padding:.35em .45em .375em .45em; font-size:.9em; margin-left:auto; margin-right:auto; display:inline-block; text-align:center;}

#sidebar-2 widget {margin:1.5em 0 1em; display:block;}
#sidebar-2 widget:first-child {margin-top:0;}
#sidebar-2 widget .title {line-height: 1.1em; font-weight: bold; margin-bottom: 0.75em; color: #555; -webkit-transition: all 0.25s linear; -moz-transition: all 0.25s linear;}

/* Layouts */
/* -------------------------------------- */

/* Docs */

body#puppetlabsdocs.docs section#content div.site-width div.primary-secondary-content {
  padding-left: 320px;
  padding-right: 0px;
}

body#puppetlabsdocs.docs section#content div.site-width div.primary-secondary-content .primary-content {
  float: right;
}

/* body#puppetlabsdocs.docs section#content div.site-width div.primary-secondary-content .secondary-content */
nav.main {
  width: 290px;
  position: relative;
  margin: 0;
  margin-left: -340px;
  border-left: none;
  /* border-right: 2px solid #eee; */
  padding-right: 20px;
  /* left: 40px; */
  float: left !important;
}

body#puppetlabsdocs.docs section#content div.site-width div.primary-secondary-content .primary-content ul {
  margin-left: 2em;
  list-style-type: disc;
  list-style-position: outside;
}

body#puppetlabsdocs.docs section#content div.site-width div.primary-secondary-content .primary-content ul li {
  margin-bottom: 0.67em;
  margin-top: 0.67em;
  padding-left: 0.5em;
  position: relative;
}

/* This adds up to the same left spacing as unordered lists get... sort of. */
body#puppetlabsdocs.docs section#content div.site-width div.primary-secondary-content .primary-content ol {
  margin-left: 2.5em;
}

body#puppetlabsdocs.docs section#content div.site-width ol.toc {
  margin-left: 0 !important;
}

body#puppetlabsdocs.docs section#content div.site-width ol.toc ol {
  margin-left: 2.5em !important;
}

/* NF: Inline images should have an outer glow for legibility, especially in cases where we have screenshots of browser-rendered text. */
section#content div.primary-secondary-content div.primary-content p img {
  border: solid 1px #ccc;
  box-shadow: 0px 0px 8px #999;
  /* Image width should be constrained by the <p> width in all browsers that are supported (lets images expand to 740px on a wide screen) */
  max-width: 100%;
}

/* NF: Also, images that are the only thing in their paragraph should be centered. */
div.primary-secondary-content div.primary-content p > img:only-child, div.primary-secondary-content div.primary-content p > a:only-child > img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

body#puppetlabsdocs.docs .primary-content dl dt{
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

body#puppetlabsdocs.docs .primary-content dl dd{
  line-height: 1.5em;
  border-left: 4px solid #eee;
  padding-left: 10px;
  border-left: 4px solid #f6b333;
}

dd > p {
  margin-top: 1em; /* This is necessary for setting off the second paragraph in any dd element, since the first "paragraph" of any dd isn't inside a <p> element. */
}

/* Docs TOC */
/* -------------------------------------- */
nav.in-page {
  padding-top: 1em;
}

nav.multi-column {
  -webkit-column-width: 13em;
  -webkit-column-gap: 1.5em;
  -moz-column-width: 13em;
  -moz-column-gap: 1.5em;
  column-width: 13em;
  column-gap: 2.5em;
}

ol.toc {
  list-style-type: none;
  padding-left: 0;
  font-weight: bold;
  margin-left: 0;
}

ol.toc a {
  font-weight: normal;
}

/* Second-level TOCs should have lighter text and be smaller */

ol.toc > li > ol.toc {
  padding-bottom: 0;
  padding-top: 0.25em;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 0.9em;
  color: #aaa;
  margin-left: 0;
}

ol.toc > li {
  margin-bottom: 0;
  margin-left: 0;
  line-height: 1.5em;
}

ol.toc > li:before {
  content: "»";
  color: #ffae1a;
  position: relative;
  left: -5px;
}

ol.toc > li > ol.toc > li {
  line-height: 1.25em;
  padding-bottom: 0.25em;
}

/* Classes for spans that warn about version incompatibilities */
.versionnote {
  background-color: #ff9;
}
.versionwarning {
  background-color: #ff9;
  color: #f00;
  font-size: 1.5em;
  font-weight: bold;
}

/* The per-document version note div */

div#version-note {
  color: #d20;
  margin-top: 0.5em;
}

div#version-note > .noisy {
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
  padding: 0.5em;
}

/* New nav ULs for experimental navigation sidebar style (NF 2011.11.07) */
/* This is prototype work for the PE 2.0 manual only. */

div#subCol ul {
  font-weight: bold;
  font-size: 0.95em;
}

div#subCol h3 {
  border-bottom: 1px solid #cccccc;
}

div#subCol h3 a {
  color: #777777;
}

div#subCol > p {
  text-align: left !important;
}

div#subCol ul > li > ol.toc {
  /*padding: 0;*/ /* Okay, fine, you can keep your padding. >:| */
  margin-bottom: 0;
}

div#subCol ul > li.expanded-nav, div#subCol ul > li.hidden-nav {
  list-style-type: none;
}


div#subCol ul > li.expanded-nav:before {
  content: "–";
  font-weight: bold;
  color: #888;
}

div#subCol ul > li.hidden-nav:before {
  content: "+";
  font-weight: bold;
  color: #888;
}

div#subCol ul > li {
  font-weight: normal;
  color: #444;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-left: 1em;
}

div#subCol ul > li:before {
  content: "»";
  color: #ffae1a;
  position: relative;
  left: -5px;
  display: inline-block;
  width: 0.1em;
}

div#subCol ul:not(.doc-navigation) > li {
  text-indent: -8px;
}

div#subCol ul > li.selected:before {
  color: #777777;
}

a.disabled-nav-link {
  cursor: text;
  color: #444;
}

li.selected a.disabled-nav-link {
  font-weight: bold;
  color: rgb(96, 96, 144);
}

a.disabled-nav-link:hover {
  text-decoration: none;
}

div#subCol ul > li strong {
  cursor: pointer;
  font-weight: normal;
}

div#subCol ul > li strong:hover {
  color: #999;
}

div#subCol ul > li > ul {
  padding-bottom: 0;
  padding-top: 0.25em;
  padding-left: 1.4em;
  margin-bottom: 0;
  /*font-size: 0.9em;*/
  /*list-style-type: decimal;*/
  /*color: #aaa;*/
}

li.currentsection {
  background-color: #faf5f3;
  border-left: 2px solid #c05f1c;
  margin-left: -22px;
  padding-left: 20px;
}
li.currentpage {
  border-bottom: 1px solid #888;
  margin-bottom: 10px !important;
}
li.currentpage > ol.toc {
  margin-left: -41px;
  padding-left: 76px;
  padding-top : 0;
}

li.currentpage > ol.toc a {
  color: #888;
}

/* end prototype nav work. (NF 2011.11.07) */

/* Quick nav styling (after being moved to the sidebar instead of the masthead) (NF 2014.04.02) */

ul.doc-navigation > li:before {
  content: "" !important;
  display: inline !important;
}

ul.doc-navigation > li:first-child {
  margin-top: 0.5rem;
}

ul#docs-navigation li.with-submenu {
  width: 100%;
}

ul.doc-navigation li.with-submenu > a {
  display: block;
  position: relative;
  background: #cccccc;
  padding: 0.25em 10px;
  padding-right: 32px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  color: white;
  width: 246px;
  line-height: 1.4em;
}

ul.doc-navigation li.with-submenu:hover > a {
  background: #999999;
}

ul.doc-navigation li.with-submenu.active > a,
ul.doc-navigation li.with-submenu.active:hover > a {
  background: #222222;
}

ul.doc-navigation li.with-submenu > a span {
  font-weight: lighter;
}

ul.doc-navigation li {
  display: inline-block;
  color: white;
  margin: 0;
  margin-top: 10px;
  margin-left: 0 !important;
  margin-right: 0;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  position: relative;
}

ul.doc-navigation dt {
  color: white;
}

ul.doc-navigation li.active a {
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

ul.doc-navigation span.drop-down-trigger {
  display: block;
  width: 20px;
  height: 1.4em;
  position: absolute;
  top: 0.25em;
  right: 0.5em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  -webkit-transition: 0.125s opacity linear;
  padding: 0;
}

ul.doc-navigation span.drop-down-trigger:before {
  font-family: FontAwesome;
  content: '\f0c9';
  font-size: 1.4em;
}

ul.doc-navigation ol li:hover span.drop-down-trigger {
  opacity: 1;
  visibility: visible;
}

ul.doc-navigation li.with-submenu dl {
  background: #222222;
  left: 0;
  z-index: 10;
  font-size: 1em;
  transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  width: 288px;
  padding: 0 0 10px;
  opacity: 0;
  visibility: hidden;
  display: none;
  position: absolute;
}

ul.doc-navigation li.active.with-submenu dl {
  opacity: 1;
  visibility: visible;
}

ul.doc-navigation li.with-submenu dl:last-child {
  -webkit-border-bottom-left-radius: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

ul.doc-navigation li.with-submenu dl dt {
  padding: 0.75em 10px 0;
}

ul.doc-navigation li.with-submenu dl dd {
  padding: 0.25em 10px;
  display: block;
  line-height: 1.33em;
  margin-bottom: 0.25em;
  color: #ffffff;
}

ul.doc-navigation li.with-submenu dl dd a {
  color: #ffae1a;
}

ul.doc-navigation {
  margin: 0;
  display: inline;
}


/* #masthead */

section#masthead h1 h1:before {
  content: ": ";
  margin-left: -0.15em;
}

/* NF: lonely rules from groups I killed */
.secondary-content h4 {
  margin: 0;
  text-transform: none;
  letter-spacing: normal;
  font-size: inherit;
}


/* Shared */
/*  .primary-secondary-content */
/* -------------------------------------- */
div.primary-secondary-content:after,
div.primary-secondary-content .primary-content:after,
div.primary-secondary-content .secondary-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

div.primary-secondary-content .primary-content,
div.primary-secondary-content .secondary-content {
  width: 100%;
  float: left;
}

.primary-content h1:first-child,
.primary-content h2:first-child,
.primary-content h3:first-child {
  margin-top: 0.5rem;
}

.primary-content h1:first-child {
  font-size: 2.2em;
  font-weight: lighter;
  margin-bottom: 0;
}

/* .secondary-content */
nav.main h3:first-child {
  margin-top: 0.67em;
}

/* Form */
/* #contactform */
/* -------------------------------------- */
form fieldset.name legend{
  display: block;
}

form fieldset.name legend span{
  display: block;
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 0.275em;
  font-weight: bold;
  color: #888;
  position: relative;
  top: -0.4em;
  left: 0;
  margin: 0;
  z-index: 5;
}

form fieldset.name {
  position: relative;
}

form div.first-name,
form div.last-name {
  display: inline-block;
  margin-right: 16px;
  width: 200px;
  padding-bottom: 1em;
  margin-bottom: 0.33em;
  position: relative;
}

form div.first-name label,
form div.last-name label {
  position: absolute;
  bottom: 0.6em;
  text-transform: none;
  letter-spacing: normal;
  color: #aaa;
}

form div{
  position: relative;
}

form p {
  margin: 0;
}

fieldset legend {
  display: none;
}

input, textarea {
  display: block;
  width: 100%;
  border: 2px solid #ccc;
  padding:.35em;
  -webkit-border-radius: 0.375em;
  -moz-border-radius: 0.375em;
  border-radius: .375em;
  font-family: 'Calibre Web Light', Helvetica, Arial, sans-serif !important;
  font-size: 1em;
  margin-bottom: 1.5em !important;
  text-indent: 0.2em;
  line-height: 1.5em;
}

input {
  max-width: 200px;
}

input[type="hidden"]{
  display: none !important;
}

label {
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 0.275em;
  font-weight: bold;
  color: #888;
  margin-bottom: 0.67em;
  display: block;
}

input.error{
  border-color: #ea9b76;
  background: #ffeedb;
}

input.error:focus{
  border-color: #ccc;
  background-color: #fff;
}

label.error {
  position: absolute;
  top: 0;
  left: 200px;
  display: block;
  width: 10.5em;
  z-index: 2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #c03c00;
  color: white !important;
  padding: 0.5em;
  height: 1.2em;
  text-transform: none;
  letter-spacing: normal;
  font-size: 10px;
  font-weight: normal;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
}

div:hover > label.error{
  opacity: 1;
  visibility: visible;
}

label span.subtle {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
}

div.input-label {
  padding-left: 2em;
  position: relative;
  margin-bottom: 1.5em;
}

div.input-label label {
  cursor: pointer;
  letter-spacing: normal;
  text-transform: none;
  color: #aaa;
  position: relative;
}

div.input-label label:hover {
  text-decoration: underline;
}

div.input-label input {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  margin-left: -0.05em;
  margin-top: -0.05em;
  font-size: 1.5em;
  width: 1em;
}

/* New Satelight Nav Menu */
/* ---------------------------------------------- */
.global-header {
	position: relative;
	left: 0;
	width: 100%;
	min-width: 768px;
	z-index: 800;
	transition: background-color linear 0.2s;
	-webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

body.path-frontpage .global-header {
	background-color: rgba(0, 0, 0, 0.6);
}

body.global-header-fixed .global-header {
	height: 88px;
}

body:not(.path-frontpage) .global-header__row {
	background: #222222;
}

body.path-frontpage .global-header__row {
	background-color: transparent;
}

body.global-header-row-1-fixed .global-header__row.__row1 {
	display: none;
}

body.global-header-row-2-fixed .global-header__row.__row2 {
	background-color: #222222;
	transition: background-color linear 0.2s;
}

html.is-touch .global-header__row.__row2 {
	background-color: #222222;
}

.global-header__row {
	position: relative;
}

.global-header__row.__row1 {
	display: table;
	width: 100%;
	height: 46px;
	font-size: 100%;
}

.global-header__row.__row1 .global-header__nav-satellite {
	display: table-cell;
	vertical-align: middle;
	overflow: none;
	border-bottom: 1px solid #303030;
	transition: color 0.2s linear, background-color 0.2s linear;
}
.global-header__row.__row1 .global-header__nav-satellite .home {
  color: #ffffff;
}

.global-header__row.__row1 .global-header__nav-satellite .offsite {
  color: #dbdada;
}

.global-header__row.__row1 .global-header__nav-satellite .docs {
  color: #ffae1a;
}

.global-header__row.__row1 .global-header__nav-satellite:first-child {
	width: 14rem;
	min-width: 14rem;
}

.global-header__row.__row1 .global-header__nav-satellite__item {
	float: left;
	padding: 0 10px;
	margin-left: 10px;
}

.global-header__row.__row1 .global-header__nav-satellite__item:first-child {
	margin-left: 14px;
}

.global-header__row.__row1 .global-header__nav-satellite__item:hover {
	transition: color 0.2s linear;
}

.global-header__row.__row1 .global-header__nav-satellite__item a {
	position: relative;
	font-size: 0.9rem;
	text-decoration: none;
	color: white;
	transition: color 0.2s linear;
}

.global-header__row.__row1 .global-header__nav-satellite__item a:hover,
.global-header__row.__row1 .global-header__nav-satellite__item a:active {
	color: white;
	transition: color 0.2s linear;
}

.global-header__row.__row2 {
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
	font-size: 120%;
}

.global-header__nav-satellite__item  .spacer {
   margin: 0 12px;
}

.global-header__row.__row2 .global-header__row__col {
	display: table-cell;
	vertical-align: middle;
}

.global-header__row.__row2 .global-header__row__col.__col1 {
	width: 190px;
	padding-left: 37px;
	padding-top: 22px;
	text-align: left;
	vertical-align: top;
	transition: padding-top 0.2s linear;
}

body.global-header-row-2-fixed .global-header__row.__row2 .global-header__row__col.__col1 {
	padding-top: 19px;
	transition: padding-top 0.2s linear;
}

.global-header__row.__row2 .global-header__nav-main .dropdown .dropdown-grow-bar {
  position: absolute;
  top: -1px;
  width: 0;
  height: 1px;
  background-color: #ffad1a;
  transition: width 600ms ease-out;
}

.global-header__row.__row2 .global-header__row__col.__col1 img {
	width: auto;
	height: 46px;
}

.global-header__row.__row2 .global-header__row__col.__col2 {
	width: 100%;
}

.global-header__row.__row2 .global-header__nav-main {
	width: 100%;
	float: left;
	height: 88px;
	padding-bottom: 12px;
	transition: padding-bottom linear 0.2s;
}

body.global-header-row-2-fixed .global-header__row.__row2 .global-header__nav-main {
	padding-bottom: 10px;
	transition: padding-bottom linear 0.2s;
}

.global-header__row.__row2 .global-header__nav-main__item {
	position: relative;
	float: left;
	display: table;
	margin: 34px 25px 0 17px;
}

.global-header__row.__row2 .global-header__nav-main__item:hover {
  background: #323232;
}

.global-header__row.__row2 .global-header__nav-main__item a.dropdown__tab .dropdown__tab__title {
  padding: 7px 6px;
  font-family: "Calibre Web Medium";
  color: white;
  transition: background-color 0.2s linear;
}

.global-header__row.__row2 .global-header__nav-main__item:last-child {
	padding-right: 20px;
}

.global-header__row.__row2 .global-header__nav-main__item.hamburger,
.global-header__row.__row2 .global-header__nav-main__item.search {
	float: right;
}

.global-header__row.__row2 .global-header__nav-main__item.hamburger a.dropdown__tab,
.global-header__row.__row2 .global-header__nav-main__item.search a.dropdown__tab {
	padding-top: 10px;
	transition: padding-bottom 0.2s linear;
}

body.search-open .global-header__row.__row2 .global-header__nav-main__item.hamburger a.dropdown__tab,
body.search-open .global-header__row.__row2 .global-header__nav-main__item.search a.dropdown__tab {
	padding-top: 10px;
	transition: padding-bottom 0.2s linear;
}

body.search-open .global-header__row.__row2 .global-header__nav-main__item a.dropdown__tab {
	opacity: 0;
}

body.search-open .global-header__row.__row2 .global-header__nav-main__item.search a.dropdown__tab,
body.search-open .global-header__row.__row2 .global-header__nav-main__item.hamburger a.dropdown__tab {
	opacity: 1;
}

.global-header__row.__row2 .global-header__nav-main__item a.dropdown__tab {
	display: table-cell;
	vertical-align: bottom;
	border-bottom: 4px solid transparent;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	cursor: pointer;
	transition: color 0.2s linear;
}

.global-header__row.__row2 .global-header__nav-main .search a img {
	position: relative;
	display: block;
	height: 20px;
	width: auto;
	z-index: 1;
}

.global-header__row.__row2 .global-header__nav-main .search a .search-amber {
	display: none;
}

.global-header__row.__row2 .global-header__nav-main .search a.hover .search-amber,
body.search-open .global-header__row.__row2 .global-header__nav-main .search a .search-amber {
	display: block;
}

.global-header__row.__row2 .global-header__nav-main .search a.hover .search-white,
body.search-open .global-header__row.__row2 .global-header__nav-main .search a .search-white {
	display: none;
}

.global-header__row.__row2 .global-header__nav-main .search .search-slider {
	position: absolute;
	z-index: 0;
	right: -6px;
	width: 0;
	height: 100%;
	display: none;
}

.global-header__row.__row2 .global-header__nav-main .search .search-slider .search-slider-table {
	display: table;
	height: 100%;
	width: 100%;
}

.global-header__row.__row2 .global-header__nav-main .search .search-slider .search-slider-table__cell {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}

.global-header__row.__row2 .global-header__nav-main .search .search-slider .search-slider-table__cell input {
	width: 98%;
	max-width: 100%;
	padding: 5px 10px;
	color: white;
	font-family: 'CalibreWeb-Light', Helvetica, Arial, sans-serif;
	border: 1px solid #3a3a3a;
	border-radius: 0;
	background-color: #222222;
}

body.global-header-row-2-fixed .global-header__row.__row2 .global-header__nav-main .search .search-slider .search-slider-table__cell {
	vertical-align: bottom;
	padding-bottom: 15px;
}

#cse-search-box {
  display: none;
}

/* Site Footer */
/* -------------------------------------- */
.layout-footer {
	margin: 0 auto;
	max-width: 100%;
	min-width: 768px;
	position: relative;
	padding: 60px 0 0 0;
	background: #222222;
	color: rgba(219, 218, 218, 0.5);
	opacity: 1;
	transition: opacity 1s linear;
	-webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.layout-footer.active {
	opacity: 1;
	transition: opacity 1s linear;
}

.layout-footer a {
	color: rgba(255, 255, 255, 0.8);
	font-size: 1em;
	text-decoration: none;
	transition: color 0.2s linear;
}

.layout-footer a:hover,
.layout-footer a:active {
	color: white;
	transition: color 0.2s linear;
}

.layout-footer .footer-row-1 {
	margin: 0 auto;
	max-width: 76rem;
	padding: 0 10px;
	min-height: 260px;
}

.layout-footer .footer-row-1:before,
.layout-footer .footer-row-1:after {
	content: "";
	display: table;
}

.layout-footer .footer-row-1:after {
	clear: both;
}

.layout-footer .footer-row-1 > .fg-col {
	font-size: 0.9em;
}

.layout-footer .footer-row-1 > .fg-col:first-child {
	position: relative;
	float: left;
}

.layout-footer .footer-row-1 > .fg-col:first-child {
	box-sizing: border-box;
}

.layout-footer .footer-row-1 > .fg-col:first-child:before,
.layout-footer .footer-row-1 > .fg-col:first-child:after {
	content: " ";
	display: table;
}

.layout-footer .footer-row-1 > .fg-col:first-child:after {
	clear: both;
}

html.csscalc .layout-footer .footer-row-1 > .fg-col:first-child {
	margin-left: 20px;
}

html:not(.csscalc) .layout-footer .footer-row-1 > .fg-col:first-child {
	margin-left: 1.6%;
}

html.csscalc .layout-footer .footer-row-1 > .fg-col:first-child:first-child,
html:not(.csscalc) .layout-footer .footer-row-1 > .fg-col:first-child:first-child {
	margin-left: 0;
}

html.csscalc .layout-footer .footer-row-1 > .fg-col:first-child {
	width: -webkit-calc(66.6666% - (20px / 2));
	width: calc(66.6666% - (20px / 2));
}

html:not(.csscalc) .layout-footer .footer-row-1 > .fg-col:first-child {
	width: 65.8666%;
}

.layout-footer .footer-row-1 > .fg-col:last-child {
	position: relative;
	float: left;
}

.layout-footer .footer-row-1 > .fg-col:last-child {
	box-sizing: border-box;
}

.layout-footer .footer-row-1 > .fg-col:last-child:before,
.layout-footer .footer-row-1 > .fg-col:last-child:after {
	content: " ";
	display: table;
}

.layout-footer .footer-row-1 > .fg-col:last-child:after {
	clear: both;
}

html.csscalc .layout-footer .footer-row-1 > .fg-col:last-child {
	margin-left: 20px;
}

html:not(.csscalc) .layout-footer .footer-row-1 > .fg-col:last-child {
	margin-left: 1.6%;
}

html.csscalc .layout-footer .footer-row-1 > .fg-col:last-child:first-child,
html:not(.csscalc) .layout-footer .footer-row-1 > .fg-col:last-child:first-child {
	margin-left: 0;
}

html.csscalc .layout-footer .footer-row-1 > .fg-col:last-child {
	width: -webkit-calc(33.3333% - (20px / 2));
	width: calc(33.3333% - (20px / 2));
}

html:not(.csscalc) .layout-footer .footer-row-1 > .fg-col:last-child {
	width: 32.5333%;
}

.layout-footer .footer-row-1 > .fg-col h3 {
	margin: 18px 0 20px 0;
	color: rgba(219, 218, 218, 0.5);
	font-size: 1em;
	letter-spacing: 2px;
}

.layout-footer .footer-row-1 > .fg-col ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.layout-footer .footer-row-1 > .fg-col ul li + li {
	margin-top: 10px;
}

.layout-footer .footer-row-1 > .fg-col p {
	margin: 0 0 20px 0;
}

.layout-footer .footer-row-1 > .fg-col input[type="email"] {
	width: 100%;
	max-width: 100%;
	padding: 10px;
	background: #222222;
	border: 1px solid rgba(219, 218, 218, 0.1);
	border-radius: 0;
	font-family: 'CalibreWeb-Light', Helvetica, Arial, sans-serif !important;
}

.layout-footer .footer-row-1 .puppet-logo {
	width: 100%;
	max-width: 100px;
	height: auto;
}

.layout-footer .footer-row-1 .social-icon {
	float: left;
}

.layout-footer .footer-row-1 .social-icon + .social-icon {
	margin-left: 10px;
}

.layout-footer .footer-row-1 .social-icon img {
	width: 20px;
	height: auto;
}

.layout-footer .footer-row-2 {
	margin-top: 20px;
	border-top: 1px solid rgba(219, 218, 218, 0.1);
	overflow: auto;
	font-size: .8em;
}

.layout-footer .footer-row-2 .footer-row-2-wrapper {
	overflow: auto;
	padding: 10px;
	margin: 0 auto;
	max-width: 960px;
}

.layout-footer .footer-row-2 .footer-row-2-wrapper a {
	float: left;
	color: rgba(219, 218, 218, 0.5);
}

.layout-footer .footer-row-2 .footer-row-2-wrapper a + a {
	margin-left: 20px;
}

.layout-footer .footer-row-2 .footer-row-2-wrapper .footer-row-2-col-1 {
	float: left;
}

.layout-footer .footer-row-2 .footer-row-2-wrapper .footer-row-2-col-2 {
	float: right;
}

.layout-footer .fg-col {
  display: block;
  float: left;
  width: 25%;
}

.social-icon img {
  opacity: 0.7;
  transition: all 1s linear;
}

.social-icon img:hover {
  opacity: 1;
  transition: all 1s linear;
}

/*  Copyright */
/* -------------------------------------- */
div#copyright {
  color: #555;
  font-size: 0.85em;
  padding: 1em 0;
  margin-bottom: 1em;
}

div#copyright a {
  color: inherit;
}

div#copyright .vcard span.org:after,
div#copyright .vcard .adr:before,
div#copyright .vcard .adr:after {
  content: "•";
  padding-left: 0.8em;
  padding-right: 0.8em;
}

div#copyright .vcard span.org:after {
  padding-left: 1.0em;
}

/* Marketo form styles */
/* -------------------------------------------- */
#mktoForm_1416 {
  width: 512px !important;
}
#mktoForm_1416 .mktoFormCol {
  width: 100%;
}
#mktoForm_1416 .mktoFieldWrap {
  width: 100%;
}

/* Animations (used in masthead edit button) */
/* -------------------------------------------- */
@-webkit-keyframes pulse-dark{
  0% {
    background-color: rgba(0,0,0,0.25);
  }

  50% {
    background-color: rgba(0,0,0,0.5);
    border-color: rgba(0,0,0,0.25);
  }

  100% {
    background-color: rgba(0,0,0,0.25);
  }
}
