<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  	<title>{{page.title}} — Documentation — Puppet</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  	<link rel="alternate" type="application/atom+xml" title="Puppet Documentation Updates" href="https://github.com/puppetlabs/puppet-docs/commits/master.atom">
    <link rel="alternate" type="application/atom+xml" title="Puppet Blog Feed" href="http://puppetlabs.com/feed/">
    <link rel='index' title='Puppet Documentation' href='https://docs.puppet.com' />
    <link rel='icon' href='/favicon.ico' />

     {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | truncate:300 | strip_html | strip_newlines | condense_spaces }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description }}">

      <!--[if gte IE 9]>
      <style type="text/css">
          .gradient {
              filter: none;
          }
      </style>
      <![endif]-->

<!-- Google analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1537572-5']);
  _gaq.push(['_setDomainName', 'puppetlabs.com']);
  _gaq.push(['_addIgnoredRef', 'puppetlabs.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
</script>
<!-- End Google analytics -->


    <!-- FIXME: absolute paths -->

    <script type='text/javascript' src='/files/javascripts/html5.js'></script>
    <script type='text/javascript' src='/files/javascripts/jquery-1.11.1.min.js'></script>
    <script type='text/javascript' src='/files/javascripts/quick_nav.js'></script>
    <script type='text/javascript' src='/files/javascripts/navigation-accordion.js'></script>
    <script type='text/javascript' src='/files/javascripts/search-toggle.js'></script>

    <script type="text/javascript" src="https://puppet.com/sites/all/themes/puppetlabs/js/leadcapture.js"></script>

    <!-- All in One SEO Pack 1.6.10.1 by Michael Torbert of Semper Fi Web Design[127,146] -->
    <meta name="keywords" content="Puppet, puppet labs, reductive labs, open source, system administrator, ruby, data center, automation, support" />
    <!-- /all in one seo pack -->

    <!-- Set a canonical URL, in the following order: 1. explicit, from yaml frontmatter; 2. implicit, from document data; 3. singleton, from page URL. -NF -->
    <link rel="canonical" href="https://docs.puppet.com{% if page.canonical %}{{page.canonical}}{% elsif page.doc %}{% assign latest_baseurl = site.document_version_index[page.doc.doc]['latest'] %}{% change_baseurl page.url page.doc.base_url latest_baseurl %}{% else %}{{page.url}}{% endif %}" />

    <!-- FIXME: absolute paths -->

    <link rel="stylesheet" type="text/css" href="/files/stylesheets/prism.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/files/stylesheets/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/files/stylesheets/syntax.css" media="screen"> <!-- index -->

    <!--[if IE 7]>
	  <link rel="stylesheet" type="text/css" href="/files/stylesheets/ie_7.css" media="screen"> <!-- index -->
    <![endif]-->

    <!--[if IE 8]>
	    <link rel="stylesheet" type="text/css" href="/files/stylesheets/ie_8.css" media="screen"> <!-- index -->
    <![endif]-->

    {% include anchor_links.html %}
</head>




  <body id="puppetlabsdocs" class="docs">
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PF6FV6"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PF6FV6');</script>
  <!-- End Google Tag Manager -->
  <style type="text/css">h1, h2{ visibility : hidden }</style>
  <!--[if IE 8]>
    <style type="text/css">h1, h2{ visibility : visible }</style>
  <![endif]-->

  <!-- Hidden Search Field -->
  <form action="https://www.google.com/cse" id="cse-search-box">
      <div>
          <input type="hidden" name="cx" value="018276284386040486881:wgstg4mh_uq" />
          <input type="hidden" name="ie" value="UTF-8" />
          <input type="text" name="q" class="gsc-input" size="31" />
          <input type="submit" name="sa" class="searchbtn" value="Search" />
      </div>
  </form>

  <!-- Rebuild of Site Header -->
    <header>
      <div class="global-header">
        <div class="global-header__row __row1">
          <nav class="global-header__nav-satellite"></nav>
          <nav class="global-header__nav-satellite">
            <div class="global-header__nav-satellite__item">
              <a href="//www.puppet.com" class="home" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Home']);">Home</a>
            </div>
            <div class="global-header__nav-satellite__item">
              <a href="//forge.puppet.com/" class="offsite forge" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Forge']);">Forge</a>
            </div>
            <div class="global-header__nav-satellite__item">
              <a href="//docs.puppet.com" class="offsite docs" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Docs']);">Docs</a>
            </div>
            <div class="global-header__nav-satellite__item">
              <a href="//learn.puppet.com/" class="offsite learn" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Training']);">Learn</a>
            </div>
            <div class="global-header__nav-satellite__item">
              <span class="spacer"></span>
            </div>
            <div class="global-header__nav-satellite__item">
              <a href="//www.puppet.com/support" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Help']);">Support &amp; Services</a>
            </div>
            <div class="global-header__nav-satellite__item">
              <a href="//www.puppet.com/contact" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Contact']);">Contact Us</a>
            </div>
          </nav>
        </div>
        <div class="global-header__row __row2">
          <div class="global-header__row__col __col1">
            <a href="http://www.puppet.com">
              <img src="/images/puppet-logo/puppet-logo-amber-white-lg.png">
            </a>
          </div>
          <div class="global-header__row__col __col2">
            <nav class="global-header__nav-main">

              <!-- Puppet Enterprise -->
              <div class="global-header__nav-main__item dropdown">
                <a href="/" class="dropdown__tab">
                  <div class="dropdown__tab__title">Documentation</div>
                  <div class="dropdown__tab__indicator product"></div>
                </a>
                <div class="dropdown-grow-bar"></div>
              </div>

              <!-- Search -->
              <div class="global-header__nav-main__item search">
                <a class="dropdown__tab">
                  <img class="search-white" src="/images/puppet-icons/search-white-2.svg" alt="Search">
                  <img id="search-icon" class="search-amber" src="/images/puppet-icons/search-amber.svg" alt="Search">
                </a>
              <div class="search-slider">
                <div class="search-slider-table">
                  <div class="search-slider-table__cell">
                    <input id="search-container" class="search-slider-table__cell__input" type="text">
                  </div>
                </div>
              </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

  <section id="masthead">
    <div class="site-width">
      <h1>{% include quick_nav.html %} / {% include version_switcher.html %}</h1>
    </div>
  </section>

  <section id="content">
    <div class="site-width">
      <div class="primary-secondary-content">
        <div class="primary-content">
          <h1>{% if page.subtitle %}{{page.subtitle}}{% else %}{{page.title}}{% endif %}</h1>
          <div id="version-note"> {% include version_note.html %} </div>
          {% unless page.toc == 'false' or page.toc == false %}<nav class="in-page{% if page.toc == 'columns' %} multi-column{% endif %}" id="page-nav">{{ content | toc: page.toc_levels }}</nav>{% endunless %}
	  <div id="rendered-markdown">
            {{ content }}
	  </div>
          <blockquote><p style="font-size: 1.3em; text-align: center;"><a href="#content">↑ Back to top</a></p></blockquote>
        </div>
        <nav class="main">
              <div id="subCol">
                  {% partial {{page.nav}} %}
              </div>
        </nav>
      </div>
    </div>
  </section>


  <footer class="layout-footer">
      <div class="footer-row-1">
        <div class="fg-col">

          <div class="fg-col">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/232088/puppet-logo-white-sm.png" class="puppet-logo">
          </div>

          <div class="fg-col">
            <h3>Overview</h3>
            <ul>
              <li><a href="//www.puppet.com/product" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Product']);">Product</a></li>
              <li><a href="//www.puppet.com/solutions" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Solutions']);">Solutions</a></li>
              <li><a href="//www.puppet.com/resource-library" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Resource Library']);">Resource Library</a></li>
              <li><a href="//www.puppet.com/company" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Company']);">Company</a></li>
              <li><a href="//www.puppet.com/open-source-projects" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Open Source Projects']);">Open Source Projects</a></li>
              <li><a href="//www.puppet.com/security" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Security']);">セキュリティ</a></li>
            </ul>
          </div>

          <div class="fg-col">
            <h3>Resources</h3>
            <ul>
              <li><a href="//www.puppet.com/get-help" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Get Help']);">Get Help</a></li>
              <li><a href="//puppet.com/find-a-partner" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Find a Partner']);">Find a Partner</a></li>
              <li><a href="//www.puppet.com/training" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Training']);">Training</a></li>
              <li><a href="//www.puppet.com/downloads" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Download']);">Download</a></li>
              <li><a href="//www.puppet.com/sitemap" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Site Map']);">Site Map</a></li>
            </ul>
          </div>

          <div class="fg-col">
            <h3>Connect</h3>
            <ul>
              <li><a href="//www.puppet.com/contact" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Contact Us']);">Contact Us</a></li>
              <li><a href="//tickets.puppet.com/events" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Events']);">Events</a></li>
              <li><a href="//www.puppet.com/blog" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Blog']);">Blog</a></li>
            </ul>
          </div>
        </div>

        <div class="fg-col">
          <h3>Join our newsletter</h3>
          <p>Join up and get notified about new products, updates, and special offers.</p>
          <form class="lpeRegForm formNotEmpty" method="post" enctype="application/x-www-form-urlencoded" action="https://app-sjh.marketo.com/index.php/leadCapture/save" id="mktForm_1047" name="mktForm_1047">
            <input class='mktFormText mktFormEmail mktFReq' name="Email" id="Email" type='email' value=""  placeholder="Enter your email" maxlength='255' tabIndex='1'>
            <input class='mktFormHidden' name="Form_Name__c" id="Form_Name__c" type='hidden' value="Newsletter">
            <input class='mktFormHidden' name="Current_Form_Name__c" id="Current_Form_Name__c" type='hidden' value="Newsletter">
            <input class='mktFormHidden' name="Original_Campaign_ID__c" id="Original_Campaign_ID__c" type='hidden' value="701G0000000F68K">
            <input class='mktFormHidden' name="campaign_ID__c" id="campaign_ID__c" type='hidden' value="701G0000000F68K">
            <input class='mktFormHidden' name="Current_Lead_Source__c" id="Current_Lead_Source__c" type='hidden' value="website-corporate">
            <input class='mktFormHidden' name="LeadSource" id="LeadSource" type='hidden' value="website-corporate">
            <input class='mktFormHidden' name="Custom_Campaign__c" id="Custom_Campaign__c" type='hidden' value="null">
            <input class='mktFormHidden' name="Current_Custom_Campaign__c" id="Current_Custom_Campaign__c" type='hidden' value="null">
            <input class='mktFormHidden' name="honeypot" id="honeypot" type='hidden' value="null">
            <input id='mktFrmSubmit' style="display:none;" type='submit' value='&#xf0a9;' name='submitButton'>
            <span style="display:none;"><input type="text" name="_marketo_comments" value=""></span>
            <input type="hidden" name="lpId" value="-1">
            <input type="hidden" name="subId" value="100">
            <input type="hidden" name="munchkinId" value="307-QLA-991">
            <input type="hidden" name="kw" value="">
            <input type="hidden" name="cr" value="">
            <input type="hidden" name="searchstr" value="">
            <input type="hidden" name="lpurl" value="http://info.puppetlabs.com/newslettersubscribe.html?cr={creative}&kw={keyword}">
            <input type="hidden" name="formid" value="1047">
            <input type="hidden" name="returnURL" value="http://www.puppet.com">
            <input type="hidden" name="retURL" value="http://www.puppet.com/misc/subscription-thank-you">
            <input type="hidden" name="returnLPId" value="-1">
            <input type="hidden" name="_mkt_disp" value="return">
            <input type="hidden" name="_mkt_trk" value="">
          </form>
          <script type="text/javascript" src="//puppet.com/sites/default/files/mktFormSupport.js"></script>

          <script type="text/javascript">
            // Handle routing of search to real (hidden) search input
            $("#search-container").on( 'keypress', function (e) {
              if (e.keyCode == 13) {
                $('#cse-search-box [type="text"]').val($("#search-container").val());
                $('#cse-search-box [type="submit"]').click();
                return false;
              }
            });
            $("#search-icon").on( 'click', function(e) {
              $('#cse-search-box [type="text"]').val($("#search-container").val());
              $('#cse-search-box [type="submit"]').click();
            });

            $( '#Email' ).on( 'keypress', function (evt) {
              if (evt.keyCode == 13) {
                $( '#mktFrmSubmit' ).click();
                return false;
              }
            });
          </script>
          <p>
            <a href="https://twitter.com/puppetlabs" class="social-icon" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Twitter']);"><img src="/images/social-icons/twitter-box-white.svg" alt="Twitter"></a>
            <a href="https://www.linkedin.com/company/621389" class="social-icon" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'LinkedIn']);"><img class="social-icon" src="/images/social-icons/linkedin-box-white.svg" alt="LinkedIn"></a>
            <a href="https://www.facebook.com/puppetlabs" class="social-icon" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Facebook']);"><img class="social-icon" src="/images/social-icons/facebook-box-white.svg" alt="Facebook"></a>
            <a href="https://www.youtube.com/channel/UCPfMWIY-qNbLhIrbZm2BFMQ" class="social-icon" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'YouTube']);"><img class="social-icon" src="/images/social-icons/youtube-white.svg" alt="Youtube"></a>
            <a href="https://plus.google.com/112682055028218091774" class="social-icon" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Google+']);"><img class="social-icon" src="/images/social-icons/g-plus-white.svg" alt="Google+"></a>
          </p>
        </div>
      </div>
      <div class="footer-row-2">
        <div class="footer-row-2-wrapper">
          <div class="footer-row-2-col-1">
            <a href="//www.puppet.com/legal" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Legal']);">Legal</a>
            <a href="//www.puppet.com/privacy" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Privacy Policy']);">Privacy Policy</a>
            <a href="http://www.puppet.com/terms" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Terms of Use']);">Terms of Use</a>
          </div>
          <div class="footer-row-2-col-2">
            <a href="/">&copy; 2016 Puppet</a>
          </div>
        </div>
      </div>
    </footer>

  <script type="text/javascript">
      jQuery(document).on('ready', function() {

          // Make sure active link in menu doesn't have a hilighted chevron
          jQuery('.disabled-nav-link').parent().addClass('selected');
      });
  </script>

  	<style type="text/css">h1, h2, .btn { visibility : visible; }</style>


<!-- BEGIN: MARKETO TRACKING -->
<!-- Per Alanna, this must be directly before the closing body tag. -->
    <script src="https://munchkin.marketo.net/munchkin.js" type="text/javascript"></script> <script>mktoMunchkin("307-QLA-991");</script>
 <!-- END: MARKETO TRACKING -->
    <script type="text/javascript" src="/files/javascripts/prism.js"></script>
	</body>
</html>
