<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  	<title>{{page.title}}</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  	<link rel="alternate" type="application/atom+xml" title="Puppet Labs Documentation Updates" href="https://github.com/puppetlabs/puppet-docs/commits/master.atom">
    <link rel="alternate" type="application/atom+xml" title="Puppet Labs Blog Feed" href="http://puppetlabs.com/feed/">
    <link rel='index' title='Puppet Labs Documentation' href='https://docs.puppetlabs.com' />
    <link rel='icon' href='/favicon.ico' />
    <meta name="description" content="Welcome to the Puppet Labs Documentation Site: Curated documentation for Puppet and Puppet Enterprise">

<!-- Google analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1537572-5']);
  _gaq.push(['_setDomainName', 'puppetlabs.com']);
  _gaq.push(['_addIgnoredRef', 'puppetlabs.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
</script>
<!-- End Google analytics -->


    <!-- FIXME: absolute paths -->

    <script type='text/javascript' src='/files/javascripts/html5.js'></script>
    <script type='text/javascript' src='/files/javascripts/jquery-1.11.1.min.js'></script>
    <script type='text/javascript' src='/files/javascripts/quick_nav.js'></script>
    <script type="text/javascript" src="https://puppetlabs.com/sites/all/themes/puppetlabs/js/leadcapture.js"></script>

    <!-- All in One SEO Pack 1.6.10.1 by Michael Torbert of Semper Fi Web Design[127,146] -->
    <meta name="keywords" content="Puppet, puppet labs, reductive labs, open source, system administrator, ruby, data center, automation, support" />
    <!-- /all in one seo pack -->

    <!-- Give us the option of setting a canonical URL in yaml frontmatter -NF -->
    <link rel="canonical" href="https://docs.puppetlabs.com{% if page.canonical %}{{page.canonical}}{% else %}{{page.url}}{% endif %}" />

    <!-- FIXME: absolute paths -->

    <link rel="stylesheet" type="text/css" href="/files/stylesheets/style.css" media="screen">
      <link rel="stylesheet" type="text/css" href="/files/stylesheets/homepage.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/files/stylesheets/syntax.css" media="screen"> <!-- index -->

    <!--[if IE 7]>
	  <link rel="stylesheet" type="text/css" href="/files/stylesheets/ie_7.css" media="screen"> <!-- index -->
    <![endif]-->

    <!--[if IE 8]>
	    <link rel="stylesheet" type="text/css" href="/files/stylesheets/ie_8.css" media="screen"> <!-- index -->
    <![endif]-->

</head>




  <body id="puppetlabsdocs" class="docs">
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PF6FV6"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PF6FV6');</script>
  <!-- End Google Tag Manager -->
  <style type="text/css">h1, h2{ visibility : hidden }</style>
  <!--[if IE 8]>
    <style type="text/css">h1, h2{ visibility : visible }</style>
  <![endif]-->

  <!-- Hidden Search Field -->
  <form action="https://www.google.com/cse" id="cse-search-box">
      <div>
          <input type="hidden" name="cx" value="017668764424496204839:ubligvgbenm" />
          <input type="hidden" name="ie" value="UTF-8" />
          <input type="text" name="q" class="gsc-input" size="31" />
          <input type="submit" name="sa" class="searchbtn" value="Search" />
      </div>
  </form>

  <!-- Rebuild of Site Header -->
  <header id="site-header">
      <div id="morebar">
          <ul>
              <li class="home">
                  <a href="https://puppetlabs.com/" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Home']);">
                      <img src="/images/svg/icon-home.svg" />
                      <span>home</span>
                  </a>
              </li>
              <li class="forge">
                  <a href="https://forge.puppetlabs.com" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Forge']);">
                      <img src="/images/svg/icon-tools.svg" />
                      <span>forge</span>
                  </a>
              </li>
              <li class="docs">
                  <a href="https://docs.puppetlabs.com" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Docs']);">
                      <img src="/images/svg/icon-book.svg" />
                      <span>docs</span>
                  </a>
              </li>
              <li class="learn">
                  <a href="https://puppetlabs.com/learn" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Training']);">
                      <img src="/images/svg/icon-graduation-cap.svg" />
                      <span>learn</span>
                  </a>
              </li>
              <li class="community">
                  <a href="https://puppetlabs.com/community/overview" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Community']);">
                      <img src="/images/svg/icon-users.svg" />
                      <span>community</span>
                  </a>
              </li>
              <li class="tickets">
                  <a href="https://tickets.puppetlabs.com" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'JIRA']);">
                      <img src="/images/svg/icon-ticket.svg" />
                      <span>tickets</span>
                  </a>
              </li>
              <li class="help">
                  <a href="https://puppetlabs.com/help" onclick="_gaq.push(['_trackEvent', 'Toolbar', 'click', 'Help']);">
                      <img src="/images/svg/icon-help-circled.svg" />
                      <span>help</span>
                  </a>
              </li>
          </ul>
      </div>
      <div id="navbar" class="gradient">
          <!-- Logo -->
          <div id="navbar-logo" class="navbar-section">
              <div class="centered">
                  <a href="https://puppetlabs.com/">
                      <img src="/images/svg/logo.svg">
                  </a>
              </div>
          </div>

          <!-- Title -->
          <div id="navbar-title" class="navbar-section">
              <div class="centered">
                  <a href="http://docs.puppetlabs.com">Documentation</a>
              </div>
          </div>

          <!-- Search -->
          <div id="navbar-search" class="navbar-section">
              <div class="centered">
                  <div id="search-container">
                      <input type="text" placeholder="search" class="gradient">
                      <input type="submit" value="&#xf002;">
                  </div>
              </div>
          </div>

          <script type="text/javascript">

              // Handle routing of search to real (hidden) search input
              var search_input = jQuery("#search-container [type='text']");
              var search_icon = jQuery("#search-container [type='submit']");
              search_input.keyup(function (e) {
                  if (e.keyCode == 13) {
                      jQuery('#cse-search-box [type="text"]').val(search_input.val());
                      jQuery('#cse-search-box [type="submit"]').click();
                  }
              });
              search_icon.click(function(e) {
                  jQuery('#cse-search-box [type="text"]').val(search_input.val());
                  jQuery('#cse-search-box [type="submit"]').click();
              });
          </script>
      </div>
  </header>

  <!--
  <section id="masthead">
    <div class="site-width">
      <h1>Docs: <span class="section-name">{{page.title}}</span></h1>
    </div>
    <br />
  </section>

  <section id="content">
    <div class="site-width">
      <div class="primary-secondary-content">
        <div class="primary-content">
          <h1>{% if page.subtitle %}{{page.subtitle}}{% else %}{{page.title}}{% endif %}</h1>
          {% unless page.toc == 'false' or page.toc == false %}<nav class="in-page">{{ content | toc }}</nav>{% endunless %}
          {{ content }}
          <blockquote><p style="font-size: 1.3em; text-align: center;"><a href="#content">↑ Back to top</a></p></blockquote>
        </div>
        <nav class="main">
              <div id="subCol">
                  <ul id="doc-navigation">
                    <li class="with-submenu">
                      <a href="#">
                        <span>Docs Quick Nav</span>
                        <span class="drop-down-trigger"></span>
                      </a>
                       {% include quick_nav.html %}
                    </li>
                  </ul>
              </div>
        </nav>
      </div>
    </div>
  </section>
  -->

  <section id="content">
      <div class="site-width">

          <!-- homepage header and language selector -->
          <div class="homepage-header">
              <div class="hh-col title">
                  <h1>Puppet Labs Documentation</h1>
              </div>
              <div class="hh-col language">
                  <select id="language-select">
                      <option>Select a Language</option>
                      <option data-language="spanish" data-url="http://docs.puppetlabs.com/es/">Español</option>
                      <option data-language="japanese" data-url="http://docs.puppetlabs.com/ja/">日本語</option>
                  </select>
                  <script type="text/javascript">
                      jQuery('#language-select').on('change', function() {
                          var optionSelected = $("option:selected", this);
                          if (optionSelected.attr('data-language') != 'null') {
                              window.location = optionSelected.attr('data-url');
                          }
                      });
                  </script>
              </div>
          </div>

          <!-- call out boxes -->
          <div class="homepage-callout">
              <div class="hc-wrapper">
                  <div class="hc-col left">
                      <div class="hc-col-box">
                          <h2>Puppet Enterprise</h2>
                          <p>
                              Puppet Enterprise makes it easy to automate repetitive tasks, quickly deploy critical applications, and proactively manage infrastructure, both on-premise and in the cloud.
                          </p>
                          <a href="/pe/latest/index.html" class="btn homepage">Go to Puppet Enterprise docs</a>
                          <div class="hc-hr">
                              <div class="hc-hr-wrapper">
                                  <hr>
                                  <div class="img"></div>
                              </div>
                          </div>
                          <div class="hc-col-subtitle">
                              Browse Topics
                          </div>
                          <div class="hc-col-list">
                              <div class="hc-col-list-col">
                                  <ul>
                                      <li>
                                          <a href="/pe/latest/release_notes.html">Release Notes</a>
                                      </li>
                                      <li>
                                          <a href="/pe/latest/quick_start.html">Quick Start For *Nix</a>
                                      </li>
                                      <li>
                                          <a href="/pe/latest/quick_start.html">Quick Start for Windows</a>
                                      </li>
                                      <li>
                                          <a href="/pe/latest/quick_start_essential_config.html">Essential Configuration Tasks</a>
                                      </li>
                                      <li>
                                          <a href="/pe/latest/install_system_requirements.html">System Requirements</a>
                                      </li>
                                      <li>
                                          <a href="/pe/latest/install_pe_mono.html">Installing PE</a>
                                      </li>
                                      <li>
                                          <a href="/pe/latest/install_upgrading.html">Upgrading PE</a>
                                      </li>
                                  </ul>
                              </div>
                              <div class="hc-col-list-col">
                                  <ul>
                                  <li>
                                          <a href="/pe/latest/console_cert_mgmt.html">Managing Nodes</a>
                                      </li>
                                      <li>
                                          <a href="/pe/latest/rbac_intro.html">Managing Users</a>
                                      </li>
                                      <li>
                                          <a href="/pe/latest/config_intro.html">Configuring PE</a>
                                      </li>

                                      <li>
                                          <a href="/pe/latest/razor_intro.html">Razor Provisioning</a>
                                      </li>
                                      <li>
                                          <a href="/pe/latest/r10k.html">Code Management with r10k</a>
                                      </li>
                                      <li>
                                          <a href="/pe/latest/orchestration_overview.html">Orchestration</a>
                                      </li>
                                      <li>
                                          <a href="/pe/latest/overview_getting_support.html">Getting Support for PE</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="hc-col right">
                      <div class="hc-col-box">
                          <h2>Open Source Puppet</h2>
                          <p>
                              Puppet manages your servers. You describe machine configurations in an easy-to-read declarative language, and Puppet brings them into the desired state and keeps them there.
                          </p>
                          <a href="/puppet/" class="btn homepage">Go to open source Puppet docs</a>
                          <div class="hc-hr">
                              <div class="hc-hr-wrapper">
                                  <hr>
                                  <div class="img"></div>
                              </div>
                          </div>
                          <div class="hc-col-subtitle">
                              Browse Topics
                          </div>
                          <div class="hc-col-list">
                              <div class="hc-col-list-col">
                                  <ul>
                                      <li>
                                          <a href="#">Lorem Ipsum</a>
                                      </li>
                                      <li>
                                          <a href="#">Suspendisse Praesent</a>
                                      </li>
                                      <li>
                                          <a href="#">Tincidunt Elit Non</a>
                                      </li>
                                      <li>
                                          <a href="#">Laoreet Vestibulum</a>
                                      </li>
                                      <li>
                                          <a href="#">Macaenus Et Diam</a>
                                      </li>
                                      <li>
                                          <a href="#">Lorem Ipsum</a>
                                      </li>
                                      <li>
                                          <a href="#">Suspendisse Praesent</a>
                                      </li>
                                  </ul>
                              </div>
                              <div class="hc-col-list-col">
                                  <ul>
                                      <li>
                                          <a href="#">Lorem Ipsum</a>
                                      </li>
                                      <li>
                                          <a href="#">Suspendisse Praesent</a>
                                      </li>
                                      <li>
                                          <a href="#">Tincidunt Elit Non</a>
                                      </li>
                                      <li>
                                          <a href="#">Laoreet Vestibulum</a>
                                      </li>
                                      <li>
                                          <a href="#">Macaenus Et Diam</a>
                                      </li>
                                      <li>
                                          <a href="#">Lorem Ipsum</a>
                                      </li>
                                      <li>
                                          <a href="#">Suspendisse Praesent</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- hc-footer -->
          <div class="homepage-sub-footer">
              <a href="#" class="hsf-link">Lorem Ipsum</a>
              <span class="bullet hsf-link">&bull;</span>
              <a href="#" class="hsf-link">Lorem Ipsum</a>
              <span class="bullet hsf-link">&bull;</span>
              <a href="#" class="hsf-link">Lorem Ipsum</a>
              <span class="bullet hsf-link">&bull;</span>
              <a href="#" class="hsf-link">Lorem Ipsum</a>
              <span class="bullet hsf-link">&bull;</span>
              <a href="#" class="hsf-link">Lorem Ipsum</a>
          </div>
      </div>
  </section>

  <!-- Rebuild of Site Footer -->
  <footer id="site-footer">
      <div class="footer-wrapper">
          <div class="footer-col footer-col-left">
              <ul>
                  <h4>Resources</h4>
                  <li><a href="https://puppetlabs.com/download-puppet-enterprise"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Download']);">Free Download</a></li>
                  <li><a href="https://puppetlabs.com/blog"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Blog']);">Blog</a></li>
                  <li><a href="https://puppetlabs.com/security"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Security']);">Security</a></li>
                  <li><a href="https://puppetlabs.com/sitemap"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Site Map']);">Site Map</a></li>
                  <li><a href="http://feeds.feedburner.com/PuppetLabs"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'RSS']);"
                         target="_blank">RSS</a></li>
              </ul>
              <ul>
                  <h4>Support</h4>
                  <li><a href="https://puppetlabs.com/services/customer-support"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Support']);">Customer Support</a></li>
                  <li><a href="http://tickets.puppetlabs.com"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Tickets']);" target="_blank">Bug Tracker</a></li>
                  <li><a href="http://ask.puppetlabs.com"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Ask']);" target="_blank">Puppet Ask</a></li>
                  <li><a href="http://groups.google.com/group/puppet-users?pli=1"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Users']);" target="_blank">Puppet Users</a></li>
                  <li><a href="https://github.com/puppetlabs"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'GitHub']);" target="_blank">GitHub</a></li>
              </ul>
              <ul>
                  <h4>Company</h4>
                  <li><a href="https://puppetlabs.com/about"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'About Us']);">About Us</a></li>
                  <li><a href="https://puppetlabs.com/about/careers"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Careers']);">Careers</a></li>
                  <li><a href="https://puppetlabs.com/licensing"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Licensing']);">Licensing</a></li>
                  <li><a href="https://puppetlabs.com/privacy"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Privacy Policy']);">Privacy Policy</a></li>
                  <li><a href="https://puppetlabs.com/terms"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Terms of Use']);">Terms of Use</a></li>
              </ul>
              <ul>
                  <h4>Connect</h4>
                  <li><a href="https://puppetlabs.com/contact"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Contact Us']);">Contact Us</a></li>
                  <li><a href="https://puppetlabs.com/contact-sales"  onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Contact Sales']);">Contact Sales</a></li>
                  <li><a href="https://twitter.com/puppetlabs" target="_blank" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Twitter']);">Twitter</a></li>
                  <li><a href="https://www.facebook.com/puppetlabs" target="_blank" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Facebook']);">Facebook</a></li>
                  <li><a href="http://www.linkedin.com/company/621389" target="_blank" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'LinkedIn']);">LinkedIn</a></li>
                  <li><a href="https://plus.google.com/112682055028218091774" target="_blank" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'Google+']);">Google+</a></li>
                  <li><a href="http://webchat.freenode.net/?channels=puppet" target="_blank" onclick="_gaq.push(['_trackEvent', 'Footer', 'click', 'IRC']);">IRC</a></li>
              </ul>
          </div>
          <div class="footer-col footer-col-right">
              <div class="footer-col-right-container">
                  <div class="title">Get Puppet Labs News</div>
                  <div class="email-subscription">
                      <div id="email-subscription-container">
                          <form class="lpeRegForm formNotEmpty" method="post" enctype="application/x-www-form-urlencoded" action=http://info.puppetlabs.com/index.php/leadCapture/save" id="mktForm_1047" name="mktForm_1047">
                              <input class='mktFormText mktFormEmail mktFReq' name="Email" id="Email" type='email' value=""  placeholder="enter your email address" maxlength='255' tabIndex='1' />
                              <input class='mktFormHidden' name="Form_Name__c" id="Form_Name__c" type='hidden' value="Newsletter" />
                              <input class='mktFormHidden' name="Current_Form_Name__c" id="Current_Form_Name__c" type='hidden' value="Newsletter" />
                              <input class='mktFormHidden' name="Original_Campaign_ID__c" id="Original_Campaign_ID__c" type='hidden' value="701G0000000F68K" />
                              <input class='mktFormHidden' name="campaign_ID__c" id="campaign_ID__c" type='hidden' value="701G0000000F68K" />
                              <input class='mktFormHidden' name="Current_Lead_Source__c" id="Current_Lead_Source__c" type='hidden' value="website-corporate" />
                              <input class='mktFormHidden' name="LeadSource" id="LeadSource" type='hidden' value="website-corporate" />
                              <input class='mktFormHidden' name="Custom_Campaign__c" id="Custom_Campaign__c" type='hidden' value="null" />
                              <input class='mktFormHidden' name="Current_Custom_Campaign__c" id="Current_Custom_Campaign__c" type='hidden' value="null" />
                              <input class='mktFormHidden' name="honeypot" id="honeypot" type='hidden' value="null" />
                              <input id='mktFrmSubmit' type='submit' value='&#xf0a9;' name='submitButton' onclick='formSubmit(document.getElementById("mktForm_1047")); return false;' />
                              <input style='display: none;' id='mktFrmReset' type='reset' value='Clear' name='resetButton' onclick='formReset(document.getElementById("mktForm_1047")); return false;' />
                              <span style="display:none;"><input type="text" name="_marketo_comments" value="" /></span>
                              <input type="hidden" name="lpId" value="-1" />
                              <input type="hidden" name="subId" value="100" />
                              <input type="hidden" name="munchkinId" value="307-QLA-991" />
                              <input type="hidden" name="kw" value="" />
                              <input type="hidden" name="cr" value="" />
                              <input type="hidden" name="searchstr" value="" />
                              <input type="hidden" name="lpurl" value="http://info.puppetlabs.com/newslettersubscribe.html?cr={creative}&kw={keyword}" />
                              <input type="hidden" name="formid" value="1047" />
                              <input type="hidden" name="returnURL" value="http://puppetlabs.com" />
                              <input type="hidden" name="retURL" value="http://puppetlabs.com/misc/subscription-thank-you" />
                              <input type="hidden" name="returnLPId" value="-1" />
                              <input type="hidden" name="_mkt_disp" value="return" />
                              <input type="hidden" name="_mkt_trk" value="" />
                          </form>
                          <script type="text/javascript" src="//puppetlabs.com/sites/default/files/mktFormSupport.js"></script>
                          <script type="text/javascript">
                              function formSubmit(elt) {
                                  var submit = Mkto.formSubmit(elt) ? true : false;
                                  if (submit) {
                                      jQuery(elt).find('#mktFrmSubmit').attr('value', "");
                                  }
                                  return submit;
                              }
                              function formReset(elt) {
                                  return Mkto.formReset(elt);
                              }
                          </script>
                      </div>
                      <p>
                          &copy; 2015 <a href="https://puppetlabs.com/about">Puppet Labs</a>
                          <br>
                          <a href="tel:877-575-9775" class="tel">877-575-9775</a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </footer>

  	<style type="text/css">h1, h2, .btn { visibility : visible; }</style>


<!-- BEGIN: MARKETO TRACKING -->
<!-- Per Alanna, this must be directly before the closing body tag. -->
    <script src="https://munchkin.marketo.net/munchkin.js" type="text/javascript"></script> <script>mktoMunchkin("307-QLA-991");</script>
 <!-- END: MARKETO TRACKING -->
	</body>
</html>
