            {{ content }}


    <div id="copyright">
      <div class="site-width">
        &copy; 2010 <a href="http://www.puppetlabs.com/" title="Puppet Labs">Puppet Labs</a>
        <span class="vcard">
         <span class="org"></span>
         <a class="email" href="mailto:info@puppetlabs.com">info@puppetlabs.com</a>

          <span class="adr">
           <span class="street-address">411 NW Park Street</span>
           /
           <span class="locality">Portland</span>, 
           <span class="region">OR</span>
           <span class="postal-code">97209</span>

          </span>

         <span class="tel">1-877-575-9775</span>
        </span>          
      </div>
    </div>
	</body>
</html>        
