<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  	<title>Puppet Documentation | Puppet Labs</title>
  	<meta name="description" content="The open source leader in data center automation">
  	<link rel="alternate" type="text/xml" title="Puppet Labs RSS 0.92 Feed" href="http://puppetlabs.com/feed/rss/">
  	<link rel="alternate" type="application/atom+xml" title="Puppet Labs Atom Feed" href="http://puppetlabs.com/feed/atom/">
  	<link rel="alternate" type="application/rss+xml" title="Puppet Labs RSS 2.0 Feed" href="http://puppetlabs.com/feed/">
  	<link rel="pingback" href="http://puppetlabs.com/xmlrpc.php">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://puppetlabs.com/xmlrpc.php?rsd" />
    <link rel='index' title='Puppet Labs' href='http://docs.puppetlabs.com' />



    <!-- FIXME: absolute paths -->

    <script type='text/javascript' src='/files/javascripts/html5.js'></script>
    <script type='text/javascript' src='/files/javascripts/jquery-1.3.2.min.js'></script>
    <script type='text/javascript' src='/files/javascripts/drop_down.js'></script>
    <script type='text/javascript' src='/files/javascripts/cufon-yui.js'></script>
    <script type='text/javascript' src='/files/fonts/Klavika_400-Klavika_600.font.js'></script>
    <script type='text/javascript' src='/files/javascripts/ampersands.js'></script>
    <script type='text/javascript' src='/files/javascripts/th_underscores.js'></script>

    <!-- All in One SEO Pack 1.6.10.1 by Michael Torbert of Semper Fi Web Design[127,146] -->
    <meta name="keywords" content="Puppet, puppet labs, reductive labs, open source, system administrator, ruby, data center, automation, support" />
    <link rel="canonical" href="http://docs.puppetlabs.com" />
    <!-- /all in one seo pack -->
	
    <!-- FIXME: absolute paths -->

    <link rel="stylesheet" type="text/css" href="/files/stylesheets/replacementstyle.css" media="screen"> 
    <link rel="stylesheet" type="text/css" href="/files/stylesheets/syntax.css" media="screen"> <!-- index -->

    <!--[if IE 7]>
	  <link rel="stylesheet" type="text/css" href="/files/stylesheets/ie_7.css" media="screen"> <!-- index -->
    <![endif]-->
  
    <!--[if IE 8]>
	    <link rel="stylesheet" type="text/css" href="/files/stylesheets/ie_8.css" media="screen"> <!-- index -->
    <![endif]-->		

</head>



        
  <body id="resources" class="docs">

    
{% capture clean_page_id %}{{ page.url | sanitizeid }}{% endcapture %}
{% capture page_url %}{{ page.url }}{% endcapture %}
              {{ content | singlepagifylinks: page_url }}
              <!-- Insert all other content here. There are a bunch of open divs right now, which are closed in bottom.html. -->
