<h3 id="meanwhile-in-the-puppet-labs-docs">En otros lugares en la documentación:</h3>

{% md %}

## Products

* [Puppet Enterprise](/es/pe/2017.2/index.html)
* [Puppet (PE y open source)]({{puppet_es}})
* [Puppet Server (Puppet Server (PE y open source)]({{puppetserver}})
* [PuppetDB (PE y open source)]({{puppetdb}})
* [Facter (PE y open source)]({{facter}})
* [Hiera (PE y open source)]({{hiera}})
* [MCollective (PE y open source)](/mcollective/)

## Other

* [Página de Inicio Puppet Docs](https://docs.puppet.com/)
* [Anuncios de Seguridad](/security/)
* [Cómo utilizar Puppet Forge](/forge/)
* [Manual de referencias Type]({{puppet}}/type.html)
* [Guía de la comunidad Puppet](/community/community_guidelines.html)
* [Glosario de términos Puppet](/references/glossary.html)
* [Descarga Puppet Enterprise](https://puppet.com/download-puppet-enterprise)


{% endmd %}