{% comment %}

Format:
<ul>
  <li><strong>section label</strong>
    <ul>
      <li>page if-links...</li>
    </ul>
  </li>
<ul>


{% endcomment %}

<h3><a href="index.html">Puppet Enterprise Deployment Guide</a></h3>

<ul>
  <li><strong>Chapters</strong>
    <ul>
      <li><a href="./index.html">1. Introduction & Installation</a></li>
      <li><a href="./dg_first_steps.html">2. First Steps: Setting Up Your Environment</a></li>
      <li><a href="./dg_define_infrastructure.html">3. Automating Your Infrastructure</a></li>
    </ul>
  </li>
  <li><strong>Other Resources</strong>
    <ul>
        <li><a href="../../references/glossary.html">Glossary of Puppet Terminology</a></li>
        <li><a href="../../puppet/2.7/reference/index.html">Puppet Reference Manual</a></li>
        <li><a href="../../pe/latest/index.html">PE User Manual</a></li>
        <li><a href="../../pe/latest/quick_start.html">Quick Start: Using PE</a></li>
        <li><a href="../../pe/latest/quick_writing.html">Quick Start: Writing Modules</a></li>
    </ul>




