

<h3 id="spanish-docs">Documentación en Español</h3>

<ul>
  <li><strong>{% iflink "Documentación de Puppet Labs", "/es/index.html" %}</strong></li>
  <li><strong>{% iflink "Aprende Puppet", "/es/learning/introduction.html" %}</strong></li>
  <li><strong>{% iflink "Hiera", "/es/hiera/index.html" %}</strong></li>
</ul>

<h3 id="spanish-docs">Webinar en Español</h3>

<ul>
  <li><strong>{% iflink "Instalando Puppet Enterprise", "https://www.youtube.com/watch?v=Et7ac8Ksedk" %}</strong></li>
  <li><strong>{% iflink "Aprende Puppet", "/es/learning/introduction.html" %}</strong></li>
  <li><strong>{% iflink "Hiera", "/es/hiera/index.html" %}</strong></li>
</ul>