<h3><a href="./index.html">Puppet Enterprise 2017.1</a></h3>

{% md %}

* **Overview**
    * [Bienvenido a PE](./index.html)
    * [PE architecture overview](/pe/2017.1/pe_architecture_overview.html)
    * [Component versions in recent PE releases](/pe/2017.1/overview_version_table.html)
    * [Getting support](/pe/2017.1/overview_getting_support.html)
    * [PE version numbers](/pe/2017.1/pe_versioning.html)
* **Release notes**
    * [New features and enhancements](/pe/2017.1/release_notes.html)
    * **[Known issues](/pe/2017.1/release_notes_known_issues.html)**
        * [Install and upgrade](/pe/2017.1/release_notes_known_issues_install.html)
        * [PE console and console services](/pe/2017.1/release_notes_known_issues_console.html)
        * [Puppet Server](/pe/2017.1/release_notes_known_issues_puppetserver.html)
        * [Databases and PostgreSQL](/pe/2017.1/release_notes_known_issues_puppetdb.html)
        * [Orchestration services](/pe/2017.1/release_notes_known_issues_app.html)
        * [PE services and Puppet core](/pe/2017.1/release_notes_known_issues_core.html)
        * [Supported platforms](/pe/2017.1/release_notes_known_issues_platforms.html)
        * [Razor](/pe/2017.1/release_notes_known_issues_razor.html)
        * [Code management](/pe/2017.1/release_notes_known_issues_codemgmt.html)
        * [UTF-8](/pe/2017.1/release_notes_known_issues_utf8.html)
        * [High availability](/pe/2017.1/release_notes_known_issues_ha.html)
    * [Resolved issues](/pe/2017.1/release_notes_resolved_issues.html)
* [Puppet platform documentation](/pe/2017.1/puppet_overview.html)
* **Quick start guides**
    * **[Quick start guide for *nix users](/pe/2017.1/quick_start.html)**
        * [1: Install PE](/pe/2017.1/quick_start_install_mono.html)
        * [2: Install agents](/pe/2017.1/quick_start_install_agents_nix.html)
        * [3: Module install](/pe/2017.1/quick_start_module_install_nix.html)
        * [4: Add classes](/pe/2017.1/quick_start_adding_class_nix.html)
        * [5: Give users access](/pe/2017.1/quick_start_nc_rbac.html)
        * [6: Write modules](/pe/2017.1/quick_writing_nix.html)
    * **[Quick start guide for Windows users](/pe/2017.1/quick_start_windows_intro.html)**
        * [1: Install PE](/pe/2017.1/quick_start_install_mono.html)
        * [2: Install agents](/pe/2017.1/quick_start_install_agents_windows.html)
        * [3: Module install](/pe/2017.1/quick_start_module_install_windows.html)
        * [4: Classify agents](/pe/2017.1/quick_start_adding_class_windows.html)
        * [5: Assign user access](/pe/2017.1/quick_start_rbac_windows.html)
        * [6: Write modules](/pe/2017.1/quick_writing_windows.html)
    * **[Essential configuration tasks](/pe/2017.1/quick_start_essential_config.html)**
        * [NTP quick start guide](/pe/2017.1/quick_start_ntp.html)
        * [DNS quick start guide](/pe/2017.1/quick_start_dns.html)
        * [SSH quick start guide](/pe/2017.1/quick_start_ssh.html)
        * [Sudo quick start guide](/pe/2017.1/quick_start_sudo.html)
        * [Firewall quick start guide](/pe/2017.1/quick_start_firewall.html)
* **Managing Windows nodes**
    * [Installing PE for a Windows environment](/pe/2017.1/windows_installing.html)
    * [Basic tasks and concepts in Windows](/pe/2017.1/windows_basic_tasks.html)
    * [Managing Windows configurations](/pe/2017.1/windows_config_mgmnt.html)
    * [Installing and using Windows modules](/pe/2017.1/windows_modules.html)
    * [Troubleshooting Puppet on Windows](/pe/2017.1/troubleshooting_windows.html)
* **Installing**
    * **System requirements**
        * [Hardware requirements](/pe/2017.1/sys_req_hw.html)
        * [Supported operating systems](/pe/2017.1/sys_req_os.html)
        * [Supported browsers](/pe/2017.1/sys_req_browsers.html)
        * [System config and firewall requirements](/pe/2017.1/sys_req_sysconfig.html)
    * [What gets installed where?](/pe/2017.1/install_what_and_where.html)
    * [Descargar e instalar Puppet Enterprise](./install_basic.html)
    * [Web-based installation: monolithic](/pe/2017.1/install_pe_mono.html)
    * **Text-mode installation**
        * [Text-mode installation overview](/pe/2017.1/install_text_mode.html)
        * [Text-mode installation: monolithic](/pe/2017.1/install_text_mode_mono.html)
        * [Text-mode installation: split](/pe/2017.1/install_text_mode_split.html)
        * [Configuration settings in pe.conf](/pe/2017.1/install_pe_conf_param.html)
    * [Installing PE license key](/pe/2017.1/install_license_key.html)
    * **Installing Puppet agents**
        * [Installing PE agents: *nix](/pe/2017.1/install_agents.html)
        * [Installing PE agents: Windows](/pe/2017.1/install_windows.html)
        * [Installing PE agents: Mac OS X](/pe/2017.1/install_osx.html)
    * **Installing network device agents**
        * [Installing PE agents: Arista EOS](/pe/2017.1/install_eos.html)
        * [Installing PE agents: Cisco NS-OX](/pe/2017.1/install_nxos.html)
        * [Installing PE agents: Cisco IOS-XR](/pe/2017.1/install_iosxr.html)
        * [Installing PE agents: Cumulus Linux](/pe/2017.1/install_cumulus.html)
        * [Installing PE agents: Huawei CloudEngine](/pe/2017.1/install_huawei_ce.html)
    * [Installing compile masters](/pe/2017.1/install_multimaster.html)
    * [Load balancing compile masters](/pe/2017.1/install_lei_load.html)
    * [Installing ActiveMQ hubs and spokes](/pe/2017.1/install_add_activemq.html)
    * [Installing PE client tools](/pe/2017.1/install_pe_client_tools.html)
    * [Uninstalling PE](/pe/2017.1/install_uninstalling.html)
    * **PE and external PostgreSQL Setup**
        * [External PostgreSQL prep](/pe/2017.1/sys_req_extsql.html)
        * [SSL for PE and external PostgreSQL](/pe/2017.1/install_ssl_postgresql.html)
        * [PE and external PostgreSQL without root access](/pe/2017.1/install_external_postgresql.html)
* **Upgrading**
    * [Upgrading PE: monolithic](/pe/2017.1/upgrade_mono.html)
    * [Upgrading PE: split](/pe/2017.1/upgrade_split.html)
    * [Upgrading PE agents: *nix](/pe/2017.1/install_upgrading_agents.html)
    * [Upgrading PE agents: Windows](/pe/2017.1/upgrade_windows.html)
* **Migrating from 3.8**
    * [Preparing for Migration to PE 2017.1](/pe/2017.1/migrate_pe_catalog_preview.html)
    * [Migrating from PE 3.8 to 2017.1: monolithic](/pe/2017.1/migrate_monolithic.html)
    * [Migrating: important notes](/pe/2017.1/migrate_notes.html)
    * [Major path changes](/pe/2017.1/install_upgrading_path_changes.html)
* **Configuring PE**
    * [Your PE infrastructure](/pe/2017.1/config_intro.html)
    * [Tuning Puppet Server](/pe/2017.1/config_puppetserver.html)
    * [Tuning the console](/pe/2017.1/console_config.html)
    * [Tuning PuppetDB](/pe/2017.1/config_puppetdb.html)
    * [Tuning orchestration](/pe/2017.1/config_orchestration.html)
    * [Java arguments for PE](/pe/2017.1/config_java_args.html)
    * [Configuring ulimit for PE services](/pe/2017.1/config_ulimit.html)
    * [Tuning mono installs (reference)](/pe/2017.1/config_monolithic.html)
    * [Writing configuration files](/pe/2017.1/config_hocon.html)
    * [PE analytics data collection](/pe/2017.1/analytics_opt_out.html)
    * [Static catalogs](/pe/2017.1/static_catalogs.html)
* **Configuring high availability**
    * [High availability overview](/pe/2017.1/ha_overview.html)
    * [Configure high availability](/pe/2017.1/ha_configure.html)
* **Monitoring infrastructure state**
    * [Monitor and analyze infrastructure state](/pe/2017.1/CM_overview.html)
    * [Explore your catalog with the node graph](/pe/2017.1/CM_graph.html)
    * [Analyze changes across Puppet runs](/pe/2017.1/CM_events.html)
    * [Infrastructure reports](/pe/2017.1/CM_reports.html)
    * [Monitoring Puppet Server metrics](/pe/2017.1/puppet_server_metrics.html)
    * [Monitoring PE services](/pe/2017.1/status_api.html)
* **Managing nodes**
    * [Managing node requests](/pe/2017.1/console_cert_mgmt.html)
    * [Running Puppet on agent nodes](/pe/2017.1/console_classes_groups_running_puppet.html)
    * [Getting started with classification](/pe/2017.1/console_classes_groups_getting_started.html)
    * [Grouping and classifying nodes](/pe/2017.1/console_classes_groups.html)
    * **Roles and profiles: Designing system configs**
        * [Introduction](/pe/2017.1/r_n_p_intro.html)
        * [A complete example](/pe/2017.1/r_n_p_full_example.html)
        * [Designing advanced profiles](/pe/2017.1/r_n_p_profiles.html)
        * [Designing convenient roles](/pe/2017.1/r_n_p_roles.html)
    * [Viewing node-specific information](/pe/2017.1/nodes_viewing.html)
    * [Making changes to node groups](/pe/2017.1/console_classes_groups_making_changes.html)
    * [Removing nodes](/pe/2017.1/node_deactivation.html)
    * [Preconfigured node groups](/pe/2017.1/console_classes_groups_preconfigured_groups.html)
    * [How does inheritance work?](/pe/2017.1/console_classes_groups_inheritance.html)
    * [Working with environments](/pe/2017.1/console_classes_groups_environment_override.html)
    * **Node classifier service API**
        * [Endpoints](/pe/2017.1/nc_index.html)
        * [Forming node classifier requests](/pe/2017.1/nc_forming_requests.html)
        * **[Groups](/pe/2017.1/nc_groups.html)**
            * [Groups endpoint examples](/pe/2017.1/nc_groups_example.html)
        * [Classes](/pe/2017.1/nc_classes.html)
        * [Classification](/pe/2017.1/nc_classification.html)
        * [Commands](/pe/2017.1/nc_commands.html)
        * [Environments](/pe/2017.1/nc_environments.html)
        * [Node history](/pe/2017.1/nc_nodes.html)
        * [Group children](/pe/2017.1/nc_groups_children.html)
        * [Rules](/pe/2017.1/nc_rules.html)
        * [Importing node classifier hierarchy](/pe/2017.1/nc_import-hierarchy.html)
        * [Last class](/pe/2017.1/nc_last_class_update.html)
        * [Updating node classifier classes](/pe/2017.1/nc_update_classes.html)
        * [Validating node classifier endpoints](/pe/2017.1/nc_validate.html)
        * [Node classifier errors](/pe/2017.1/nc_errors.html)
* **Managing access**
    * [Accessing the console](/pe/2017.1/console_accessing.html)
    * [Role-based access control](/pe/2017.1/rbac_intro.html)
    * [Connecting PE with external directory services](/pe/2017.1/rbac_ldap.html)
    * [About RBAC permissions](/pe/2017.1/rbac_permissions.html)
    * [Creating and managing users and user roles](/pe/2017.1/rbac_user_roles.html)
    * [Token-based authentication](/pe/2017.1/rbac_token_auth.html)
    * [Running agents without root privileges](/pe/2017.1/deploy_nonroot-agent.html)
    * **RBAC service API v1**
        * [Endpoints](/pe/2017.1/rbac_serviceindex_v1.html)
        * [Forming RBAC requests](/pe/2017.1/rbac_forming_requests_v1.html)
        * [Users](/pe/2017.1/rbac_users_v1.html)
        * [User groups](/pe/2017.1/rbac_usergroups_v1.html)
        * [Roles](/pe/2017.1/rbac_roles_v1.html)
        * [Permissions](/pe/2017.1/rbac_permissionsref_v1.html)
        * [Authentication tokens](/pe/2017.1/rbac_token_v1.html)
        * [Directory service](/pe/2017.1/rbac_dsref_v1.html)
        * [Passwords](/pe/2017.1/rbac_passwords_v1.html)
        * [Errors](/pe/2017.1/rbac_serviceerrors_v1.html)
        * [Configuration options](/pe/2017.1/rbac_config_v1.html)
    * **RBAC service API v2**
        * [Endpoints](/pe/2017.1/rbac_serviceindex_v2.html)
        * [Revoke tokens](/pe/2017.1/rbac_revoke_token_v2.html)
    * **Activity service API**
        * [Endpoints](/pe/2017.1/rbac_activityapis.html)
        * [Activity reporting](/pe/2017.1/rbac_activityreporting.html)
* **Managing applications**
    * [Application orchestration: Overview](/pe/2017.1/app_orchestration_overview.html)
    * **Application orchestration: Key concepts and workflow**
        * [Application orchestration workflow](/pe/2017.1/app_orchestration_workflow.html)
        * [Creating application definitions](/pe/2017.1/app_orchestration_app_definition.html)
        * [Declaring application instances](/pe/2017.1/app_orchestration_declare_instance.html)
        * [Producing and consuming service resources](/pe/2017.1/app_orchestration_produce_consume.html)
        * [Writing custom service resource types](/pe/2017.1/app_orchestration_writing_service_resources.html)
        * [Availability tests](/pe/2017.1/app_orchestration_availability_tests.html)
* **Enforcing change with Puppet orchestrator**
    * [Direct Puppet: a workflow](/pe/2017.1/direct_puppet_workflow.html)
    * [Puppet orchestrator: overview](/pe/2017.1/orchestrator_intro.html)
    * [Configuring Puppet orchestrator](/pe/2017.1/orchestrator_install.html)
    * [Reviewing applications](/pe/2017.1/orchestrator_app.html)
    * [Checking a Puppet job plan](/pe/2017.1/orchestrator_job_plan.html)
    * [Running Puppet jobs](/pe/2017.1/orchestrator_job_run.html)
    * [Reviewing Puppet jobs](/pe/2017.1/orchestrator_job_status_view.html)
    * **Puppet orchestrator API**
        * [Endpoints](/pe/2017.1/orchestrator_api_endpoints.html)
        * [Forming requests](/pe/2017.1/orchestrator_api_requests.html)
        * [Commands](/pe/2017.1/orchestrator_api_commands.html)
        * [Environments](/pe/2017.1/orchestrator_api_environments.html)
        * [Events](/pe/2017.1/orchestrator_api_events.html)
        * [Jobs](/pe/2017.1/orchestrator_api_jobs.html)
        * [Root](/pe/2017.1/orchestrator_api_root.html)
        * [Errors](/pe/2017.1/orchestrator_api_errors.html)
* **Managing and deploying Puppet code**
    * [Managing and deploying Puppet code](/pe/2017.1/cmgmt_managing_code.html)
    * [Managing environments with a control repository](/pe/2017.1/cmgmt_control_repo.html)
    * [Managing environment content with Puppetfiles](/pe/2017.1/cmgmt_puppetfile.html)
    * **Code Manager**
        * [Managing code with Code Manager](/pe/2017.1/code_mgr.html)
        * [Configuring Code Manager](/pe/2017.1/code_mgr_config.html)
        * [Customizing Code Manager configuration](/pe/2017.1/code_mgr_custom.html)
        * [Triggering Code Manager from the command line](/pe/2017.1/code_mgr_cli.html)
        * [Triggering Code Manager with a webhook](/pe/2017.1/code_mgr_webhook.html)
        * [Triggering Code Manager with custom scripts](/pe/2017.1/code_mgr_scripts.html)
        * [Troubleshooting Code Manager](/pe/2017.1/code_mgr_troubleshoot.html)
    * **r10k**
        * [Managing code with r10k](/pe/2017.1/r10k.html)
        * [Configuring r10k](/pe/2017.1/r10k_config.html)
        * [Customizing r10k configuration](/pe/2017.1/r10k_custom.html)
        * [Deploying environments with r10k](/pe/2017.1/r10k_run.html)
        * [r10k subcommand reference](/pe/2017.1/r10k_reference.html)
    * [About file sync](/pe/2017.1/cmgmt_filesync.html)
* **Provisioning with Razor**
    * [Bare-metal provisioning with Razor](/pe/2017.1/razor_intro.html)
    * [Setting up a Razor environment](/pe/2017.1/razor_prereqs.html)
    * [Installing Razor](/pe/2017.1/razor_install.html)
    * **[Using the Razor client](/pe/2017.1/razor_client.html)**
        * [Razor client commands](/pe/2017.1/razor_client_commands.html)
    * [Protecting existing nodes](/pe/2017.1/razor_brownfield.html)
    * [Provisioning a node](/pe/2017.1/razor_using.html)
    * [Provisioning a Windows node](/pe/2017.1/razor_windows_install.html)
    * [Provisioning with custom facts](/pe/2017.1/razor_microkernel_extension.html)
    * **[Working with Razor objects](/pe/2017.1/razor_objects.html)**
        * [Repositories](/pe/2017.1/razor_repos.html)
        * [Tasks](/pe/2017.1/razor_tasks.html)
        * [Tags](/pe/2017.1/razor_tags.html)
        * [Policies](/pe/2017.1/razor_policies.html)
        * [Brokers](/pe/2017.1/razor_brokers.html)
        * [Hooks](/pe/2017.1/razor_hooks.html)
    * **[Using the Razor API](/pe/2017.1/razor_api.html)**
        * [API reference](/pe/2017.1/razor_reference.html)
    * [Upgrading Razor](/pe/2017.1/razor_upgrade.html)
    * [Uninstalling Razor](/pe/2017.1/razor_uninstall.html)
* **SSL and certificates**
    * **Complete PE cert regeneration**
        * [Regenerating certs: mono](/pe/2017.1/trouble_regenerate_certs_monolithic.html)
        * [Regenerating certs: splits](/pe/2017.1/trouble_regenerate_certs_split.html)
    * **Individual PE component cert regeneration**
        * [Regenerating certs for the Puppet master](/pe/2017.1/regenerate_certs_master.html)
        * [Regenerating certs for PuppetDB](/pe/2017.1/regenerate_certs_puppetdb.html)
        * [Regenerating certs for the PE console](/pe/2017.1/regenerate_certs_console.html)
    * [Regenerating a Puppet agent certificate](/pe/2017.1/agent_cert_regen.html)
    * [Regenerating a compile master certificate](/pe/2017.1/compile_master_cert_regen.html)
    * [Using an external certificate authority with PE](/pe/2017.1/external_ca.html)
    * [Configuring the PE console to use a custom SSL certificate](/pe/2017.1/custom_console_cert.html)
    * [Custom Diffie-Hellman param file generation](/pe/2017.1/trouble_dh_generate.html)
    * [SSL for PE and external PostgreSQL](/pe/2017.1/install_ssl_postgresql.html)
* **APIs**
    * [Index of Puppet APIs](/pe/2017.1/api_index.html)
* **Managing MCollective**
    * [Overview](/pe/2017.1/mco_overview.html)
    * [Invoking actions](/pe/2017.1/mco_invoke_cli.html)
    * [Controlling Puppet](/pe/2017.1/orchestration_puppet.html)
    * [List of built-in actions](/pe/2017.1/mco_actions.html)
    * [Adding new actions](/pe/2017.1/mco_adding_actions.html)
    * [Configuring MCollective](/pe/2017.1/mco_config.html)
* **Maintenance**
    * [PE database maintenance](/pe/2017.1/maintain_console-db.html)
    * [Back up and restore PE](/pe/2017.1/maintain_backup_restore.html)
* **Troubleshooting**
    * [Troubleshooting the installer](/pe/2017.1/trouble_install.html)
    * [Troubleshooting connections](/pe/2017.1/trouble_comms.html)
    * [Troubleshooting Code Manager](/pe/2017.1/code_mgr_troubleshoot.html)
    * [Troubleshooting the databases](/pe/2017.1/trouble_console-db.html)
    * [Troubleshooting Puppet core](/pe/2017.1/trouble_puppet.html)
    * [Troubleshooting MCollective](/pe/2017.1/trouble_orchestration.html)
    * [Troubleshooting Windows](/pe/2017.1/trouble_windows.html)
* **Appendix**
    * [Compliance alternate workflow](/pe/2017.1/compliance_alt.html)

{% endmd %}
