{% capture puppet_dir %}es/hiera{% endcapture %}

<h2 id="hiera-1">Hiera 1</h2>

<ul>
  <li>{% iflink "Vista general", "/es/hiera/index.html" %}</li>
  <li>{% iflink "Instalación", "/es/hiera/installing.html" %}</li>
  <li>{% iflink "Configuration and hiera.yaml", "./configuring.html" %}</li>
  <li>{% iflink "Hierarchies", "./hierarchy.html" %}</li>
  <li>{% iflink "Lookup Types", "./lookup_types.html" %}</li>
  <li>{% iflink "Writing Data Sources", "./data_sources.html" %}</li>
  <li>{% iflink "Interpolation Tokens, Variables, and Lookup Functions", "./variables.html" %}</li>
  <li>{% iflink "Usage with Puppet", "./puppet.html" %}</li>
  <li>{% iflink "Complete Example", "./complete_example.html" %}</li>
  <li>{% iflink "Usage on the Command Line", "./command_line.html" %}</li>
  <li>{% iflink "Writing New Backends", "./custom_backends.html" %}</li>
  <li>{% iflink "Release Notes", "./release_notes.html" %}</li>
</ul>

<h3 id="spanish-docs">Documentación en Español</h3>

<ul>
  <li><strong>{% iflink "Documentación de Puppet Labs", "/es/index.html" %}</strong></li>
  <li><strong>{% iflink "Aprende Puppet", "/es/learning/01.learning-index.html" %}</strong></li>
</ul>