<h2 id="hiera-1">Hiera 1</h2>

<ul>
  <li><a href="/es/hiera/index.html">Vista general</a></li>
  <li><a href="/es/hiera/installing.html">Instalación</a></li>
  <li><a href="/es/hiera/configuring.html">El archivo de configuración hiera.yaml</a></li>
  <li><a href="/es/hiera/hierarchy.html">Crear jerarquías</a></li>
  <li><a href="/es/hiera/lookup_types.html">Tipos de búsqueda</a></li>
  <li><a href="/es/hiera/data_sources.html">Escribir fuentes de información</a></li>
  <li><a href="/es/hiera/variables.html">Variables e Interpolación</a></li>
  <li><a href="/es/hiera/puppet.html">Usar Hiera con Puppet</a></li>
  <li><a href="/es/hiera/complete_example.html">Ejemplo completo</a></li>
  <li><a href="/es/hiera/command_line.html">Uso en la línea de comandos</a></li>
  <li><a href="/hiera/1/custom_backends.html">Writing New Backends (en Inglés)</a></li>
  <li><a href="/hiera/1/release_notes.html">Release Notes (en Inglés)</a></li>
</ul>

<h2 id="spanish-docs">Documentación en Español</h2>

<ul>
  <li><strong><a href="/es/index.html">Documentación de Puppet Labs</a></strong></li>
  <li><strong><a href="/es/learning/introduction.html">Aprende Puppet</a></strong></li>
</ul>
