<h2 id="hiera-1">Hiera 1</h2>
<ul>
  <li>{% iflink "Introduction", "/learning/index.html" %}</li>
  <li><strong>Part one: Serverless Puppet</strong>
    <ul>
      <li>{% iflink "Resources and the RAL", "/learning/ral.html" %}</li>
      <li>{% iflink "Manifests", "/learning/manifests.html" %}</li>
      <li>{% iflink "Ordering", "/learning/ordering.html" %}</li>
      <li>{% iflink "Variables, Conditionals, Facts", "/learning/variables.html" %}</li>
      <li>{% iflink "Modules and Classes", "/learning/modules1.html" %}</li>
      <li>{% iflink "Templates", "/learning/templates.html" %}</li>
      <li>{% iflink "Class Parameters", "/learning/modules2.html" %}</li>
      <li>{% iflink "Defined Types", "/learning/definedtypes.html" %}</li>
    </ul>
  </li>
  <li><strong>Part two: Master/Agent Puppet</strong>
    <ul>
      <li>{% iflink "Preparing an Agent VM", "/learning/agentprep.html" %}</li>
      <li>{% iflink "Basic Agent/Master Puppet", "/learning/agent_master_basic.html" %}</li>
    </ul>
  </li>
</ul>

<h2 id="spanish-docs">Documentación en Español</h2>

<ul>
  <li><strong>{% iflink "Documentación de Puppet Labs", "/es/index.html" %}</strong></li>
  <li><strong>{% iflink "Hiera", "/es/hiera/introduction.html" %}</strong></li>
</ul>
