<h2 id="hiera-1">Aprende Puppet</h2>
<ul>
  <li><a href="/es/learning/introduction.html">Aprende Puppet – Índice</a></li>
  <li><strong>Parte uno: Puppet sin servidor</strong>
    <ul>
      <li><a href="/es/learning/ral.html">Recursos y la RAL</a></li>
      <li><a href="/es/learning/manifests.html">Manifiestos</a></li>
      <li><a href="/es/learning/ordering.html">Orden de recursos</a></li>
      <li><a href="/es/learning/variables.html">Variables, Conditionals, Facts</a></li>
      <li><a href="/es/learning/modules1.html">Módulos y clases</a></li>
      <li><a href="/es/learning/templates.html">Templates</a></li>
      <li><a href="/es/learning/modules2.html">Parámetros de clase</a></li>
      <li><a href="/es/learning/definedtypes.html">Tipos de recurso definidos</a></li>
    </ul>
  </li>
  <li><strong>Parte dos: Puppet Master/Agente</strong>
    <ul>
      <li><a href="/learning/agentprep.html">Preparing an Agent VM (en Inglés)</a></li>
      <li><a href="/learning/agent_master_basic.html">Basic Agent/Master Puppet (en Inglés)</a></li>
    </ul>
  </li>
</ul>

<h2 id="spanish-docs">Documentación en Español</h2>

<ul>
  <li><strong><a href="/es/index.html">Documentación de Puppet Labs</a></strong></li>
  <li><strong><a href="/es/hiera/index.html">Hiera</a></strong></li>
</ul>
