<h2 id="hiera-1">Aprende Puppet</h2>
<ul>
  <li>{% iflink "Aprende Puppet – Índice", "/es/learning/introduction.html" %}</li>
  <li><strong>Parte uno: Puppet sin servidor</strong>
    <ul>
      <li>{% iflink "Recursos y la RAL", "/es/learning/ral.html" %}</li>
      <li>{% iflink "Manifiestos", "/es/learning/manifests.html" %}</li>
      <li>{% iflink "Orden de recursos", "/es/learning/ordering.html" %}</li>
      <li>{% iflink "Variables, Conditionals, Facts", "/es/learning/variables.html" %}</li>
      <li>{% iflink "Módulos y clases", "/es/learning/modules1.html" %}</li>
      <li>{% iflink "Templates", "/es/learning/templates.html" %}</li>
      <li>{% iflink "Parámetros de clase", "/es/learning/modules2.html" %}</li>
      <li>{% iflink "Tipos de recurso definidos", "/es/learning/definedtypes.html" %}</li>
    </ul>
  </li>
  <li><strong>Parte dos: Puppet Master/Agente</strong>
    <ul>
      <li>{% iflink "Preparing an Agent VM (en Inglés)", "/learning/agentprep.html" %}</li>
      <li>{% iflink "Basic Agent/Master Puppet (en Inglés)", "/learning/agent_master_basic.html" %}</li>
    </ul>
  </li>
</ul>

<h2 id="spanish-docs">Documentación en Español</h2>

<ul>
  <li><strong>{% iflink "Documentación de Puppet Labs", "/es/index.html" %}</strong></li>
  <li><strong>{% iflink "Hiera", "/es/hiera/index.html" %}</strong></li>
</ul>
