<h3 id="meanwhile-in-the-puppet-labs-docs">Elsewhere in the Docs:</h3>

<p>If this page isn&#8217;t quite what you need, you might be looking for one of these:</p>

<h4 id="using-puppet">Using Puppet</h4>

<ul>
  <li><a href="/references/latest/type.html">Type Reference</a> &#8212; Info for every resource type. </li>
  <li><a href="/puppet/latest/reference/lang_summary.html">Language Reference</a> &#8212; How to write Puppet code.</li>
  <li><a href="/learning/">Learning Puppet</a> &#8212; Guided intro with free VM.</li>
  <li><a href="/windows/">Puppet on Windows</a> &#8212; Special notes for Windows users.</li>
  <li><a href="/references/latest/man/">Man Pages</a> &#8212; Docs for Puppet&#8217;s CLI tools.</li>
</ul>

<h4 id="administering-puppet">Administering Puppet</h4>

<ul>
  <li><a href="/pe/latest/install_basic.html">Installing Puppet Enterprise</a></li>
  <li><a href="/pe/latest/install_upgrading.html">Upgrading Puppet Enterprise</a></li>
  <li><a href="/puppet/latest/reference/install_pre.html">Installing Open Source Puppet</a></li>
  <li><a href="/puppet/latest/reference/upgrade_agent.html">Upgrading 3.x to 4.x Agents</a></li>
  <li><a href="/puppet/latest/reference/upgrade_server.html">Upgrading 3.x to 4.x Server</a></li>
  <li><a href="http://info.puppetlabs.com/download-pe.html">Puppet Enterprise Downloads</a></li>
</ul>

<h4 id="what-are-these-variables">What Are These Variables?</h4>

<ul>
  <li><a href="/facter/latest/core_facts.html">Facts</a></li>
  <li><a href="/puppet/latest/reference/lang_facts_and_builtin_vars.html">Other Special Variables</a></li>
</ul>
