<h3 id="meanwhile-in-the-puppet-labs-docs">Elsewhere in the Docs:</h3>

{% md %}

## Products

* [Puppet Enterprise]({{pe}})
* [Puppet (PE and open source)]({{puppet}})
* [Puppet Server (PE and open source)]({{puppetserver}})
* [PuppetDB (PE and open source)]({{puppetdb}})
* [Facter (PE and open source)]({{facter}})
* [Hiera (PE and open source)]({{hiera}})
* [MCollective (PE and open source)]({{mcollective}})

## Other

* [Puppet Docs Front Page](https://docs.puppet.com/)
* [Security Announcements](./security/)
* [Using the Puppet Forge](./forge/)
* [Resource Type Reference](./{{puppet}}/latest/type.html)
* [Puppet Community Guidelines](./community/community_guidelines.html)
* [Glossary of Puppet Terms](./references/glossary.html)
* [Download Puppet Enterprise](https://puppet.com/download-puppet-enterprise)


{% endmd %}