<h2 id="hiera-1">Hiera 1</h2>

<ul>
  <li><a href="./index.html">Overview</a></li>
  <li><a href="./installing.html">Installation</a></li>
  <li><a href="./configuring.html">Configuration and hiera.yaml</a></li>
  <li><a href="./hierarchy.html">Hierarchies</a></li>
  <li><a href="./lookup_types.html">Lookup Types</a></li>
  <li><a href="./data_sources.html">Writing Data Sources</a></li>
  <li><a href="./variables.html">Interpolation Tokens, Variables, and Lookup Functions</a></li>
  <li><a href="./puppet.html">Usage with Puppet</a></li>
  <li><a href="./complete_example.html">Complete Example</a></li>
  <li><a href="./command_line.html">Usage on the Command Line</a></li>
  <li><a href="./custom_backends.html">Writing New Backends</a></li>
  <li><a href="./release_notes.html">Release Notes</a></li>
</ul>

