{% comment %}

## Hiera 1

- `"Overview", "./index.html"`
- `"Complete Example", "./complete_example.html"`
- `"Installation", "./installing.html"`
- `"Configuration and hiera.yaml", "./configuring.html"`
- `"Hierarchies", "./hierarchy.html"`
- `"Writing Data Sources", "./data_sources.html"`
- `"Variables and Interpolation", "./variables.html"`
- `"Usage with Puppet", "./puppet.html"`
- `"Usage on the Command Line", "./command_line.html"`
- `"Writing New Backends", "./custom_backends.html"`

{% endcomment %}

<h2 id="hiera-1">Hiera 1</h2>

<ul>
  <li>{% iflink "Overview", "./index.html" %}</li>
  <li>{% iflink "Complete Example", "./complete_example.html" %}</li>
  <li>{% iflink "Installation", "./installing.html" %}</li>
  <li>{% iflink "Configuration and hiera.yaml", "./configuring.html" %}</li>
  <li>{% iflink "Hierarchies", "./hierarchy.html" %}</li>
  <li>{% iflink "Writing Data Sources", "./data_sources.html" %}</li>
  <li>{% iflink "Variables and Interpolation", "./variables.html" %}</li>
  <li>{% iflink "Usage with Puppet", "./puppet.html" %}</li>
  <li>{% iflink "Usage on the Command Line", "./command_line.html" %}</li>
  <li>{% iflink "Writing New Backends", "./custom_backends.html" %}</li>
</ul>

