{% comment %}

- `"Introduction", "/learning/index.html"`
- **Part one: Serverless Puppet**
    - `"Resources and the RAL", "/learning/ral.html"`
    - `"Manifests", "/learning/manifests.html"`
    - `"Ordering", "/learning/ordering.html"`
    - `"Variables, Conditionals, Facts", "/learning/variables.html"`
    - `"Modules and Classes", "/learning/modules1.html"`
    - `"Templates", "/learning/templates.html"`
    - `"Class Parameters", "/learning/modules2.html"`
    - `"Defined Types", "/learning/definedtypes.html"`
- **Part two: Master/Agent Puppet**
    - `"Preparing an Agent VM", "/learning/agentprep.html"`
    - `"Basic Agent/Master Puppet", "/learning/agent_master_basic.html"`


{% endcomment %}

<ul>
  <li>{% iflink "Puppet Labs 日本語ホーム", "/ja/index.html" %}</li>
  <li>{% iflink "Puppetを学ぶ", "/ja/learning/introduction_ja.html" %}</li>
</ul>