<ul>
  <li><strong><a href="/ja/index.html">Puppet Labs 日本語ホーム</a></strong></li>
  <li><strong>Puppet Enterprise</strong>
  	<ul>
  		<li><a href="/ja/pe/quick_start_ja.html">クイックスタートガイド</a></li>
  			<ul>
  				<li><a href="/ja/pe/quick_start_install_mono_ja.html">PEをインストール</a></li>
  				<li><a href="/ja/pe/quick_start_install_agents_nix_ja.html">Unix Agentをインストール</a></li>
  			</ul>
  		<li><strong>Puppet Enterpriseのインストール</strong>
    		<ul>
      			<li><a href="./install_basic_ja.html">PEインストールの概要</a></li>
    		</ul>
    </ul>
  </li>
  <li><strong><a href="/ja/learning/introduction_ja.html">Puppetを学ぶ</a></strong></li>
  <li><strong><a href="/ja/puppet/3.7/reference/index_ja.html">Puppetリファレンスマニュアル</a></strong></li>
  <li><strong><a href="/ja/guides/install_puppet/pre_install_ja.html">Puppetのインストール</a></strong></li>
</ul>