<ul>
  <li><strong><a href="/ja/index.html">Puppet Labs 日本語ホーム</a></strong></li>
  <li><strong><a href="/ja/learning/introduction_ja.html">Puppetを学ぶ</a></strong>
  <li><strong>パート1：サーバレス方式のPuppet</strong>
    <ul>
      <li><a href="/ja/learning/ral_ja.html">リソースとRAL</a></li>
      <li><a href="/ja/learning/manifests_ja.html">マニフェスト</a></li>
      <li><a href="/ja/learning/ordering_ja.html">順序性</a></li>
      <li><a href="/ja/learning/variables_ja.html">変数、条件、Facts</a></li>
      <li><a href="/ja/learning/modules1_ja.html">モジュールとクラス(パート1)</a></li>
      <li><a href="/ja/learning/templates_ja.html">テンプレート</a></li>
      <li><a href="/ja/learning/modules2_ja.html">パラメータ化クラス(パート2)</a></li>
      <li><a href="/ja/learning/definedtypes_ja.html">定義型</a></li>
    </ul>
  </li>
  <li><strong>パート2：Master/Agent方式のPuppet</strong>
    <ul>
      <li><a href="/ja/learning/agentprep_ja.html">Agent用VMの準備</a></li>
      <li><a href="/ja/learning/agent_master_basic_ja.html">Agent/Master方式Puppetの基礎</a></li>
    </ul>
  </li>
</ul>