{% comment %}

- `"Introduction", "/learning/index.html"`
- **Part one: Serverless Puppet**
    - `"Resources and the RAL", "/learning/ral.html"`
    - `"Manifests", "/learning/manifests.html"`
    - `"Ordering", "/learning/ordering.html"`
    - `"Variables, Conditionals, Facts", "/learning/variables.html"`
    - `"Modules and Classes", "/learning/modules1.html"`
    - `"Templates", "/learning/templates.html"`
    - `"Class Parameters", "/learning/modules2.html"`
    - `"Defined Types", "/learning/definedtypes.html"`
- **Part two: Master/Agent Puppet**
    - `"Preparing an Agent VM", "/learning/agentprep.html"`
    - `"Basic Agent/Master Puppet", "/learning/agent_master_basic.html"`


{% endcomment %}

<ul>
  <li><strong>{% iflink "Puppet Labs 日本語ホーム", "/ja/index.html" %}</strong></li>
  <li><strong>{% iflink "Puppetを学ぶ", "/ja/learning/introduction_ja.html" %}</strong>
  <li><strong>パート1：サーバレス方式のPuppet</strong>
    <ul>
      <li>{% iflink "リソースとRAL", "/ja/learning/ral_ja.html" %}</li>
      <li>{% iflink "マニフェスト", "/ja/learning/manifests_ja.html" %}</li>
      <li>{% iflink "順序性", "/ja/learning/ordering_ja.html" %}</li>
      <li>{% iflink "変数、条件、Facts", "/ja/learning/variables_ja.html" %}</li>
      <li>{% iflink "モジュールとクラス(パート1)", "/ja/learning/modules1_ja.html" %}</li>
      <li>{% iflink "テンプレート", "/ja/learning/templates_ja.html" %}</li>
      <li>{% iflink "パラメータ化クラス(パート2)", "/ja/learning/modules2_ja.html" %}</li>
      <li>{% iflink "定義型", "/ja/learning/definedtypes_ja.html" %}</li>
    </ul>
  </li>
  <li><strong>パート2：Master/Agent方式のPuppet</strong>
    <ul>
      <li>{% iflink "Agent用VMの準備", "/ja/learning/agentprep_ja.html" %}</li>
      <li>{% iflink "Agent/Master方式Puppetの基礎", "/ja/learning/agent_master_basic_ja.html" %}</li>
    </ul>
  </li>
</ul>