{% comment %}

- `"Introduction", "/learning/index.html"`
- **Part one: Serverless Puppet**
    - `"Resources and the RAL", "/learning/ral.html"`
    - `"Manifests", "/learning/manifests.html"`
    - `"Ordering", "/learning/ordering.html"`
    - `"Variables, Conditionals, Facts", "/learning/variables.html"`
    - `"Modules and Classes", "/learning/modules1.html"`
    - `"Templates", "/learning/templates.html"`
    - `"Class Parameters", "/learning/modules2.html"`
    - `"Defined Types", "/learning/definedtypes.html"`
- **Part two: Master/Agent Puppet**
    - `"Preparing an Agent VM", "/learning/agentprep.html"`
    - `"Basic Agent/Master Puppet", "/learning/agent_master_basic.html"`


{% endcomment %}

<ul>
  <li><strong>{% iflink "Puppet Labs 日本語ホーム", "/ja/index.html" %}</strong></li>
  <li><strong>{% iflink "Puppetを学ぶ", "/ja/learning/introduction_ja.html" %}</strong>
  <li><strong>パート1：サーバレス方式のPuppet</strong>
    <ul>
      <li>{% iflink "リソースとRAL", "/ja/learning/ral_ja.html" %}</li>
      <li>{% iflink "Manifests", "/learning/manifests.html" %}</li>
      <li>{% iflink "Ordering", "/learning/ordering.html" %}</li>
      <li>{% iflink "Variables, Conditionals, Facts", "/learning/variables.html" %}</li>
      <li>{% iflink "Modules and Classes", "/learning/modules1.html" %}</li>
      <li>{% iflink "Templates", "/learning/templates.html" %}</li>
      <li>{% iflink "Class Parameters", "/learning/modules2.html" %}</li>
      <li>{% iflink "Defined Types", "/learning/definedtypes.html" %}</li>
    </ul>
  </li>
  <li><strong>パート2：Master/Agent方式のPuppet</strong>
    <ul>
      <li>{% iflink "Preparing an Agent VM", "/learning/agentprep.html" %}</li>
      <li>{% iflink "Basic Agent/Master Puppet", "/learning/agent_master_basic.html" %}</li>
    </ul>
  </li>
</ul>