{% comment %}
<h3 id="general-puppet-info">Installing/Upgrading Open Source Puppet</h3>

<ul>
  <li><a href="/guides/install_puppet/pre_install.html">Pre-Install Tasks</a></li>
  <li><strong>Installing Puppet</strong>
    <ul>
      <li><a href="/guides/install_puppet/install_el.html">On Red Hat Enterprise Linux (and Derivatives)</a></li>
      <li><a href="/guides/install_puppet/install_debian_ubuntu.html">On Debian and Ubuntu</a></li>
      <li><a href="/guides/install_puppet/install_fedora.html">On Fedora</a></li>
      <li><a href="/guides/install_puppet/install_osx.html">On Mac OS X</a></li>
      <li><a href="/guides/install_puppet/install_windows.html">On Microsoft Windows</a></li>
      <li><a href="/guides/install_puppet/install_gem.html">On Misc. *nix With Gems</a></li>
      <li><a href="/guides/install_puppet/install_tarball.html">On Misc. *nix With a Tarball</a></li>
    </ul>
  </li>
  <li><a href="/guides/install_puppet/post_install.html">Post-Install Tasks</a></li>
  <li><a href="/guides/install_puppet/upgrading.html">Upgrading Puppet</a></li>
  <li><a href="/guides/install_puppet/from_source.html">Running Puppet From Source</a></li>
  <li><a href="/guides/puppetlabs_package_repositories.html">Using the Puppet Labs Package Repositories</a></li>
  <li><a href="/guides/puppetlabs_package_verification.html">Verifying Signatures for Puppet Labs Packages</a></li>
</ul>

<h3 id="general-puppet-info">General Puppet Info</h3>

<ul>
  <li><a href="/guides/language_history.html">History of Language Features</a></li>
</ul>

<h3 id="other-puppet-docs">Other Puppet Docs</h3>

<ul>
  <li><a href="/puppet/latest/reference/">Puppet Reference Manual</a></li>
  <li><a href="/puppet/latest/reference/type.html">The Resource Type Reference</a></li>
  <li><a href="/learning/">Learning Puppet</a></li>
</ul>
{% endcomment %}

<h3 id="general-puppet-info">Installing/Upgrading Open Source Puppet</h3>

<ul>
  <li><a href="/ja/index.html">Puppet Labs 日本語ホーム</a></li>
  <li><a href="/ja/guides/install_puppet/pre_install_ja.html">インストール前のタスク</a></li>
   <li><a href="/ja/guides/install_puppet/upgrading_ja.html">Puppetのアップグレード</a></li>
</ul>

<h3 id="other-puppet-docs">他のマニュアル</h3>

<ul>
  <li><a href="/ja/puppet/3.7/reference/index_ja.html">Puppetリファレンスマニュアル</a></li>
  <li><a href="/ja/learning/introduction_ja.html">Puppetを学ぶ</a></li>
</ul>
