{% comment %}
<h3 id="general-puppet-info">Installing/Upgrading Open Source Puppet</h3>

<ul>
  <li>{% iflink "Pre-Install Tasks", "/guides/install_puppet/pre_install.html" %}</li>
  <li><strong>Installing Puppet</strong>
    <ul>
      <li>{% iflink "On Red Hat Enterprise Linux (and Derivatives)", "/guides/install_puppet/install_el.html" %}</li>
      <li>{% iflink "On Debian and Ubuntu", "/guides/install_puppet/install_debian_ubuntu.html" %}</li>
      <li>{% iflink "On Fedora", "/guides/install_puppet/install_fedora.html" %}</li>
      <li>{% iflink "On Mac OS X", "/guides/install_puppet/install_osx.html" %}</li>
      <li>{% iflink "On Microsoft Windows", "/guides/install_puppet/install_windows.html" %}</li>
      <li>{% iflink "On Misc. *nix With Gems", "/guides/install_puppet/install_gem.html" %}</li>
      <li>{% iflink "On Misc. *nix With a Tarball", "/guides/install_puppet/install_tarball.html" %}</li>
    </ul>
  </li>
  <li>{% iflink "Post-Install Tasks", "/guides/install_puppet/post_install.html" %}</li>
  <li>{% iflink "Upgrading Puppet", "/guides/install_puppet/upgrading.html" %}</li>
  <li>{% iflink "Running Puppet From Source", "/guides/install_puppet/from_source.html" %}</li>
  <li>{% iflink "Using the Puppet Labs Package Repositories", "/guides/puppetlabs_package_repositories.html" %}</li>
  <li>{% iflink "Verifying Signatures for Puppet Labs Packages", "/guides/puppetlabs_package_verification.html" %}</li>
</ul>

<h3 id="general-puppet-info">General Puppet Info</h3>

<ul>
  <li>{% iflink "History of Language Features", "/guides/language_history.html" %}</li>
</ul>

<h3 id="other-puppet-docs">Other Puppet Docs</h3>

<ul>
  <li><a href="/puppet/latest/reference/">Puppet Reference Manual</a></li>
  <li><a href="/references/stable/type.html">The Resource Type Reference</a></li>
  <li><a href="/learning/">Learning Puppet</a></li>
</ul>
{% endcomment %}

<h3 id="general-puppet-info">Installing/Upgrading Open Source Puppet</h3>

<ul>
  <li>{% iflink "インストール前のタスク", "ja/guides/install_puppet/pre_install_ja.html" %}</li>
</ul>

<h3 id="other-puppet-docs">Other Puppet Docs</h3>

<ul>
  <li><a href="ja/puppet/3.7/reference/">Puppetリファレンスマニュアル</a></li>
  <li><a href="ja/learning/">Puppetを学ぶ</a></li>
</ul>