<ul>
  <li><a href="/learning/index.html">Introduction</a></li>
  <li><strong>Part one: Serverless Puppet</strong>
    <ul>
      <li><a href="/learning/ral.html">Resources and the RAL</a></li>
      <li><a href="/learning/manifests.html">Manifests</a></li>
      <li><a href="/learning/ordering.html">Ordering</a></li>
      <li><a href="/learning/variables.html">Variables, Conditionals, Facts</a></li>
      <li><a href="/learning/modules1.html">Modules and Classes</a></li>
      <li><a href="/learning/templates.html">Templates</a></li>
      <li><a href="/learning/modules2.html">Class Parameters</a></li>
      <li><a href="/learning/definedtypes.html">Defined Types</a></li>
    </ul>
  </li>
  <li><strong>Part two: Master/Agent Puppet</strong>
    <ul>
      <li><a href="/learning/agentprep.html">Preparing an Agent VM</a></li>
      <li><a href="/learning/agent_master_basic.html">Basic Agent/Master Puppet</a></li>
    </ul>
  </li>
</ul>
