
<h3 class="versionnote">This page is for an older version of MCollective.</h3>
<p class="versionnote">This page covers MCollective 1.2.x, used in Puppet Enterprise 2.8 and earlier. For MCollective 2.x (and Puppet Enterprise 3), go to either:</p>
<ul class="versionnote">
  <li><a href="{{ page.canonical }}">The current version of this page</a></li>
  <li><a href="/mcollective/">MCollective documentation index</a></li>
</ul>

<ul>
  <li><strong>Overview</strong>
    <ul>
      <li><a href="/mcollective1.2/">Introduction</a></li>
      <li><a href="/mcollective1.2/terminology.html">Terminology</a></li>
      <li><a href="/mcollective1.2/screencasts.html">Screencasts</a></li>
      <li><a href="/mcollective1.2/ec2demo.html">Public EC2 Demo</a></li>
      <li><a href="/mcollective1.2/releasenotes.html">Release Notes</a></li>
      <li><a href="/mcollective1.2/changelog.html">Changelog</a></li>
      <li><a href="/mcollective1.2/reference/">Alternate Index</a></li>
    </ul>
  </li>
  <li><strong>Deploy, Install, and Configure MCollective</strong>
    <ul>
      <li><a href="/mcollective1.2/reference/basic/gettingstarted_redhat.html">Getting Started (Red Hat)</a></li>
      <li><a href="/mcollective1.2/reference/basic/gettingstarted.html">Getting Started (generic)</a></li>
      <li><a href="/mcollective1.2/reference/integration/activemq_clusters.html">ActiveMQ Clustering</a></li>
      <li><a href="/mcollective1.2/reference/integration/activemq_security.html">ActiveMQ Security</a></li>
      <li><a href="/mcollective1.2/reference/integration/activemq_ssl.html">ActiveMQ TLS</a></li>
      <li><a href="/mcollective1.2/reference/integration/puppet.html">Puppet Integration</a></li>
      <li><a href="/mcollective1.2/reference/integration/chef.html">Chef Integration</a></li>
      <li><a href="/mcollective1.2/reference/basic/configuration.html">Configuration Reference</a></li>
      <li><a href="/mcollective1.2/reference/plugins/connector_stomp.html">Configuring the Generic Stomp Connector</a></li>
      <li><a href="/mcollective1.2/reference/plugins/security_aes.html">Configuring AES Security</a></li>
      <li><a href="/mcollective1.2/reference/plugins/security_ssl.html">Configuring Validation-Only SSL Security</a></li>
      <li><a href="/mcollective1.2/reference/basic/subcollectives.html">Configuring Subcollectives and Partitioning</a></li>
      <li><a href="/mcollective1.2/simplerpc/auditing.html">Enabling Auditing</a> <!-- contains plugin-writing info --></li>
    </ul>
  </li>
  <li><strong>Use and Administer MCollective</strong>
    <ul>
      <li><a href="/mcollective1.2/reference/ui/filters.html">Command Filtering and Discovery</a></li>
      <li><a href="/mcollective1.2/reference/basic/daemon.html">Controlling the MCollective Daemon</a></li>
      <li><a href="/mcollective1.2/reference/plugins/rpcutil.html">Controlling the MCollective Daemon with the rpcutil Agent</a></li>
      <li><a href="/mcollective1.2/reference/ui/nodereports.html">On-Demand Node Reports</a></li>
    </ul>
  </li>
  <li><strong>Write Agent Plugins</strong>
    <ul>
      <li><a href="/mcollective1.2/simplerpc/agents.html">Writing Agent Plugins</a></li>
      <li><a href="/mcollective1.2/simplerpc/ddl.html">Writing DDL Files</a></li>
    </ul>
  </li>
  <li><strong>Write Clients and Applications</strong>
    <ul>
      <li><a href="/mcollective1.2/simplerpc/clients.html">Writing Clients</a></li>
      <li><a href="/mcollective1.2/reference/plugins/application.html">Writing New mco Subcommands</a></li>
    </ul>
  </li>
  <li><strong>Write Other Plugins</strong>
    <ul>
      <li><a href="/mcollective1.2/simplerpc/authorization.html">Writing Authorization Plugins and Enabling Authorization</a> <!-- contains deploy/config info --></li>
      <li><a href="/mcollective1.2/reference/plugins/facts.html">Writing Facts Plugins</a></li>
      <li><a href="/mcollective1.2/reference/plugins/registration.html">Writing Registration Plugins</a></li>
    </ul>
  </li>
  <li><a href="http://projects.puppetlabs.com/projects/mcollective-plugins/wiki">Plugin Directory</a></li>
  <li><strong>Internals</strong>
    <ul>
      <li><a href="/mcollective1.2/reference/basic/messageflow.html">Message Flow</a> <!-- needs more/needs update --></li>
      <li><a href="/mcollective1.2/simplerpc/">SimpleRPC Overview</a></li>
      <li><a href="/mcollective1.2/simplerpc/messageformat.html">SimpleRPC Message Format</a></li>
      <li><a href="/mcollective1.2/reference/basic/messageformat.html">Core Message Format</a></li>
      <li><a href="/mcollective1.2/security.html">Security Overview</a></li>
    </ul>
  </li>
  <li><strong>Deprecated Pages</strong>
    <ul>
      <li><a href="/mcollective1.2/reference/basic/basic_agent_and_client.html">Writing Old-Style Agent Plugins</a></li>
    </ul>
  </li>
</ul>
