{% comment %}

- **Overview**
    - `"Introduction", "/mcollective/"`
    - `"Terminology", "/mcollective/terminology.html"`
    - `"Screencasts", "/mcollective/screencasts.html"`
    - `"Public EC2 Demo", "/mcollective/ec2demo.html"`
    - `"Release Notes", "/mcollective/releasenotes.html"`
    - `"Changelog", "/mcollective/changelog.html"`
    - `"Alternate Index", "/mcollective/reference/"`
- **Deploy, Install, and Configure MCollective**
    - `"Getting Started (Red Hat)", "/mcollective/reference/basic/gettingstarted_redhat.html"`
    - `"Getting Started (Debian/Ubuntu)", "/mcollective/reference/basic/gettingstarted_debian.html"`
    - `"Getting Started (generic)", "/mcollective/reference/basic/gettingstarted.html"`
    - `"ActiveMQ Clustering", "/mcollective/reference/integration/activemq_clusters.html"`
    - `"ActiveMQ Security", "/mcollective/reference/integration/activemq_security.html"`
    - `"ActiveMQ TLS", "/mcollective/reference/integration/activemq_ssl.html"`
    - `"Puppet Integration", "/mcollective/reference/integration/puppet.html"`
    - `"Chef Integration", "/mcollective/reference/integration/chef.html"`
    - `"Configuration Reference", "/mcollective/reference/basic/configuration.html"`
    - `"Configuring the ActiveMQ Connector", "/mcollective/reference/plugins/connector_activemq.html"`
    - `"Configuring the RabbitMQ Connector", "/mcollective/reference/plugins/connector_rabbitmq.html"`
    - `"Configuring the Generic Stomp Connector", "/mcollective/reference/plugins/connector_stomp.html"`
    - `"Configuring AES Security", "/mcollective/reference/plugins/security_aes.html"`
    - `"Configuring Validation-Only SSL Security", "/mcollective/reference/plugins/security_ssl.html"`
    - `"Configuring Subcollectives and Partitioning", "/mcollective/reference/basic/subcollectives.html"`
    - `"Enabling Auditing", "/mcollective/simplerpc/auditing.html"` <!-- contains plugin-writing info -->
- **Use and Administer MCollective**
    - `"Command Line Usage Instructions", "/mcollective/reference/basic/basic_cli_usage.html"`
    - `"Command Filtering and Discovery", "/mcollective/reference/ui/filters.html"`
    - `"Controlling the MCollective Daemon", "/mcollective/reference/basic/daemon.html"`
    - `"Controlling the MCollective Daemon with the rpcutil Agent", "/mcollective/reference/plugins/rpcutil.html"`
    - `"On-Demand Node Reports", "/mcollective/reference/ui/nodereports.html"`
- **Write Agent Plugins**
    - `"Writing Agent Plugins", "/mcollective/simplerpc/agents.html"`
    - `"Writing DDL Files", "/mcollective/reference/plugins/ddl.html"`
    - `"Aggregating Results", "/mcollective/reference/plugins/aggregate.html"` <!-- mixes DDL info with info about writing aggregate plugins -->
- **Write Clients and Applications**
    - `"Writing Clients", "/mcollective/simplerpc/clients.html"`
    - `"Writing New mco Subcommands", "/mcollective/reference/plugins/application.html"`
- **Write Other Plugins**
    - `"Writing Authorization Plugins and Enabling Authorization", "/mcollective/simplerpc/authorization.html"` <!-- contains deploy/config info -->
    - `"Writing Data Plugins", "/mcollective/reference/plugins/data.html"`
    - `"Writing and Using Discovery Plugins", "/mcollective/reference/plugins/discovery.html"` <!-- contains usage info -->
    - `"Writing Facts Plugins", "/mcollective/reference/plugins/facts.html"`
    - `"Writing Registration Plugins", "/mcollective/reference/plugins/registration.html"`
    - `"Writing Validator Plugins", "/mcollective/reference/plugins/validator.html"`
- [Plugin Directory](http://projects.puppetlabs.com/projects/mcollective-plugins/wiki)
- **Internals**
    - `"Message Flow", "/mcollective/reference/basic/messageflow.html"` <!-- needs more/needs update -->
    - `"SimpleRPC Overview", "/mcollective/simplerpc/"`
    - `"SimpleRPC Message Format", "/mcollective/simplerpc/messageformat.html"`
    - `"Core Message Format", "/mcollective/reference/basic/messageformat.html"`
    - `"Security Overview", "/mcollective/security.html"`
- **Deprecated Pages**
    - `"Writing Old-Style Agent Plugins", "/mcollective/reference/basic/basic_agent_and_client.html"`


{% endcomment %}

<ul>
  <li><strong>Overview</strong>
    <ul>
      <li>{% iflink "Introduction", "/mcollective/" %}</li>
      <li>{% iflink "Terminology", "/mcollective/terminology.html" %}</li>
      <li>{% iflink "Screencasts", "/mcollective/screencasts.html" %}</li>
      <li>{% iflink "Public EC2 Demo", "/mcollective/ec2demo.html" %}</li>
      <li>{% iflink "Release Notes", "/mcollective/releasenotes.html" %}</li>
      <li>{% iflink "Changelog", "/mcollective/changelog.html" %}</li>
      <li>{% iflink "Alternate Index", "/mcollective/reference/" %}</li>
    </ul>
  </li>
  <li><strong>Deploy, Install, and Configure MCollective</strong>
    <ul>
      <li>{% iflink "Getting Started (Red Hat)", "/mcollective/reference/basic/gettingstarted_redhat.html" %}</li>
      <li>{% iflink "Getting Started (Debian/Ubuntu)", "/mcollective/reference/basic/gettingstarted_debian.html" %}</li>
      <li>{% iflink "Getting Started (generic)", "/mcollective/reference/basic/gettingstarted.html" %}</li>
      <li>{% iflink "ActiveMQ Clustering", "/mcollective/reference/integration/activemq_clusters.html" %}</li>
      <li>{% iflink "ActiveMQ Security", "/mcollective/reference/integration/activemq_security.html" %}</li>
      <li>{% iflink "ActiveMQ TLS", "/mcollective/reference/integration/activemq_ssl.html" %}</li>
      <li>{% iflink "Puppet Integration", "/mcollective/reference/integration/puppet.html" %}</li>
      <li>{% iflink "Chef Integration", "/mcollective/reference/integration/chef.html" %}</li>
      <li>{% iflink "Configuration Reference", "/mcollective/reference/basic/configuration.html" %}</li>
      <li>{% iflink "Configuring the ActiveMQ Connector", "/mcollective/reference/plugins/connector_activemq.html" %}</li>
      <li>{% iflink "Configuring the RabbitMQ Connector", "/mcollective/reference/plugins/connector_rabbitmq.html" %}</li>
      <li>{% iflink "Configuring the Generic Stomp Connector", "/mcollective/reference/plugins/connector_stomp.html" %}</li>
      <li>{% iflink "Configuring AES Security", "/mcollective/reference/plugins/security_aes.html" %}</li>
      <li>{% iflink "Configuring Validation-Only SSL Security", "/mcollective/reference/plugins/security_ssl.html" %}</li>
      <li>{% iflink "Configuring Subcollectives and Partitioning", "/mcollective/reference/basic/subcollectives.html" %}</li>
      <li>{% iflink "Enabling Auditing", "/mcollective/simplerpc/auditing.html" %} <!-- contains plugin-writing info --></li>
    </ul>
  </li>
  <li><strong>Use and Administer MCollective</strong>
    <ul>
      <li>{% iflink "Command Line Usage Instructions", "/mcollective/reference/basic/basic_cli_usage.html" %}</li>
      <li>{% iflink "Command Filtering and Discovery", "/mcollective/reference/ui/filters.html" %}</li>
      <li>{% iflink "Controlling the MCollective Daemon", "/mcollective/reference/basic/daemon.html" %}</li>
      <li>{% iflink "Controlling the MCollective Daemon with the rpcutil Agent", "/mcollective/reference/plugins/rpcutil.html" %}</li>
      <li>{% iflink "On-Demand Node Reports", "/mcollective/reference/ui/nodereports.html" %}</li>
    </ul>
  </li>
  <li><strong>Write Agent Plugins</strong>
    <ul>
      <li>{% iflink "Writing Agent Plugins", "/mcollective/simplerpc/agents.html" %}</li>
      <li>{% iflink "Writing DDL Files", "/mcollective/reference/plugins/ddl.html" %}</li>
      <li>{% iflink "Aggregating Results", "/mcollective/reference/plugins/aggregate.html" %} <!-- mixes DDL info with info about writing aggregate plugins --></li>
    </ul>
  </li>
  <li><strong>Write Clients and Applications</strong>
    <ul>
      <li>{% iflink "Writing Clients", "/mcollective/simplerpc/clients.html" %}</li>
      <li>{% iflink "Writing New mco Subcommands", "/mcollective/reference/plugins/application.html" %}</li>
    </ul>
  </li>
  <li><strong>Write Other Plugins</strong>
    <ul>
      <li>{% iflink "Writing Authorization Plugins and Enabling Authorization", "/mcollective/simplerpc/authorization.html" %} <!-- contains deploy/config info --></li>
      <li>{% iflink "Writing Data Plugins", "/mcollective/reference/plugins/data.html" %}</li>
      <li>{% iflink "Writing and Using Discovery Plugins", "/mcollective/reference/plugins/discovery.html" %} <!-- contains usage info --></li>
      <li>{% iflink "Writing Facts Plugins", "/mcollective/reference/plugins/facts.html" %}</li>
      <li>{% iflink "Writing Registration Plugins", "/mcollective/reference/plugins/registration.html" %}</li>
      <li>{% iflink "Writing Validator Plugins", "/mcollective/reference/plugins/validator.html" %}</li>
    </ul>
  </li>
  <li><a href="http://projects.puppetlabs.com/projects/mcollective-plugins/wiki">Plugin Directory</a></li>
  <li><strong>Internals</strong>
    <ul>
      <li>{% iflink "Message Flow", "/mcollective/reference/basic/messageflow.html" %} <!-- needs more/needs update --></li>
      <li>{% iflink "SimpleRPC Overview", "/mcollective/simplerpc/" %}</li>
      <li>{% iflink "SimpleRPC Message Format", "/mcollective/simplerpc/messageformat.html" %}</li>
      <li>{% iflink "Core Message Format", "/mcollective/reference/basic/messageformat.html" %}</li>
      <li>{% iflink "Security Overview", "/mcollective/security.html" %}</li>
    </ul>
  </li>
  <li><strong>Deprecated Pages</strong>
    <ul>
      <li>{% iflink "Writing Old-Style Agent Plugins", "/mcollective/reference/basic/basic_agent_and_client.html" %}</li>
    </ul>
  </li>
</ul>
