
<ul>
  <li><strong>Overview</strong>
    <ul>
      <li>{% iflink "Introduction", "/mcollective/" %}</li>
      <li>{% iflink "Overview of Components", "/mcollective/overview_components.html" %}</li>
      <li>{% iflink "Terminology", "/mcollective/terminology.html" %}</li>
      <li>{% iflink "Screencasts", "/mcollective/screencasts.html" %}</li>
      <li>{% iflink "Release Notes", "/mcollective/releasenotes.html" %}</li>
      <li>{% iflink "Changelog", "/mcollective/changelog.html" %}</li>
    </ul>
  </li>
  <li><strong>Deploying MCollective</strong>
    <ul>
      <li>{% iflink "Index", "/mcollective/deploy/index.html" %}</li>
      <li>{% iflink "Demo", "/mcollective/deploy/demo.html" %}</li>
      <li>{% iflink "Getting Started (Standard Deployment)", "/mcollective/deploy/standard.html" %}</li>
    </ul>
  </li>
  <li><strong>Configuration / Deployment Topics</strong>
    <ul>
      <li><strong>Installation:</strong></li>
      <li>{% iflink "Installing MCollective", "/mcollective/deploy/install.html" %}</li>
      <li>{% iflink "Installing Plugins", "/mcollective/deploy/plugins.html" %}</li>
      <li><strong>Configuration:</strong></li>
      <li>{% iflink "Server Config Reference", "/mcollective/configure/server.html" %}</li>
      <li>{% iflink "Client Config Reference", "/mcollective/configure/client.html" %}</li>
      <li>{% iflink "Puppet Integration", "/mcollective/reference/integration/puppet.html" %}</li>
      <li>{% iflink "Chef Integration", "/mcollective/reference/integration/chef.html" %}</li>
      <li><strong>Middleware:</strong></li>
      <li>{% iflink "Middleware Types", "/mcollective/deploy/middleware/" %}</li>
      <li>{% iflink "ActiveMQ Configs for MCollective", "/mcollective/deploy/middleware/activemq.html" %}</li>
      <li>{% iflink "ActiveMQ TLS Keystore Setup", "/mcollective/deploy/middleware/activemq_keystores.html" %}</li>
      <li>{% iflink "ActiveMQ Clustering", "/mcollective/reference/integration/activemq_clusters.html" %}</li>
      <li>{% iflink "ActiveMQ TLS", "/mcollective/reference/integration/activemq_ssl.html" %}</li>
      <li>{% iflink "ActiveMQ Security", "/mcollective/reference/integration/activemq_security.html" %}</li>
      <li><strong>Connector Plugins:</strong></li>
      <li>{% iflink "The ActiveMQ Connector", "/mcollective/reference/plugins/connector_activemq.html" %}</li>
      <li>{% iflink "The RabbitMQ Connector", "/mcollective/reference/plugins/connector_rabbitmq.html" %}</li>
      <li><strong>Security Plugins:</strong></li>
      <li>{% iflink "Configuring SSL Validation Security", "/mcollective/reference/plugins/security_ssl.html" %}</li>
      <li><strong>Advanced Features:</strong></li>
      <li>{% iflink "Subcollectives and Partitioning", "/mcollective/reference/basic/subcollectives.html" %}</li>
      <li>{% iflink "Auditing", "/mcollective/simplerpc/auditing.html" %} <!-- contains plugin-writing info --></li>
    </ul>
  </li>
  <li><strong>Use and Administer MCollective</strong>
    <ul>
      <li>{% iflink "Command Line Usage Instructions", "/mcollective/reference/basic/basic_cli_usage.html" %}</li>
      <li>{% iflink "Command Filtering and Discovery", "/mcollective/reference/ui/filters.html" %}</li>
      <li>{% iflink "Controlling the MCollective Daemon", "/mcollective/reference/basic/daemon.html" %}</li>
      <li>{% iflink "Controlling the MCollective Daemon with the rpcutil Agent", "/mcollective/reference/plugins/rpcutil.html" %}</li>
      <li>{% iflink "Node Inventory Reports", "/mcollective/reference/ui/nodereports.html" %}</li>
    </ul>
  </li>
  <li><strong>Write Agent Plugins</strong>
    <ul>
      <li>{% iflink "Writing Agent Plugins", "/mcollective/simplerpc/agents.html" %}</li>
      <li>{% iflink "Writing DDL Files", "/mcollective/reference/plugins/ddl.html" %}</li>
      <li>{% iflink "Aggregating Results", "/mcollective/reference/plugins/aggregate.html" %} <!-- mixes DDL info with info about writing aggregate plugins --></li>
    </ul>
  </li>
  <li><strong>Write Clients and Applications</strong>
    <ul>
      <li>{% iflink "Writing Clients", "/mcollective/simplerpc/clients.html" %}</li>
      <li>{% iflink "Writing New mco Subcommands", "/mcollective/reference/plugins/application.html" %}</li>
    </ul>
  </li>
  <li><strong>Write Other Plugins</strong>
    <ul>
      <li>{% iflink "Writing Authorization Plugins and Enabling Authorization", "/mcollective/simplerpc/authorization.html" %} <!-- contains deploy/config info --></li>
      <li>{% iflink "Writing Data Plugins", "/mcollective/reference/plugins/data.html" %}</li>
      <li>{% iflink "Writing and Using Discovery Plugins", "/mcollective/reference/plugins/discovery.html" %} <!-- contains usage info --></li>
      <li>{% iflink "Writing Facts Plugins", "/mcollective/reference/plugins/facts.html" %}</li>
      <li>{% iflink "Writing Registration Plugins", "/mcollective/reference/plugins/registration.html" %}</li>
      <li>{% iflink "Writing Validator Plugins", "/mcollective/reference/plugins/validator.html" %}</li>
    </ul>
  </li>
  <li>{% iflink "Plugin Directory", "/mcollective/plugin_directory/index.html" %}</li>
  <li><strong>Internals</strong>
    <ul>
      <li>{% iflink "Message Flow", "/mcollective/reference/basic/messageflow.html" %} <!-- needs more/needs update --></li>
      <li>{% iflink "SimpleRPC Overview", "/mcollective/simplerpc/" %}</li>
      <li>{% iflink "SimpleRPC Message Format", "/mcollective/simplerpc/messageformat.html" %}</li>
      <li>{% iflink "Core Message Format", "/mcollective/reference/basic/messageformat.html" %}</li>
      <li>{% iflink "Security Overview", "/mcollective/security.html" %}</li>
    </ul>
  </li>
  <li><strong>Older and Non-Recommended Information</strong>
    <ul>
      <li>{% iflink "Configuring AES Security", "/mcollective/reference/plugins/security_aes.html" %}</li>
      <li>{% iflink "Configuring the Generic Stomp Connector", "/mcollective/reference/plugins/connector_stomp.html" %}</li>
      <li>{% iflink "Writing Old-Style Agent Plugins", "/mcollective/reference/basic/basic_agent_and_client.html" %}</li>
      <li>{% iflink "Alternate Index", "/mcollective/reference/" %}</li>
    </ul>
  </li>
</ul>
