
<h3 class="versionnote">This page is for an older version of MCollective.</h3>
<p class="versionnote">This page covers MCollective 1.2.x, used in Puppet Enterprise 2.8 and earlier. For MCollective 2.x (and Puppet Enterprise 3), go to either:</p>
<ul class="versionnote">
  <li><a href="{{ page.canonical }}">The current version of this page</a></li>
  <li><a href="/mcollective/">MCollective documentation index</a></li>
</ul>

<ul>
  <li><strong>Overview</strong>
    <ul>
      <li>{% iflink "Introduction", "/mcollective1.2/" %}</li>
      <li>{% iflink "Terminology", "/mcollective1.2/terminology.html" %}</li>
      <li>{% iflink "Screencasts", "/mcollective1.2/screencasts.html" %}</li>
      <li>{% iflink "Public EC2 Demo", "/mcollective1.2/ec2demo.html" %}</li>
      <li>{% iflink "Release Notes", "/mcollective1.2/releasenotes.html" %}</li>
      <li>{% iflink "Changelog", "/mcollective1.2/changelog.html" %}</li>
      <li>{% iflink "Alternate Index", "/mcollective1.2/reference/" %}</li>
    </ul>
  </li>
  <li><strong>Deploy, Install, and Configure MCollective</strong>
    <ul>
      <li>{% iflink "Getting Started (Red Hat)", "/mcollective1.2/reference/basic/gettingstarted_redhat.html" %}</li>
      <li>{% iflink "Getting Started (generic)", "/mcollective1.2/reference/basic/gettingstarted.html" %}</li>
      <li>{% iflink "ActiveMQ Clustering", "/mcollective1.2/reference/integration/activemq_clusters.html" %}</li>
      <li>{% iflink "ActiveMQ Security", "/mcollective1.2/reference/integration/activemq_security.html" %}</li>
      <li>{% iflink "ActiveMQ TLS", "/mcollective1.2/reference/integration/activemq_ssl.html" %}</li>
      <li>{% iflink "Puppet Integration", "/mcollective1.2/reference/integration/puppet.html" %}</li>
      <li>{% iflink "Chef Integration", "/mcollective1.2/reference/integration/chef.html" %}</li>
      <li>{% iflink "Configuration Reference", "/mcollective1.2/reference/basic/configuration.html" %}</li>
      <li>{% iflink "Configuring the Generic Stomp Connector", "/mcollective1.2/reference/plugins/connector_stomp.html" %}</li>
      <li>{% iflink "Configuring AES Security", "/mcollective1.2/reference/plugins/security_aes.html" %}</li>
      <li>{% iflink "Configuring Validation-Only SSL Security", "/mcollective1.2/reference/plugins/security_ssl.html" %}</li>
      <li>{% iflink "Configuring Subcollectives and Partitioning", "/mcollective1.2/reference/basic/subcollectives.html" %}</li>
      <li>{% iflink "Enabling Auditing", "/mcollective1.2/simplerpc/auditing.html" %} <!-- contains plugin-writing info --></li>
    </ul>
  </li>
  <li><strong>Use and Administer MCollective</strong>
    <ul>
      <li>{% iflink "Command Filtering and Discovery", "/mcollective1.2/reference/ui/filters.html" %}</li>
      <li>{% iflink "Controlling the MCollective Daemon", "/mcollective1.2/reference/basic/daemon.html" %}</li>
      <li>{% iflink "Controlling the MCollective Daemon with the rpcutil Agent", "/mcollective1.2/reference/plugins/rpcutil.html" %}</li>
      <li>{% iflink "On-Demand Node Reports", "/mcollective1.2/reference/ui/nodereports.html" %}</li>
    </ul>
  </li>
  <li><strong>Write Agent Plugins</strong>
    <ul>
      <li>{% iflink "Writing Agent Plugins", "/mcollective1.2/simplerpc/agents.html" %}</li>
      <li>{% iflink "Writing DDL Files", "/mcollective1.2/simplerpc/ddl.html" %}</li>
    </ul>
  </li>
  <li><strong>Write Clients and Applications</strong>
    <ul>
      <li>{% iflink "Writing Clients", "/mcollective1.2/simplerpc/clients.html" %}</li>
      <li>{% iflink "Writing New mco Subcommands", "/mcollective1.2/reference/plugins/application.html" %}</li>
    </ul>
  </li>
  <li><strong>Write Other Plugins</strong>
    <ul>
      <li>{% iflink "Writing Authorization Plugins and Enabling Authorization", "/mcollective1.2/simplerpc/authorization.html" %} <!-- contains deploy/config info --></li>
      <li>{% iflink "Writing Facts Plugins", "/mcollective1.2/reference/plugins/facts.html" %}</li>
      <li>{% iflink "Writing Registration Plugins", "/mcollective1.2/reference/plugins/registration.html" %}</li>
    </ul>
  </li>
  <li><a href="http://projects.puppetlabs.com/projects/mcollective-plugins/wiki">Plugin Directory</a></li>
  <li><strong>Internals</strong>
    <ul>
      <li>{% iflink "Message Flow", "/mcollective1.2/reference/basic/messageflow.html" %} <!-- needs more/needs update --></li>
      <li>{% iflink "SimpleRPC Overview", "/mcollective1.2/simplerpc/" %}</li>
      <li>{% iflink "SimpleRPC Message Format", "/mcollective1.2/simplerpc/messageformat.html" %}</li>
      <li>{% iflink "Core Message Format", "/mcollective1.2/reference/basic/messageformat.html" %}</li>
      <li>{% iflink "Security Overview", "/mcollective1.2/security.html" %}</li>
    </ul>
  </li>
  <li><strong>Deprecated Pages</strong>
    <ul>
      <li>{% iflink "Writing Old-Style Agent Plugins", "/mcollective1.2/reference/basic/basic_agent_and_client.html" %}</li>
    </ul>
  </li>
</ul>
