<h3 class="chapter">Overview</h3>
<ul class="toc">
       <li><a href="/mcollective/">Introduction</a></li>
       <li><a href="/mcollective/screencasts.html">Screencasts</a></li>
       <li><a href="/mcollective/ec2demo.html">EC2 Demo</a></li>
       <li><a href="/mcollective/terminology.html">Terminology</a></li>
       <li><a href="/mcollective/security.html">Security Overview</a></li>
</ul>

<h3 class="chapter">Users</h3>
<ul class="toc">
       <li><a href="/mcollective/reference/basic/gettingstarted.html">Getting
Started</a></li>
       <li><a
href="/mcollective/reference/basic/configuration.html">Configuration
Guide</a></li>
       <li><a href="/mcollective/reference/basic/daemon.html">Controlling
mcollectived</a></li>
       <li><a href="/mcollective/reference/">...more</a></li>
</ul>


<h3 class="chapter">Writing Agents</h3>
<ul class="toc">
       <li><a href="/mcollective/simplerpc/">Overview</a></li>
       <li><a href="/mcollective/simplerpc/agents.html">Writing Agents</a></li>
       <li><a href="/mcollective/simplerpc/clients.html">Writing Clients</a></li>
       <li><a
href="/mcollective/simplerpc/authorization.html">Authorization</a></li>
       <li><a href="/mcollective/simplerpc/auditing.html">Auditing</a></li>
       <li><a href="/mcollective/simplerpc/ddl.html">DDL</a></li>
</ul>
