{% comment %}

Format:
<ul>
  <li><strong>section label</strong>
    <ul>
      <li>page if-links...</li>
    </ul>
  </li>
<ul>

Use the

{% endcomment %}

{% include warnings/old_pe_version.html %}

<h3><a href="./index.html">Puppet Enterprise 2.5</a></h3>

<ul>
  <li><strong>Overview</strong>
    <ul>
      <li><a href="./overview_about_pe.html">About Puppet Enterprise</a></li>
      <li><a href="./overview_whats_new.html">New Features</a></li>
      <li><a href="./overview_getting_support.html">Getting Support</a></li>
    </ul>
  </li>
  <li><strong>Quick Start</strong>
    <ul>
        <li><a href="./quick_start.html">Quick Start: Using PE</a></li>
        <li><a href="./quick_writing.html">Quick Start: Writing Modules</a></li>
    </ul>
  </li>
  <li><strong>Installing Puppet Enterprise</strong>
    <ul>
      <li><a href="./install_system_requirements.html">System Requirements</a></li>
      <li><a href="./install_basic.html">Installing PE</a></li>
      <li><a href="./install_windows.html">Installing Windows Agents</a></li>
      <li><a href="./install_upgrading.html">Upgrading</a></li>
      <li><a href="./install_uninstalling.html">Uninstalling</a></li>
      <li><a href="./install_automated.html">Automated Installation</a></li>
      <li><a href="./install_answer_file_reference.html">Answer File Reference</a></li>
      <li><a href="./install_what_and_where.html">What gets installed where?</a></li>
    </ul>
  </li>
  <li><strong>The Console</strong>
    <ul>
      <li><a href="./console_accessing.html">Accessing the Console</a></li>
      <li><a href="./console_navigating.html">Navigating the Console</a></li>
      <li><a href="./console_reports.html">Viewing Reports and Inventory Data</a></li>
      <li><a href="./console_auth.html">Managing Users</a></li>
      <li><a href="./console_classes_groups.html">Grouping and Classifying Nodes</a></li>
      <li><a href="./console_live.html">Live Management</a></li>
      <li><a href="./console_live_resources.html">Live Management: Managing Resources</a></li>
      <li><a href="./console_live_puppet.html">Live Management: Controlling Puppet</a></li>
      <li><a href="./console_live_advanced.html">Live Management: Advanced Tasks</a></li>
      <li><a href="./console_maintenance.html">Console Maintenance</a></li>
    </ul>
  </li>
  <li><strong>Puppet</strong>
    <ul>
      <li><a href="./puppet_overview.html">Overview</a></li>
      <li><a href="./puppet_tools.html">Tools</a></li>
      <li><a href="./puppet_modules_manifests.html">Modules and Manifests</a></li>
      <li><a href="./puppet_data_library.html">Puppet Data Library</a></li>
      <li><a href="./puppet_references.html">References</a></li>
    </ul>
  </li>
   <li><strong>Configuring Puppet Enterprise</strong>
    <ul>
     <li><a href="./config_advanced.html">Advanced Configuration</a></li>
     <li><a href="./config_installing_additional.html">Installing Additional Components</a></li>
    </ul>
  </li>
  <li><strong>Orchestration</strong>
    <ul>
      <li><a href="./orchestration_overview.html">Overview</a></li>
      <li><a href="./orchestration_usage.html">Usage and Examples</a></li>
    </ul>
  </li>
  <li><strong>Cloud Provisioning</strong>
    <ul>
      <li><a href="./cloudprovisioner_overview.html">Overview</a></li>
      <li><a href="./cloudprovisioner_configuring.html">Installing & Configuring Cloud Provisioner</a></li>
      <li><a href="./cloudprovisioner_classifying_installing.html">Classifying Nodes & Remotely Installing Puppet</a></li>
      <li><a href="./cloudprovisioner_vmware.html">Provisioning with VMware</a></li>
      <li><a href="./cloudprovisioner_aws.html">Provisioning with AWS</a></li>
      <li><a href="./cloudprovisioner_workflow.html">Sample Workflow</a></li>
      <li><a href="./cloudprovisioner_troubleshooting.html">Troubleshooting</a></li>
    </ul>
  </li>
  <li><strong>The Compliance Workflow</strong>
    <ul>
      <li><a href="./compliance_basics.html">Basics and UI</a></li>
      <li><a href="./compliance_using.html">Using the Compliance Workflow</a></li>
      <li><a href="./compliance_tutorial.html">Tutorial</a></li>
    </ul>
  </li>
  <li><strong>The PE Accounts Module</strong>
    <ul>
      <li><a href="./accounts_user_type.html">The pe_accounts::user Type</a></li>
      <li><a href="./accounts_class.html">The pe_accounts Class</a></li>
    </ul>
  </li>
  <li><strong>Troubleshooting</strong>
    <ul>
     <li> <a href="./trouble_common_problems.html">Common Problems & Solutions</a></li>
    </ul>
  </li>
  <li><strong>Appendix</strong>
    <ul>
      <li><a href="./appendix.html#release-notes">Release Notes</a></li>
      <li><a href="./appendix.html#known-issues">Known Issues</a></li>
    </ul>
  </li>
</ul>



