{% comment %}

Format:
<ul>
  <li><strong>section label</strong>
    <ul>
      <li>page if-links...</li>
    </ul>
  </li>
<ul>


{% endcomment %}

{% include warnings/old_pe_version.html %}

<h3><a href="./index.html">Puppet Enterprise 3.0</a></h3>

<ul>
  <li><strong>Overview</strong>
    <ul>
      <li><a href="./overview_about_pe.html">About Puppet Enterprise</a></li>
      <li><a href="./overview_whats_new.html">New Features</a></li>
      <li><a href="./overview_getting_support.html">Getting Support</a></li>
    </ul>
  </li>
  <li><strong>Quick Start</strong>
    <ul>
        <li><a href="./quick_start.html">Quick Start: Using PE</a></li>
        <li><a href="./quick_writing.html">Quick Start: Writing Modules</a></li>
    </ul>
  </li>
  <li><strong>Installing Puppet Enterprise</strong>
    <ul>
      <li><a href="./install_system_requirements.html">System Requirements</a></li>
      <li><a href="./install_basic.html">Installing PE</a></li>
      <li><a href="./install_windows.html">Installing Windows Agents</a></li>
      <li><a href="./install_upgrading.html">Upgrading</a></li>
      <li><a href="./install_uninstalling.html">Uninstalling</a></li>
      <li><a href="./install_automated.html">Automated Installation</a></li>
      <li><a href="./install_answer_file_reference.html">Answer File Reference</a></li>
      <li><a href="./install_what_and_where.html">What gets installed where?</a></li>
    </ul>
  </li>
  <li><strong>The PE Console</strong>
    <ul>
      <li><a href="./console_accessing.html">Accessing the Console</a></li>
      <li><a href="./console_navigating.html">Navigating the Console</a></li>
      <li><a href="./console_navigating_live_mgmt.html">Navigating the Live Management Page</a></li>
      <li><a href="./console_cert_mgmt.html">Managing Node Requests</a></li>
      <li><a href="./console_classes_groups.html">Grouping & Classifying Nodes</a></li>
      <li><a href="./console_reports.html">Viewing Reports & Inventory Data</a></li>
      <li><a href="./console_auth.html">Managing Users</a></li>
      <li><a href="./console_inventory_search.html">Inventory Search</a></li>
      <li><a href="./console_rake_api.html">Rake API and List of Tasks</a></li>
      <li><a href="./console_rake_api_old.html">Rake API: List of Tasks (Old Argument Style)</a></li>
      <li><a href="./console_config.html">Configuring the Console</a></li>
    </ul>
  </li>
  <li><strong>Puppet Core</strong>
    <ul>
      <li><a href="./puppet_overview.html">Overview</a></li>
      <li><a href="./puppet_modules_manifests.html">Modules & Manifests</a></li>
      <li><a href="./puppet_assign_configurations.html">Assigning Configurations to Nodes</a></li>
      <li><a href="./puppet_tools.html">Tools</a></li>
      <li><a href="./puppet_data_library.html">Puppet Data Library</a></li>
      <li><a href="./puppet_references.html">References</a></li>
      <li><a href="./puppet_config.html">Configuring Puppet Core</a></li>
    </ul>
  </li>
  <li><strong>Orchestration</strong>
    <ul>
      <li><a href="./orchestration_overview.html">Overview</a></li>
      <li><a href="./orchestration_invoke_cli.html">Invoking Actions</a></li>
      <li><a href="./orchestration_puppet.html">Controlling Puppet</a></li>
      <li><a href="./orchestration_resources.html">Browsing Resources</a></li>
      <li><a href="./orchestration_actions.html">List of Built-In Actions</a></li>
      <li><a href="./orchestration_adding_actions.html">Adding New Actions</a></li>
      <!-- <li><a href="./orchestration_integrating.html">Integrating Applications</a></li> -->
      <li><a href="./orchestration_config.html">Configuring Orchestration</a></li>
    </ul>
  </li>
  <li><strong>Cloud Provisioning</strong>
    <ul>
      <li><a href="./cloudprovisioner_overview.html">Overview</a></li>
      <li><a href="./cloudprovisioner_configuring.html">Installing & Configuring Cloud Provisioner</a></li>
      <li><a href="./cloudprovisioner_classifying_installing.html">Classifying Nodes & Remotely Installing Puppet</a></li>
      <li><a href="./cloudprovisioner_vmware.html">Provisioning with VMware</a></li>
      <li><a href="./cloudprovisioner_aws.html">Provisioning with AWS</a></li>
      <li><a href="./cloudprovisioner_workflow.html">Sample Workflow</a></li>
    </ul>
  </li>
  <li><strong>The PE Accounts Module</strong>
    <ul>
      <li><a href="./accounts_user_type.html">The pe_accounts::user Type</a></li>
      <li><a href="./accounts_class.html">The pe_accounts Class</a></li>
    </ul>
  </li>
   <li><strong>Maintenance</strong>
    <ul>
      <li> <a href="./maintain_console-db.html">Console & Database Maintenance</a></li>
      <!--
<li> <a href="./maintain_puppet.html">Puppet Core Maintenance</a></li>
      <li> <a href="./maintain_orchestration.html">Orchestration Maintenance</a></li>
 -->
    </ul>
  </li>
  <li><strong>Troubleshooting</strong>
    <ul>
     <li> <a href="./trouble_install.html">Troubleshooting the Installer</a></li>
     <li> <a href="./trouble_comms.html">Troubleshooting Connections & Communications</a></li>
     <li> <a href="./trouble_console-db.html">Troubleshooting the Console & Database</a></li>
     <li> <a href="./trouble_puppet.html">Troubleshooting the Puppet Core</a></li>
     <li> <a href="./trouble_orchestration.html">Troubleshooting Orchestration</a></li>
     <li> <a href="./trouble_cloudprovisioner.html">Troubleshooting Cloud Provisioner</a></li>
     <li> <a href="./trouble_windows.html">Troubleshooting Windows</a></li>
    </ul>
  </li>
  <li><strong>Appendix</strong>
    <ul>
      <li><a href="./appendix.html#release-notes">Release Notes</a></li>
      <li><a href="./appendix.html#known-issues">Known Issues</a></li>
       <li><a href="./compliance_alt.html">Compliance Alternate Workflow</a></li>
    <!--    <li><a href="./cloning_alt.html">Cloning Alternate Workflow</a></li> -->
    </ul>
  </li>
</ul>
