<h3><a href="./index.html">Puppet Enterprise 3.7</a></h3>

<ul>
  <li><strong>Overview</strong>
    <ul>
      <li><a href="./overview_about_pe.html">About Puppet Enterprise</a></li>
      <li><a href="./overview_getting_support.html">Getting Support</a></li>
    </ul>
  </li>
  <li><strong>Release Notes</strong>
    <ul>
        <li><a href="./release_notes.html">New Features and Deprecations</a></li>
        <li><a href="./release_notes_known_issues.html">Known Issues</a></li>
        <li><a href="./release_notes_security.html">Security and Bug Fixes</a></li>
    </ul>
  </li>
  <li><strong>Quick Start Guides</strong>
    <ul>
        <li><strong><a href="./quick_start.html">Quick Start Intro for *Nix Users</a></strong>
          <ul>
            <li><a href="./quick_start_install_mono.html">1: Install PE</a></li>
            <li><a href="./quick_start_install_agents_nix.html">2: Install Unix Agents</a></li>
            <li><a href="./quick_start_helloworld.html">3: Hello, World!</a></li>
            <li><a href="./quick_start_module_install_nix.html">4: Module Install</a></li>
            <li><a href="./quick_start_adding_class_nix.html">5: Classifying Agents</a></li>
            <li><a href="./quick_start_nc_rbac.html">6: Classifying Nodes and Assigning User Permissions</a></li>
            <li><a href="./quick_writing_nix.html">7: Writing Modules</a></li>
           </ul>
           </li>
        <li><strong><a href="./quick_start.html">Quick Start Intro for Windows Users</a></strong>
          <ul>
            <li><a href="./quick_start_install_agents_windows.html">1: Install Agents</a></li>
            <li><a href="./quick_start_module_install_windows.html">2: Module Install</a></li>
            <li><a href="./quick_start_adding_class_windows.html">3: Classifying Agents</a></li>
            <li><a href="./quick_start_nc_rbac.html">4: Classifying Nodes and Assigning User Permissions</a></li>
            <li><a href="./quick_writing_windows.html">5: Writing Modules (Windows)</a></li>
         </ul>
        <li><strong><a href="./quick_start_essential_config.html">Essential Configuration Tasks</a></strong>
           <ul>
            <li><a href="./quick_start_ntp.html">NTP Quick Start Guide</a></li>
            <li><a href="./quick_start_dns.html">DNS Quick Start Guide</a></li>
            <li><a href="./quick_start_ssh.html">SSH Quick Start Guide</a></li>
            <li><a href="./quick_start_sudo.html">Sudo Quick Start Guide</a></li>
            <li><a href="./quick_start_firewall.html">Firewall Quick Start Guide</a></li>
          </ul>
        <li><a href="./quick_start_r10k.html">r10k Quick Start Guide</a></strong>
      </ul>
  </li>
  <li><strong>Installing Puppet Enterprise</strong>
      <ul>
         <li><a href="./install_system_requirements.html">System Requirements</a></li>
         <li><a href="./install_basic.html">Installing PE Overview</a></li>
         <li><strong>Web-based Installation</strong>
           <ul>
             <li><a href="./install_pe_mono.html">Installing PE: Monolithic</a></li>
             <li><a href="./install_pe_split.html">Installing PE: Split</a></li>
           </ul>
         <li><strong>Installing PE Agents</strong>
           <ul>
             <li><a href="./install_agents.html">Install PE Agents: *nix</a></li>
             <li><a href="./install_windows.html">Install PE Agents: Windows</a></li>
             <li><a href="./install_osx.html">Install PE Agents: Mac OS X</a></li>
             <li><strong>Network Device Agents</strong>
                 <ul>
                   <li><a href="./install_eos.html">Install PE Agents: Arista EOS</a></li>
                   <li><a href="./install_cumulus.html">Intall PE Agents: Cumulus Linux</a></li>
                 </ul>
           </ul>
         <li><strong>Large Environment Installation</strong>
           <ul>
             <li><a href="./install_multimaster.html">Additional Puppet Master Installation</a></li>
             <li><a href="./install_add_activemq.html">Additional ActiveMQ Hub and Spoke Installation</a></li>
             <li><a href="./install_add_dashboard_workers.html">Adding Dashboard Workers</a></li>
             <li><a href="./install_lei_upgrade.html">Upgrading Large Environment Installations</a></li>
           </ul>
         <li><strong>Answer File Installation</strong>
           <ul>
             <li><a href="./install_automated.html">Installing with an Answer File</a></li>
             <li><a href="./install_complete_answer_file_reference.html">Complete Answer File Reference</a></li>
             <li><a href="./install_mono_answers.html">Monolithic Install Answer File Reference</a></li>
             <li><strong>Split Install Answer File Reference</strong>
                 <ul>
                   <li><a href="./install_split_console_answers.html">Console Answer File Reference</a></li>
                   <li><a href="./install_split_master_answers.html">Puppet Master Answer File Reference</a></li>
                   <li><a href="./install_split_puppetdb_answers.html">PuppetDB Answer File Reference</a></li>
                 </ul>
                </ul>
          <li><a href="./console_accessing.html">Accessing the Console</a></li>
          <li><strong>Upgrading</strong>
             <ul>
               <li><a href="./install_upgrading.html">Upgrading</a></li>
               <li><a href="./install_upgrading_notes.html">Upgrading: Important Notes</a></li>
               <li><a href="./install_upgrading_dir_env_notes.html">Upgrading to Directory Environments</a></li>
               <li><a href="./install_upgrading_puppet_server_notes.html">Upgrading to Puppet Server</a></li>
              </ul>
          <li><strong>PE 3.3->PE 3.8 Migration</strong>
            <ul>
               	<li><a href="./install_upgrade_migration_tool.html">Overview</a></li>
               	<li><a href="./install_upgrade_migration_monolithic.html">Migrating a Monolithic Installation</a></li>
               	<li><a href="./install_upgrade_migration_split.html">Migrating a Split Installation</a></li>
        		<li><a href="./install_upgrade_migration_preconfigured_groups.html">Preconfigured Node Groups</a></li>
           		<li><a href="./install_upgrade_migration_tool_conflicts.html">Resolving Conflicts</a></li>
           	</ul>
           <li><a href="./install_uninstalling.html">Uninstalling</a></li>
           <li><a href="./install_what_and_where.html">What Gets Installed Where?</a></li>
           <li><a href="./install_ssl_postgresql.html">SSL for PE and External PostgreSQL</a></li>
          </li>
      </ul>
  <li><strong>Configuring Puppet Enterprise</strong>
    <ul>
      <li><a href="./config_intro.html">Configuring Your PE Infrastructure</a></li>
      <li><a href="./config_puppetserver.html">Configuring and Tuning Puppet Server</a></li>
      <li><a href="./console_config.html">Configuring and Tuning the Console</a></li>
      <li><a href="./config_puppetdb.html">Configuring and Tuning PuppetDB</a></li>
      <li><a href="./config_orchestration.html">Configuring and Tuning Orchestration</a></li>
      <li><a href="./config_java_args.html">Configuring Java Arguments For PE</a></li>
      <li><a href="./config_nc.html">Configuring and Tuning Node Classifier</a></li>
    </ul>
  </li>
  <li><strong>Monitoring Your PE Infrastructure</strong>
         <ul>
           <li><a href="./console_navigating_live_mgmt.html">Navigating the Live Management Page</a></li>
           <li><a href="./console_event-inspector.html">Using Event Inspector</a></li>
           <li><a href="./console_reports.html">Viewing Reports & Inventory Data</a></li>
           <li><a href="./console_inventory_search.html">Inventory Search</a></li>
           <li><a href="./puppet_server_metrics.html">Monitoring Puppet Server</a></li>
					</ul>
	</li>
  <li><strong>Managing Nodes</strong>
              <ul>
                 <li><a href="./console_cert_mgmt.html">Managing Node Requests</a></li>
                 <li><a href="./console_classes_groups_getting_started.html">Getting Started With Classification</a></li>
                 <li><a href="./console_classes_groups.html">Grouping and Classifying Nodes</a></li>
                 <li><a href="./console_classes_groups_making_changes.html">Making Changes in the Node Classifier</a></li>
                 <li><a href="./console_classes_groups_preconfigured_groups.html">Preconfigured Node Groups</a></li>
                 <li><a href="./console_classes_groups_inheritance.html">How Does Inheritance Work?</a></li>
                 <li><a href="./console_classes_groups_environment_override.html">Working With Environments</a></li>
                 <li><a href="./node_deactivation.html">Deactivating a PE Agent</a></li>
                 <li><strong>Node Classifier Service API</strong>
               <ul>
                  <li><a href="./nc_index.html">Endpoints</a></li>
                  <li><a href="./nc_groups.html">Groups</a></li>
                  <li><a href="./nc_classes.html">Classes</a></li>
                  <li><a href="./nc_classification.html">Classification</a></li>
                  <li><a href="./nc_environments.html">Environments</a></li>
                  <li><a href="./nc_nodes.html">Nodes</a></li>
                  <li><a href="./nc_rules.html">Rules</a></li>
                  <li><a href="./nc_forming_requests.html">Forming Node Classifier Requests</a></li>
                  <li><a href="./nc_import-hierarchy.html">Importing Node Classifier Hierarchy</a></li>
                  <li><a href="./nc_last_class_update.html">Last Class</a></li>
                  <li><a href="./nc_nodes.html">Node History</a></li>
                  <li><a href="./nc_update_classes.html">Updating Node Classifier Classes</a></li>
                  <li><a href="./nc_validate.html">Validating Node Classifier Endpoints</a></li>
                  <li><a href="./nc_errors.html">Node Classifier Errors</a></li>
               </ul>
            	<li><strong>Console Rake API</strong>
            	 <ul>
            	 	<li><a href="./console_rake_api.html">Console Rake API</a></li>
            	 	<li><a href="./nc_mapping.html">Mapping Rake Tasks to Service REST APIs</a></li>
      			 </ul>
      			 </li>
      			 </ul>
      			 </li>
      	<li><strong>Managing Users</strong>
               <ul>
                  <li><a href="./rbac_intro.html">Working with Role-Based Access Control</a></li>
                  <li><a href="./rbac_ldap.html">Connecting PE with External Directory Services</a></li>
                  <li><a href="./rbac_permissions.html">About RBAC Permissions</a></li>
                  <li><a href="./rbac_user_roles.html">Creating and Managing Users and User Roles</a></li>
                  <li><a href="./deploy_nonroot-agent.html">Running Agents Without Root Privileges</a></li>
                  <li><strong>RBAC Service API</strong>
                  <ul>
                    <li><a href="./rbac_serviceindex.html">Endpoints</a></li>
                    <li><a href="./rbac_users.html">Users</a></li>
                    <li><a href="./rbac_usergroups.html">User Groups</a></li>
                    <li><a href="./rbac_roles.html">Roles</a></li>
                    <li><a href="./rbac_permissionsref.html">Permissions</a></li>
                    <li><a href="./rbac_dsref.html">Directory Service</a></li>
                    <li><a href="./rbac_passwords.html">Passwords</a></li>
                    <li><a href="./rbac_serviceerrors.html">Errors</a></li>
                    <li><a href="./rbac_config.html">Configuration Options</a></li>
                 </ul>
                 <li><strong>Activity Service API</strong>
            	<ul>
                  <li><a href="./rbac_activityapis.html">Endpoints</a></li>
                  <li><a href="./rbac_activityreporting.html">Activity Reporting</a></li>
               </ul>
               </li>
               </ul>
  		</li>
  <li><strong>Puppet Core</strong>
    <ul>
      <li><a href="./puppet_overview.html">Overview</a></li>
      <li><a href="./puppet_modules_manifests.html">Modules & Manifests</a></li>
      <li><a href="../../guides/module_guides/bgtm.html">Beginners Guide to Modules</a></li>
      <li><a href="./puppet_assign_configurations.html">Assigning Configurations to Nodes</a></li>
      <li><a href="./puppet_tools.html">Tools</a></li>
      <li><a href="./puppet_data_library.html">Puppet Data Library</a></li>
      <li><a href="./puppet_references.html">References</a></li>
      <li><a href="./puppet_config.html">Configuring Puppet Core</a></li>
      <li><a href="./puppet_server_config_files.html">Puppet Server Config Files</a></li>
      <li><a href="./modules_installing.html">Installing, Upgrading, & Uninstalling Modules</a></li>
      <li><a href="./modules_publishing.html">Publishing Modules</a></li>
    </ul>
  </li>
  <li><strong>Orchestration</strong>
    <ul>
      <li><a href="./orchestration_overview.html">Overview</a></li>
      <li><a href="./orchestration_invoke_cli.html">Invoking Actions</a></li>
      <li><a href="./orchestration_puppet.html">Controlling Puppet</a></li>
      <li><a href="./orchestration_resources.html">Browsing Resources</a></li>
      <li><a href="./orchestration_actions.html">List of Built-In Actions</a></li>
      <li><a href="./orchestration_adding_actions.html">Adding New Actions</a></li>
      <li><a href="./orchestration_config.html">Configuring Orchestration</a></li>
    </ul>
</li>

  <li><strong>Provision With Razor</strong>
    <ul>
      <li><a href="./razor_intro.html">Bare-Metal Provisioning with Razor</a></li>
      <li><a href="./razor_prereqs.html">Set Up an Environment for Razor</a></li>
      <li><a href="./razor_install.html">Install Razor</a></li>
      <li><a href="./razor_secure_apis.html">Make Razor API Calls Secure</a></li>
      <li><a href="./razor_objects.html">Razor Objects for Provisioning</a></li>
      <li><a href="./razor_using.html">Razor Provisioning Setup</a></li>
      <li><a href="./razor_windows_install.html">Setting Up and Installing Windows</a></li>
      <li><a href="./razor_reference.html">Razor Command Reference</a></li>
      <li><a href="./razor_tags.html">Razor Tags</a></li>
      <li><a href="./razor_brokertypes.html">Razor Broker Types</a></li>
      <li><a href="./razor_tasks.html">Razor Tasks</a></li>
      <li><a href="./razor_knownissues.html">Razor Setup Information and Known Issues</a></li>
    </ul>
  </li>
  <li><strong>Cloud Provisioners</strong>
    <ul>
      <li><a href="./cloudprovisioner_overview.html">Overview</a></li>
      <li><a href="./cloudprovisioner_configuring.html">Installing & Configuring Cloud Provisioner</a></li>
      <li><a href="./cloudprovisioner_vmware.html">Provisioning with VMware</a></li>
      <li><a href="./cloudprovisioner_gce.html">Provisioning with GCE</a></li>
      <li><a href="./cloudprovisioner_aws.html">Provisioning with AWS</a></li>
      <li><a href="./cloudprovisioner_classifying_installing.html">Classifying Nodes & Remotely Installing Puppet</a></li>
      <li><a href="./cloudprovisioner_workflow.html">Sample Workflow</a></li>
    </ul>
  </li>
  <li><strong>Code Management with r10K</strong>
    <ul>
      <li><a href="./r10k.html">Getting to Know r10K</a></li>
      <li><a href="./r10k_setup.html">Setting Up r10K</a></li>
      <li><a href="./r10k_yamlhtml">Configuring r10k.yaml</a></li>
      <li><a href="./r10k_puppetfile.html">Configuring the Puppetfile</a></li>
      <li><a href="./r10k_run.html">Running r10K</a></li>
      <li><a href="./r10k_refernce.html">Subcommand Reference for r10K</a></li>
    </ul>
  </li>
<li><strong>The PE Accounts Module</strong>
    <ul>
      <li><a href="./accounts_user_type.html">The pe_accounts::user Type</a></li>
      <li><a href="./accounts_class.html">The pe_accounts Class</a></li>
    </ul>
  </li>
   <li><strong>Maintenance</strong>
    <ul>
      <li><a href="./maintain_console-db.html">Console & Database Maintenance</a></li>
      <li><a href="./maintain_backup_restore.html">Back up and Restore PE</a></li>
    </ul>
  </li>
  <li><strong>Troubleshooting</strong>
    <ul>
     <li><a href="./trouble_install.html">Troubleshooting the Installer</a></li>
     <li><a href="./trouble_comms.html">Troubleshooting Connections & Communications</a></li>
     <li><a href="./trouble_console-db.html">Troubleshooting the Console & Database</a></li>
     <li><a href="./trouble_puppet.html">Troubleshooting the Puppet Core</a></li>
     <li><a href="./trouble_orchestration.html">Troubleshooting Orchestration</a></li>
     <li><a href="./trouble_cloudprovisioner.html">Troubleshooting Cloud Provisioner</a></li>
     <li><a href="./trouble_windows.html">Troubleshooting Windows</a></li>
    </ul>
  </li>
  <li><strong>SSL and Certificates</strong>
    <ul>
     <li><a href="./trouble_regenerate_certs_split.html">Regenerating Certificates: Split Deployments</a></li>
     <li><a href="./trouble_regenerate_certs_monolithic.html">Regenerating Certificates: Monolithic Deployments</a></li>
     <li><a href="./regenerate_certs_master.html">Regenerating Certs for the Puppet Master</a></li>
     <li><a href="./regenerate_certs_puppetdb.html">Regenerating Certs for PuppetDB</a></li>
     <li><a href="./regenerate_certs_console.html">Regenerating Certs for the PE Console</a></li>
     <li><a href="./agent_cert_regen.html">Regenerating a Puppet Agent Certificate</a></li>
     <li><a href="./external_ca.html">Using an External Certificate Authority with PE</a></li>
     <li><a href="./custom_console_cert.html">Configuring the PE Console to Use a Custom Certificate</a></li>
    </ul>
  </li>
  <li><strong>Appendix</strong>
    <ul>
   	   <li><a href="./release_notes_archive.html">Archived Release Notes</a></li>
       <li><a href="./compliance_alt.html">Compliance Alternate Workflow</a></li>
    </ul>
  </li>
</ul>
