<h2 id="puppetdb">PuppetDB 2.1</h2>

<ul>
  <li><strong>General Information</strong>
    <ul>
      <li>{% iflink "Overview & Requirements", "/puppetdb/2.1/index.html" %}</li>
      <li>{% iflink "Frequently Asked Questions", "/puppetdb/2.1/puppetdb-faq.html" %}</li>
      <li>{% iflink "Release Notes", "/puppetdb/2.1/release_notes.html" %}</li>
      <li>{% iflink "Versioning Policy", "/puppetdb/2.1/versioning_policy.html" %}</li>
      <li>{% iflink "Known Issues", "/puppetdb/2.1/known_issues.html" %}</li>
      <li>{% iflink "Community Add-ons", "/puppetdb/2.1/community_add_ons.html" %}</li>
    </ul>
  </li>
  <li><strong>Installation</strong>
    <ul>
      <li>{% iflink "Migrating Existing Data", "/puppetdb/2.1/migrate.html" %}</li>
      <li>{% iflink "Installing via Puppet Module", "/puppetdb/2.1/install_via_module.html" %}</li>
      <li>{% iflink "Installing From Packages", "/puppetdb/2.1/install_from_packages.html" %}</li>
      <li>{% iflink "Installing from Source", "/puppetdb/2.1/install_from_source.html" %}</li>
      <li>{% iflink "Upgrading PuppetDB", "/puppetdb/2.1/upgrade.html" %}</li>
      <li>{% iflink "Connecting Puppet Masters", "/puppetdb/2.1/connect_puppet_master.html" %}</li>
      <li>{% iflink "Connecting Standalone Puppet", "/puppetdb/2.1/connect_puppet_apply.html" %}</li>
    </ul>
  </li>
  <li><strong>Configuration</strong>
    <ul>
      <li>{% iflink "Configuring PuppetDB", "/puppetdb/2.1/configure.html" %}</li>
      <li>{% iflink "Setting Up SSL for PostgreSQL", "/puppetdb/2.1/postgres_ssl.html" %}</li>
    </ul>
  <li><strong>Usage/Admin</strong>
    <ul>
      <li>{% iflink "Using PuppetDB", "/puppetdb/2.1/using.html" %}</li>
      <li>{% iflink "Maintaining and Tuning", "/puppetdb/2.1/maintain_and_tune.html" %}</li>
      <li>{% iflink "Migrating Data", "/puppetdb/2.1/migrate.html" %}</li>
      <li>{% iflink "Anonymizing Data", "/puppetdb/2.1/anonymization.html" %}</li>
      <li>{% iflink "Scaling Recommendations", "/puppetdb/2.1/scaling_recommendations.html" %}</li>
      <li>{% iflink "Debugging with Remote REPL", "/puppetdb/2.1/repl.html" %}</li>
      <li>{% iflink "Load Testing", "/puppetdb/2.1/load_testing_tool.html" %}</li>
    </ul>
  </li>
  <li><strong>Troubleshooting</strong>
    <ul>
      <li>{% iflink "KahaDB Corruption", "/puppetdb/2.1/trouble_kahadb_corruption.html" %}</li>
      <li>{% iflink "Low Catalog Duplication", "/puppetdb/2.1/trouble_low_catalog_duplication.html" %}</li>
    </ul>
  </li>
  <li><strong>API</strong>
    <ul>
      <li>{% iflink "Overview", "/puppetdb/2.1/api/index.html" %}</li>
      <li>{% iflink "Query Tutorial", "/puppetdb/2.1/api/query/tutorial.html" %}</li>
      <li>{% iflink "Curl Tips", "/puppetdb/2.1/api/query/curl.html" %}</li>
      <li>{% iflink "Command API", "/puppetdb/2.1/api/commands.html" %}</li>
    </ul>
  </li>
  <li><strong>Query API Version 4 (experimental)</strong>
    <ul>
      <li>{% iflink "Query Structure", "/puppetdb/2.1/api/query/v4/query.html" %}</li>
      <li>{% iflink "Available Operators", "/puppetdb/2.1/api/query/v4/operators.html" %}</li>
      <li>{% iflink "Query Paging", "/puppetdb/2.1/api/query/v4/paging.html" %}</li>
      <li>{% iflink "Facts Endpoint", "/puppetdb/2.1/api/query/v4/facts.html" %}</li>
      <li>{% iflink "Resources Endpoint", "/puppetdb/2.1/api/query/v4/resources.html" %}</li>
      <li>{% iflink "Nodes Endpoint", "/puppetdb/2.1/api/query/v4/nodes.html" %}</li>
      <li>{% iflink "Catalogs Endpoint", "/puppetdb/2.1/api/query/v4/catalogs.html" %}</li>
      <li>{% iflink "Fact-Names Endpoint", "/puppetdb/2.1/api/query/v4/fact-names.html" %}</li>
      <li>{% iflink "Metrics Endpoint", "/puppetdb/2.1/api/query/v4/metrics.html" %}</li>
      <li>{% iflink "Reports Endpoint", "/puppetdb/2.1/api/query/v4/reports.html" %}</li>
      <li>{% iflink "Events Endpoint", "/puppetdb/2.1/api/query/v4/events.html" %}</li>
      <li>{% iflink "Event Counts Endpoint", "/puppetdb/2.1/api/query/v4/event-counts.html" %}</li>
      <li>{% iflink "Aggregate Event Counts Endpoint", "/puppetdb/2.1/api/query/v4/aggregate-event-counts.html" %}</li>
      <li>{% iflink "Server Time Endpoint", "/puppetdb/2.1/api/query/v4/server-time.html" %}</li>
      <li>{% iflink "Version Endpoint", "/puppetdb/2.1/api/query/v4/version.html" %}</li>
      <li>{% iflink "Environments Endpoint", "/puppetdb/2.1/api/query/v4/environments.html" %}</li>
    </ul>
  </li>
  <li><strong>Query API Version 3</strong>
    <ul>
      <li>{% iflink "Query Structure", "/puppetdb/2.1/api/query/v3/query.html" %}</li>
      <li>{% iflink "Available Operators", "/puppetdb/2.1/api/query/v3/operators.html" %}</li>
      <li>{% iflink "Query Paging", "/puppetdb/2.1/api/query/v3/paging.html" %}</li>
      <li>{% iflink "Facts Endpoint", "/puppetdb/2.1/api/query/v3/facts.html" %}</li>
      <li>{% iflink "Resources Endpoint", "/puppetdb/2.1/api/query/v3/resources.html" %}</li>
      <li>{% iflink "Nodes Endpoint", "/puppetdb/2.1/api/query/v3/nodes.html" %}</li>
      <li>{% iflink "Catalogs Endpoint", "/puppetdb/2.1/api/query/v3/catalogs.html" %}</li>
      <li>{% iflink "Fact-Names Endpoint", "/puppetdb/2.1/api/query/v3/fact-names.html" %}</li>
      <li>{% iflink "Metrics Endpoint", "/puppetdb/2.1/api/query/v3/metrics.html" %}</li>
      <li>{% iflink "Reports Endpoint", "/puppetdb/2.1/api/query/v3/reports.html" %}</li>
      <li>{% iflink "Events Endpoint", "/puppetdb/2.1/api/query/v3/events.html" %}</li>
      <li>{% iflink "Event Counts Endpoint", "/puppetdb/2.1/api/query/v3/event-counts.html" %}</li>
      <li>{% iflink "Aggregate Event Counts Endpoint", "/puppetdb/2.1/api/query/v3/aggregate-event-counts.html" %}</li>
      <li>{% iflink "Server Time Endpoint", "/puppetdb/2.1/api/query/v3/server-time.html" %}</li>
      <li>{% iflink "Version Endpoint", "/puppetdb/2.1/api/query/v3/version.html" %}</li>
    </ul>
  </li>
  <li><strong>Query API Version 2 (Deprecated)</strong>
    <ul>
      <li>{% iflink "Query Structure", "/puppetdb/2.1/api/query/v2/query.html" %}</li>
      <li>{% iflink "Available Operators", "/puppetdb/2.1/api/query/v2/operators.html" %}</li>
      <li>{% iflink "Facts Endpoint", "/puppetdb/2.1/api/query/v2/facts.html" %}</li>
      <li>{% iflink "Resources Endpoint", "/puppetdb/2.1/api/query/v2/resources.html" %}</li>
      <li>{% iflink "Nodes Endpoint", "/puppetdb/2.1/api/query/v2/nodes.html" %}</li>
      <li>{% iflink "Fact-Names Endpoint", "/puppetdb/2.1/api/query/v2/fact-names.html" %}</li>
      <li>{% iflink "Metrics Endpoint", "/puppetdb/2.1/api/query/v2/metrics.html" %}</li>
    </ul>
  </li>
  <li><strong>Wire Formats</strong>
    <ul>
      <li>{% iflink "Catalog Wire Format - v4", "/puppetdb/2.1/api/wire_format/catalog_format_v4.html" %}</li>
      <li>{% iflink "Facts Wire Format - v2", "/puppetdb/2.1/api/wire_format/facts_format_v2.html" %}</li>
      <li>{% iflink "Report Wire Format - v3", "/puppetdb/2.1/api/wire_format/report_format_v3.html" %}</li>
    </ul>
  </li>
  <li><strong>Wire Formats - Deprecated</strong>
    <ul>
      <li>{% iflink "Catalog Wire Format - v1", "/puppetdb/2.1/api/wire_format/catalog_format_v1.html" %}</li>
      <li>{% iflink "Facts Wire Format - v1", "/puppetdb/2.1/api/wire_format/facts_format_v1.html" %}</li>
      <li>{% iflink "Report Wire Format - v1", "/puppetdb/2.1/api/wire_format/report_format_v1.html" %}</li>
    </ul>
  </li>
</ul>
