{% comment %}
## PuppetDB

- {% iflink "Overview", "./index.html" %}
- {% iflink "System Requirements", "./requirements.html" %}
- {% iflink "Installing and Connecting PuppetDB", "./install.html" %}
- {% iflink "Configuration", "./configure.html" %}
- Using PuppetDB
- {% iflink "Maintaining and Tuning PuppetDB", "./maintain_and_tune.html" %}
- Known Issues
- **PuppetDB for Developers**
    - Building and Installing PuppetDB from Source
    - Writing Applications with PuppetDB
    - API Reference
    - Catalog Wire Format
    - Facts Wire Format
    - {% iflink "Debugging PuppetDB", "./debug.html" %}

{% endcomment %}

<h2 id="puppetdb">PuppetDB</h2>

<ul>
  <li>{% iflink "Overview", "./index.html" %}</li>
  <li>{% iflink "System Requirements", "./requirements.html" %}</li>
  <li>{% iflink "Installing and Connecting", "./install.html" %}</li>
  <li>{% iflink "Installing from Source", "./install_from_source.html" %}</li>
  <li>{% iflink "Configuring", "./configure.html" %}</li>
  <li>Using</li>
  <li>{% iflink "Maintaining and Tuning", "./maintain_and_tune.html" %}</li>
  <li>Known Issues</li>
  <li><strong>PuppetDB API Spec</strong>
    <ul>
      <li>{% iflink "Commands", "./spec_commands.html" %}</li>
      <li>{% iflink "Querying Nodes", "./spec_q_node.html" %}</li>
      <li>{% iflink "Querying Facts", "./spec_q_facts.html" %}</li>
      <li>{% iflink "Querying Resources", "./spec_q_resource.html" %}</li>
      <li>{% iflink "Querying Status", "./spec_q_status.html" %}</li>
      <li>{% iflink "Querying Metrics", "./spec_q_metrics.html" %}</li>
      <li>{% iflink "Catalog Wire Format", "./spec_catalog_wire_format.html" %}</li>
      <li>{% iflink "Facts Wire Format", "./spec_facts_wire_format.html" %}</li>
    </ul>
  </li>
</ul>
