<h3 id="general-puppet-info">Installing/Upgrading Open Source Puppet</h3>

<ul>
  <li><a href="/puppet/latest/reference/install_pre.html">Pre-Install Tasks</a></li>
  <li><strong>Installing Puppet</strong>
    <ul>
      <li><a href="/puppet/latest/reference/install_linux.html">On Linux Systems</a></li>
      <li><a href="/puppet/latest/reference/install_osx.html">On Mac OS X</a></li>
      <li><a href="/puppet/latest/reference/install_windows.html">On Microsoft Windows</a></li>
    </ul>
  </li>
  <li><a href="/puppet/latest/reference/upgrade_major_pre.html">Upgrading Puppet</a></li>
  <li><a href="/puppet/latest/reference/lang_updating_manifests.html">Updating 3.x Manifests for Puppet 4.x</a></li>
  <li><a href="/guides/puppetlabs_package_repositories.html">Using the Puppet Labs Package Repositories</a></li>
</ul>

<h3 id="general-puppet-info">General Puppet Info</h3>

<ul>
  <li><a href="/guides/language_history.html">History of Language Features</a></li>
</ul>

<h3 id="other-puppet-docs">Other Puppet Docs</h3>

<ul>
  <li><a href="/puppet/latest/reference/">Puppet Reference Manual</a></li>
  <li><a href="/puppet/latest/reference/type.html">The Resource Type Reference</a></li>
  <li><a href="https://puppetlabs.com/download-learning-vm">Learning Puppet</a></li>
</ul>
