
{% include warnings/old_puppetdb_version.html %}

<h2 id="puppetdb">PuppetDB 1</h2>

<ul>
  <li><strong>General Information</strong>
    <ul>
      <li><a href="./index.html">Overview & Requirements</a></li>
      <li><a href="./release_notes.html">Release Notes</a></li>
      <li><a href="./known_issues.html">Known Issues</a></li>
      <li><a href="./community_add_ons.html">Community Add-ons</a></li>
      <li><a href="./puppetdb-faq.html">FAQ and Troubleshooting</a></li>
    </ul>
  </li>
  <li><strong>Installation</strong>
    <ul>
      <li><a href="./install.html">Installing PuppetDB</a></li>
      <li><a href="./connect_puppet_master.html">Connecting Puppet Masters</a></li>
      <li><a href="./connect_puppet_apply.html">Connecting Standalone Puppet</a></li>
      <li><a href="./upgrade.html">Upgrading PuppetDB</a></li>
      <li><a href="./install_from_source.html">Installing from Source</a></li>
    </ul>
  </li>
  <li><strong>Administration</strong>
    <ul>
      <li><a href="./using.html">Using PuppetDB</a></li>
      <li><a href="./maintain_and_tune.html">Maintaining and Tuning</a></li>
      <li><a href="./scaling_recommendations.html">Scaling Recommendations</a></li>
      <li><a href="./configure.html">Configuring</a></li>
      <li><a href="./repl.html">Debugging with Remote REPL</a></li>
    </ul>
  </li>
  <li><strong>The PuppetDB API</strong>
    <ul>
      <li><a href="./spec_curl.html">Curl Tips</a></li>
      <li><a href="./spec_commands.html">Commands</a></li>
      <li><a href="./spec_q_nodes.html">Querying Nodes</a></li>
      <li><a href="./spec_q_facts.html">Querying Facts</a></li>
      <li><a href="./spec_q_resources.html">Querying Resources</a></li>
      <li><a href="./spec_q_status.html">Querying Status</a></li>
      <li><a href="./spec_q_metrics.html">Querying Metrics</a></li>
      <li><a href="./spec_catalog_wire_format.html">Catalog Wire Format</a></li>
      <li><a href="./spec_facts_wire_format.html">Facts Wire Format</a></li>
    </ul>
  </li>
</ul>
