{% comment %}
## PuppetDB

- <a href="./index.html">Overview</a>
- <a href="./requirements.html">System Requirements</a>
- <a href="./install.html">Installing and Connecting PuppetDB</a>
- <a href="./configure.html">Configuration</a>
- Using PuppetDB
- <a href="./maintain_and_tune.html">Maintaining and Tuning PuppetDB</a>
- Known Issues
- **PuppetDB for Developers**
    - Building and Installing PuppetDB from Source
    - Writing Applications with PuppetDB
    - API Reference
    - Catalog Wire Format
    - Facts Wire Format
    - <a href="./debug.html">Debugging PuppetDB</a>

{% endcomment %}

{% include warnings/old_puppetdb_version.html %}

<h2 id="puppetdb">PuppetDB 0.9</h2>

<ul>
  <li><a href="./index.html">Overview</a></li>
  <li><a href="./requirements.html">System Requirements</a></li>
  <li><a href="./known_issues.html">Known Issues</a></li>
  <li><a href="./install.html">Installing from Packages</a></li>
  <li><a href="./install_from_source.html">Installing from Source</a></li>
  <li><a href="./connect_puppet.html">Connecting Puppet to PuppetDB</a></li>
  <li><a href="./maintain_and_tune.html">Maintaining and Tuning</a></li>
  <li><a href="./configure.html">Configuring</a></li>
  <li><a href="./using.html">Using PuppetDB</a></li>
  <li><a href="./repl.html">Debugging with the Remote REPL</a></li>
  <li><strong>PuppetDB API Spec</strong>
    <ul>
      <li><a href="./spec_commands.html">Commands</a></li>
      <li><a href="./spec_q_node.html">Querying Nodes</a></li>
      <li><a href="./spec_q_facts.html">Querying Facts</a></li>
      <li><a href="./spec_q_resource.html">Querying Resources</a></li>
      <li><a href="./spec_q_status.html">Querying Status</a></li>
      <li><a href="./spec_q_metrics.html">Querying Metrics</a></li>
      <li><a href="./spec_catalog_wire_format.html">Catalog Wire Format</a></li>
      <li><a href="./spec_facts_wire_format.html">Facts Wire Format</a></li>
    </ul>
  </li>
</ul>
