{% capture puppet_dir %}/puppet/pre4.0/reference{% endcapture %}

<h2>Puppet 4.0 Preview Docs</h2>

<ul>
<li><a href="{{ puppet_dir }}/index.html">Index</a></li>
<li><a href="{{ puppet_dir }}/whered_it_go.html">Where Did Everything Go?</a></li>
<li><a href="{{ puppet_dir }}/install_pre.html">Pre-Install Tasks</a></li>
<li><a href="{{ puppet_dir }}/install_el.html">Install: Enterprise Linux</a></li>

<li><strong>References</strong>
  <ul>
    <li><a href="{{ puppet_dir }}/type.html">Resource Types</a></li>
    <li><a href="{{ puppet_dir }}/configuration.html">Settings</a></li>
    <li><a href="{{ puppet_dir }}/function.html">Functions</a></li>
    <li><a href="{{ puppet_dir }}/metaparameter.html">Metaparameters</a></li>
    <li><a href="{{ puppet_dir }}/report.html">Reports</a></li>
    <li><a href="{{ puppet_dir }}/indirection.html">Indirections</a></li>
    <li><strong>Man Pages</strong>
      <ul>

        <li><a href="{{ puppet_dir }}/man/index.html">Index</a></li>
        <li><strong>Core Tools</strong>
          <ul>
            <li><a href="{{ puppet_dir }}/man/agent.html">puppet agent</a></li>
            <li><a href="{{ puppet_dir }}/man/apply.html">puppet apply</a></li>
            <li><a href="{{ puppet_dir }}/man/cert.html">puppet cert</a></li>
            <li><a href="{{ puppet_dir }}/man/master.html">puppet master</a></li>
            <li><a href="{{ puppet_dir }}/man/module.html">puppet module</a></li>
            <li><a href="{{ puppet_dir }}/man/resource.html">puppet resource</a></li>
          </ul>
        </li>

        <li><strong>Occasionally Useful</strong>
          <ul>
            <li><a href="{{ puppet_dir }}/man/config.html">puppet config</a></li>
            <li><a href="{{ puppet_dir }}/man/describe.html">puppet describe</a></li>
            <li><a href="{{ puppet_dir }}/man/device.html">puppet device</a></li>
            <li><a href="{{ puppet_dir }}/man/doc.html">puppet doc</a></li>
            <li><a href="{{ puppet_dir }}/man/help.html">puppet help</a></li>
            <li><a href="{{ puppet_dir }}/man/man.html">puppet man</a></li>
            <li><a href="{{ puppet_dir }}/man/node.html">puppet node</a></li>
            <li><a href="{{ puppet_dir }}/man/parser.html">puppet parser</a></li>
            <li><a href="{{ puppet_dir }}/man/plugin.html">puppet plugin</a></li>
          </ul>
        </li>

        <li><strong>Niche</strong>
          <ul>
            <li><a href="{{ puppet_dir }}/man/ca.html">puppet ca</a></li>
            <li><a href="{{ puppet_dir }}/man/catalog.html">puppet catalog</a></li>
            <li><a href="{{ puppet_dir }}/man/certificate.html">puppet certificate</a></li>
            <li><a href="{{ puppet_dir }}/man/certificate_request.html">puppet certificate_request</a></li>
            <li><a href="{{ puppet_dir }}/man/certificate_revocation_list.html">puppet certificate_revocation_list</a></li>
            <li><a href="{{ puppet_dir }}/man/facts.html">puppet facts</a></li>
            <li><a href="{{ puppet_dir }}/man/file.html">puppet file</a></li>
            <li><a href="{{ puppet_dir }}/man/filebucket.html">puppet filebucket</a></li>
            <li><a href="{{ puppet_dir }}/man/inspect.html">puppet inspect</a></li>
            <li><a href="{{ puppet_dir }}/man/instrumentation_data.html">puppet instrumentation_data</a></li>
            <li><a href="{{ puppet_dir }}/man/instrumentation_listener.html">puppet instrumentation_listener</a></li>
            <li><a href="{{ puppet_dir }}/man/instrumentation_probe.html">puppet instrumentation_probe</a></li>
            <li><a href="{{ puppet_dir }}/man/key.html">puppet key</a></li>
            <li><a href="{{ puppet_dir }}/man/report.html">puppet report</a></li>
            <li><a href="{{ puppet_dir }}/man/resource_type.html">puppet resource_type</a></li>
            <li><a href="{{ puppet_dir }}/man/secret_agent.html">puppet secret_agent</a></li>
            <li><a href="{{ puppet_dir }}/man/status.html">puppet status</a></li>
          </ul>
        </li>

      </ul>
    </li>
  </ul>
</li>

</ul>
