{% comment %}

### General Puppet Info

* `"Installing Puppet", "/guides/installation.html"`
* `"Upgrading Puppet", "/guides/upgrading.html"`

### Other Puppet Docs

* [Puppet 3 Reference Manual](/puppet/3/reference/)
* [Puppet 2.7 Reference Manual](/puppet/2.7/reference/)
* [Learning Puppet](/learning/)
* [Puppet on Windows](/windows/)


{% endcomment %}

<h3 id="general-puppet-info">General Puppet Info</h3>

<ul>
  <li>{% iflink "Installing Puppet", "/guides/installation.html" %}</li>
  <li>{% iflink "Upgrading Puppet", "/guides/upgrading.html" %}</li>
</ul>

<h3 id="other-puppet-docs">Other Puppet Docs</h3>

<ul>
  <li><a href="/puppet/3/reference/">Puppet 3 Reference Manual</a></li>
  <li><a href="/puppet/2.7/reference/">Puppet 2.7 Reference Manual</a></li>
  <li><a href="/learning/">Learning Puppet</a></li>
  <li><a href="/windows/">Puppet on Windows</a></li>
</ul>
