<h3 id="puppet-26-reference-manual">Puppet 2.6 Reference Manual</h3>

<ul>
  <li><strong><a href="/puppet/2.6/reference/release_notes.html">Release Notes</a></li>
  <li><a href="/puppet/2.6/format_report.html">Report Format</a></li>
  <li><strong>Generated References</strong>
    <ul>
      <li><a href="/references/2.6.latest/type.html">Resource Types</a></li>
      <li><a href="/references/2.6.latest/configuration.html">Configuration Settings</a></li>
      <li><a href="/references/2.6.latest/function.html">Functions</a></li>
      <li><a href="/references/2.6.latest/metaparameter.html">Metaparameters</a></li>
      <li><a href="/references/2.6.latest/report.html">Report Handlers</a></li>
    </ul>
  </li>

</ul>
