
<h2 id="puppetdb">PuppetDB</h2>

<ul>
  <li>{% iflink "Overview and System Requirements", "./index.html" %}</li>
  <li>{% iflink "Scaling Recommendations", "./scaling_recommendations.html" %}</li>
  <li>{% iflink "Known Issues", "./known_issues.html" %}</li>
  <li><strong>Installation</strong>
    <ul>
      <li>{% iflink "Installing PuppetDB", "./install.html" %}</li>
      <li>{% iflink "Connecting Puppet Masters", "./connect_puppet_master.html" %}</li>
      <li>{% iflink "Connecting Standalone Puppet", "./connect_puppet_apply.html" %}</li>
      <li>{% iflink "Installing from Source", "./install_from_source.html" %}</li>
    </ul>
  </li>
  <li>{% iflink "Using PuppetDB", "./using.html" %}</li>
  <li>{% iflink "Maintaining and Tuning", "./maintain_and_tune.html" %}</li>
  <li>{% iflink "Configuring PuppetDB", "./configure.html" %}</li>
  <li>{% iflink "Debugging with the Remote REPL", "./repl.html" %}</li>
  <li>{% iflink "Community Projects and Add-ons", "./community_add_ons.html" %}</li>
  <li><strong>The PuppetDB API</strong>
    <ul>
      <li>{% iflink "Commands", "./spec_commands.html" %}</li>
      <li>{% iflink "Querying Nodes", "./spec_q_node.html" %}</li>
      <li>{% iflink "Querying Facts", "./spec_q_facts.html" %}</li>
      <li>{% iflink "Querying Resources", "./spec_q_resource.html" %}</li>
      <li>{% iflink "Querying Status", "./spec_q_status.html" %}</li>
      <li>{% iflink "Querying Metrics", "./spec_q_metrics.html" %}</li>
      <li>{% iflink "Catalog Wire Format", "./spec_catalog_wire_format.html" %}</li>
      <li>{% iflink "Facts Wire Format", "./spec_facts_wire_format.html" %}</li>
    </ul>
  </li>
</ul>
