{% capture server_version %}1.0{% endcapture %}
{% capture puppet_dir %}/puppet/3.8/reference{% endcapture %}

<h3 id="puppet-3-8-reference-manual">Puppet 3.8 Reference Manual</h3>

<ul>
  <li><a href="{{ puppet_dir }}/index.html">Introduction</a></li>
  <li><a href="{{ puppet_dir }}/release_notes.html">Puppet 3.8 Release Notes</a></li>
  <li><a href="/puppetserver/{{ server_version }}/release_notes.html">Puppet Server {{ server_version }} Release Notes</a></li>
  <li><strong>Deprecated Features</strong>
    <ul>
      <li><a href="{{ puppet_dir }}/deprecated_summary.html">About Deprecations in This Version</a></li>
      <li><a href="{{ puppet_dir }}/deprecated_language.html">Language Features</a></li>
      <li><a href="{{ puppet_dir }}/deprecated_resource.html">Resource Type Features</a></li>
      <li><a href="{{ puppet_dir }}/deprecated_api.html">Extension Points and APIs</a></li>
      <li><a href="{{ puppet_dir }}/deprecated_command.html">Command Line Features</a></li>
      <li><a href="{{ puppet_dir }}/deprecated_settings.html">Settings</a></li>
      <li><a href="{{ puppet_dir }}/deprecated_windows_api.html">Breaking Changes to Private Windows APIs</a></li>
      <li><a href="{{ puppet_dir }}/deprecated_misc.html">Other Features</a></li>
    </ul>
  </li>

  <li><a href="{{ puppet_dir }}/system_requirements.html">System Requirements</a></li>
  <li><a href="{{ puppet_dir }}/architecture.html">Overview of Puppet's Architecture</a></li>

  <li><strong>Puppet's Services and Tools</strong>
    <ul>
      <li><a href="{{ puppet_dir }}/services_commands.html">Puppet's Commands</a></li>
      <li><a href="{{ puppet_dir }}/services_commands_windows.html">Running Puppet Commands on Windows</a></li>
      <li><strong>Puppet Master</strong>
        <ul>
          <li><a href="/puppetserver/{{ server_version }}/services_master_puppetserver.html">Puppet Server</a></li>
          <li><a href="{{ puppet_dir }}/services_master_rack.html">The Rack Puppet Master</a></li>
          <li><a href="{{ puppet_dir }}/services_master_webrick.html">The WEBrick Puppet Master</a></li>
        </ul>
      </li>
      <li><a href="{{ puppet_dir }}/services_agent_unix.html">Puppet Agent on *nix</a></li>
      <li><a href="{{ puppet_dir }}/services_agent_windows.html">Puppet Agent on Windows</a></li>
      <li><a href="{{ puppet_dir }}/services_apply.html">Puppet Apply</a></li>
    </ul>
  </li>

  <li><strong>Puppet Server</strong>
    <ul>
      <li><a href="/puppetserver/{{ server_version }}/index.html">Index</a></li>
      <li><a href="/puppetserver/{{ server_version }}/services_master_puppetserver.html">About Puppet Server</a></li>
      <li><a href="/puppetserver/{{ server_version }}/release_notes.html">Release Notes</a></li>
      <li><a href="/puppetserver/{{ server_version }}/puppetserver_vs_passenger.html">Notable Differences vs. the Apache/Passenger Stack</a></li>
      <li><a href="/puppetserver/{{ server_version }}/install_from_packages.html">Installation</a></li>
      <li><a href="/puppetserver/{{ server_version }}/configuration.html">Configuring Puppet Server</a></li>
      <li><a href="/puppetserver/{{ server_version }}/puppet_conf_setting_diffs.html">Differing Behavior in puppet.conf</a></li>
      <li><a href="/puppetserver/{{ server_version }}/gems.html">Using Ruby Gems</a></li>
      <li><a href="/puppetserver/{{ server_version }}/subcommands.html">Subcommands</a></li>
      <li><a href="/puppetserver/{{ server_version }}/external_ca_configuration.html">Using an External CA</a></li>
      <li><a href="/puppetserver/{{ server_version }}/external_ssl_termination.html">External SSL Termination</a></li>
      <li><a href="/puppetserver/{{ server_version }}/tuning_guide.html">Tuning Guide</a></li>
      <li><strong>Known Issues and Workarounds</strong>
        <ul>
          <li><a href="/puppetserver/{{ server_version }}/known_issues.html">Known Issues</a></li>
          <li><a href="/puppetserver/{{ server_version }}/ssl_server_certificate_change_and_virtual_ips.html">SSL Problems With Load-Balanced PuppetDB Servers ("Server Certificate Change" error)</a></li>
        </ul>
      </li>
      <li><strong>Administrative API</strong>
        <ul>
          <li><a href="/puppetserver/{{ server_version }}/admin-api/v1/environment-cache.html">Environment Cache</a></li>
          <li><a href="/puppetserver/{{ server_version }}/admin-api/v1/jruby-pool.html">JRuby Pool</a></li>
        </ul>
      </li>
      <li><strong>Developer Info</strong>
        <ul>
          <li><a href="/puppetserver/{{ server_version }}/dev_debugging.html">Debugging</a></li>
          <li><a href="/puppetserver/{{ server_version }}/dev_running_from_source.html">Running From Source</a></li>
          <li><a href="/puppetserver/{{ server_version }}/dev_trace_func.html">Tracing Code Events</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li><strong>The Puppet Language</strong>
    <ul>
      <li><a href="{{ puppet_dir }}/lang_visual_index.html">Visual Index</a></li>
      <li><a href="{{ puppet_dir }}/lang_summary.html">Basics</a></li>
      <li><a href="{{ puppet_dir }}/lang_reserved.html">Reserved Words and Allowed Names</a></li>
      <li><a href="{{ puppet_dir }}/lang_resources.html">Resources</a></li>
      <li><a href="{{ puppet_dir }}/lang_windows_file_paths.html">Handling File Paths on Windows</a></li>
      <li><a href="{{ puppet_dir }}/lang_relationships.html">Relationships and Ordering</a></li>
      <li><a href="{{ puppet_dir }}/lang_defaults.html">Resource Defaults</a></li>
      <li><a href="{{ puppet_dir }}/lang_variables.html">Variables</a></li>
      <li><a href="{{ puppet_dir }}/lang_facts_and_builtin_vars.html">Facts and Built-in Variables</a></li>
      <li><a href="{{ puppet_dir }}/lang_scope.html">Scope</a></li>
      <li><a href="{{ puppet_dir }}/lang_conditional.html">Conditional Statements</a></li>
      <li><a href="{{ puppet_dir }}/lang_expressions.html">Expressions</a></li>
      <li><a href="{{ puppet_dir }}/lang_functions.html">Functions</a></li>
      <li><a href="{{ puppet_dir }}/lang_classes.html">Classes</a></li>
      <li><a href="{{ puppet_dir }}/lang_defined_types.html">Defined Types</a></li>
      <li><a href="{{ puppet_dir }}/lang_containment.html">Containment</a></li>
      <li><a href="{{ puppet_dir }}/lang_namespaces.html">Namespaces and Autoloading</a></li>
      <li><a href="{{ puppet_dir }}/lang_collectors.html">Resource Collectors</a></li>
      <li><a href="{{ puppet_dir }}/lang_node_definitions.html">Node Definitions</a></li>
      <li><a href="{{ puppet_dir }}/lang_datatypes.html">Data Types</a></li>
      <li><a href="{{ puppet_dir }}/lang_comments.html">Comments</a></li>
      <li><a href="{{ puppet_dir }}/lang_virtual.html">Virtual Resources</a></li>
      <li><a href="{{ puppet_dir }}/lang_exported.html">Exported Resources</a></li>
      <li><a href="{{ puppet_dir }}/lang_tags.html">Tags</a></li>
      <li><a href="{{ puppet_dir }}/lang_run_stages.html">Run Stages</a></li>
      <li><a href="{{ puppet_dir }}/lang_import.html">Importing Manifest Files</a></li>
    </ul>
  </li>

  <li><strong>The Future Puppet Language</strong>
    <ul>
      <li><a href="{{ puppet_dir }}/experiments_future.html">Introduction to the Future Parser</a></li>
      <li><a href="{{ puppet_dir }}/future_lang_visual_index.html">Visual Index</a></li>
      <li><a href="{{ puppet_dir }}/future_lang_summary.html">Basics</a></li>
      <li><a href="{{ puppet_dir }}/future_lang_windows_file_paths.html">Handling File Paths on Windows</a></li>
      <li><strong>Core Constructs</strong>
        <ul>
          <li><a href="{{ puppet_dir }}/future_lang_variables.html">Variables</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_resources.html">Resources</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_relationships.html">Relationships and Ordering</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_classes.html">Classes</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_defined_types.html">Defined Resource Types</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_expressions.html">Expressions and Operators</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_conditional.html">Conditional Statements and Expressions</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_functions.html">Functions</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_node_definitions.html">Node Definitions</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_comments.html">Comments</a></li>
        </ul>
      </li>
      <li><a href="{{ puppet_dir }}/future_lang_facts_and_builtin_vars.html">Facts and Built-in Variables</a></li>
      <li><a href="{{ puppet_dir }}/future_lang_reserved.html">Reserved Words and Acceptable Names</a></li>
      <li><strong>Values and Data Types</strong>
        <ul>
          <li><a href="{{ puppet_dir }}/future_lang_data.html">About Values and Data Types</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_data_string.html">Strings</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_data_number.html">Numbers</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_data_boolean.html">Booleans</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_data_array.html">Arrays</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_data_hash.html">Hashes</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_data_regexp.html">Regular Expressions</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_data_undef.html">Undef</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_data_resource_reference.html">Resource References</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_data_resource_type.html">Resource Types</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_data_default.html">Default</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_data_type.html">Data Type Syntax</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_data_abstract.html">Abstract Data Types</a></li>
        </ul>
      </li>
      <li><strong>Advanced Constructs</strong>
        <ul>
          <li><a href="{{ puppet_dir }}/future_lang_iteration.html">Iteration and Loops</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_lambdas.html">Lambdas (Code Blocks)</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_defaults.html">Resource Defaults</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_collectors.html">Resource Collectors</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_virtual.html">Virtual Resources</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_exported.html">Exported Resources</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_tags.html">Tags</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_run_stages.html">Run Stages</a></li>
        </ul>
      </li>
      <li><strong>Details of Complex Behaviors</strong>
        <ul>
          <li><a href="{{ puppet_dir }}/future_lang_containment.html">Containment of Resources</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_scope.html">Scope</a></li>
          <li><a href="{{ puppet_dir }}/future_lang_namespaces.html">Namespaces and Autoloading</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li><strong>Modules</strong>
    <ul>
      <li><a href="{{ puppet_dir }}/modules_fundamentals.html">Fundamentals</a></li>
      <li><a href="/guides/plugins_in_modules.html">Plugins in Modules</a></li>
      <li><a href="{{ puppet_dir }}/modules_installing.html">Installing Modules</a></li>
      <li><a href="{{ puppet_dir }}/modules_publishing.html">Publishing Modules on the Puppet Forge</a></li>
      <li><a href="{{ puppet_dir }}/modules_documentation.html">Module Documentation</a></li>
    </ul>
  </li>

  <li><a href="/references/3.8.latest/type.html">The Resource Type Reference</a></li>

  <li><strong>Resource Types: Tips and Examples</strong>
    <ul>
      <li><a href="{{ puppet_dir }}/resources_service.html">Service Resources (All OSes)</a></li>
      <li><a href="{{ puppet_dir }}/resources_file_windows.html">File Resources (Windows)</a></li>
      <li><a href="{{ puppet_dir }}/resources_package_windows.html">Package Resources (Windows)</a></li>
      <li><a href="{{ puppet_dir }}/resources_user_group_windows.html">User and Group Resources (Windows)</a></li>
      <li><a href="{{ puppet_dir }}/resources_scheduled_task_windows.html">Scheduled Task Resources (Windows)</a></li>
      <li><a href="{{ puppet_dir }}/resources_exec_windows.html">Exec Resources (Windows)</a></li>
      <li><a href="{{ puppet_dir }}/resources_windows_optional.html">Optional Resource Types for Windows</a></li>
    </ul>
  </li>

  <li><strong>Misc. References (Settings, Functions, HTTP, etc.)</strong>
    <ul>
      <li><a href="/references/3.8.latest/configuration.html">Settings (Configuration Reference)</a></li>
      <li><a href="/references/3.8.latest/function.html">Functions</a></li>
      <li><a href="/references/3.8.latest/metaparameter.html">Metaparameters</a></li>
      <li><a href="/references/3.8.latest/report.html">Report Handlers</a></li>
      <li><a href="/references/3.8.latest/indirection.html">Indirections and Termini</a></li>
      <li><a href="/references/3.8.latest/developer/frames.html">Ruby API for Developing Extensions</a></li>
      <li><a href="/references/3.8.latest/developer/file.http_api_index.html">Puppet's HTTP API</a></li>
    </ul>
  </li>
  <li><strong>Important Directories and Files</strong>
    <ul>
      <li><a href="{{ puppet_dir }}/dirs_confdir.html">The Main Config Directory (Confdir)</a></li>
      <li><a href="{{ puppet_dir }}/dirs_manifest.html">The Main Manifest(s)</a></li>
      <li><a href="{{ puppet_dir }}/dirs_modulepath.html">The Modulepath</a></li>
      <li><a href="{{ puppet_dir }}/dirs_ssldir.html">The SSLdir</a></li>
      <li><a href="{{ puppet_dir }}/dirs_vardir.html">The Vardir</a></li>
    </ul>
  </li>
  <li><strong>Environments</strong>
    <ul>
      <li><a href="{{ puppet_dir }}/environments.html">About Environments</a></li>
      <li><a href="{{ puppet_dir }}/environments_configuring.html">Configuring Directory Environments</a></li>
      <li><a href="{{ puppet_dir }}/environments_creating.html">Creating Directory Environments</a></li>
      <li><a href="{{ puppet_dir }}/environments_assigning.html">Assigning Environments to Nodes</a></li>
      <li><a href="{{ puppet_dir }}/environments_classic.html">Using Config File Environments (deprecated)</a></li>
      <li><a href="{{ puppet_dir }}/environments_suggestions.html">Suggestions for Use</a></li>
      <li><a href="{{ puppet_dir }}/environments_limitations.html">Limitations of Environments</a></li>
      <li><a href="{{ puppet_dir }}/environments_https.html">Environments and Puppet's HTTPS Interface</a></li>
    </ul>
  </li>
  <li><strong>Configuration</strong>
    <ul>
      <li><a href="{{ puppet_dir }}/config_about_settings.html">About Puppet's Settings</a></li>
      <li><a href="{{ puppet_dir }}/config_print.html">Checking Values of Settings</a></li>
      <li><a href="{{ puppet_dir }}/config_set.html">Editing Settings on the Command Line</a></li>
      <li><a href="{{ puppet_dir }}/config_important_settings.html">Short List of Important Settings</a></li>
      <li><a href="/references/3.8.latest/configuration.html">Complete List of Settings (Configuration Reference)</a></li>
      <li><a href="/puppetserver/{{ server_version }}/puppet_conf_setting_diffs.html">Settings that Differ Under Puppet Server</a></li>
      <li><strong>Config Files</strong>
        <ul>
          <li><a href="{{ puppet_dir }}/config_file_main.html">puppet.conf: The Main Config File</a></li>
          <li><a href="/puppetserver/{{ server_version }}/configuration.html">Puppet Server's Config Files</a></li>
          <li><a href="{{ puppet_dir }}/config_file_auth.html">The auth.conf File</a></li>
          <li><a href="{{ puppet_dir }}/config_file_autosign.html">The autosign.conf File</a></li>
          <li><a href="{{ puppet_dir }}/config_file_csr_attributes.html">The csr_attributes.yaml File</a></li>
          <li><a href="{{ puppet_dir }}/config_file_device.html">The device.conf File</a></li>
          <li><a href="{{ puppet_dir }}/config_file_environment.html">The environment.conf Files</a></li>
          <li><a href="{{ puppet_dir }}/config_file_fileserver.html">The fileserver.conf File</a></li>
          <li><a href="{{ puppet_dir }}/config_file_hiera.html">The hiera.yaml File</a></li>
          <li><a href="{{ puppet_dir }}/config_file_puppetdb.html">The puppetdb.conf File</a></li>
          <li><a href="{{ puppet_dir }}/config_file_routes.html">The routes.yaml File</a></li>
          <li><a href="{{ puppet_dir }}/config_file_tagmail.html">The tagmail.conf File</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><strong>SSL and Certificates</strong>
    <ul>
      <li><a href="{{ puppet_dir }}/config_ssl_external_ca.html">Using an External CA</a></li>
      <li><a href="/puppetserver/{{ server_version }}/external_ca_configuration.html">Using an External CA With Puppet Server</a></li>
      <li><a href="/puppetserver/{{ server_version }}/external_ssl_termination.html">External SSL Termination With Puppet Server</a></li>
      <li><a href="{{ puppet_dir }}/ssl_autosign.html">Configuring Autosigning</a></li>
      <li><a href="{{ puppet_dir }}/ssl_attributes_extensions.html">CSR Attributes and Certificate Extensions</a></li>
      <li><a href="{{ puppet_dir }}/ssl_regenerate_certificates.html">Regenerating All Certificates in a Deployment</a></li>
    </ul>
  </li>

  <li><strong>Data Formats</strong>
    <ul>
      <li><a href="{{ puppet_dir }}/format_report.html">Report Format</a></li>
    </ul>
  </li>

  <li><strong>Details About Puppet's Internals</strong>
    <ul>
      <li><a href="{{ puppet_dir }}/subsystem_agent_master_comm.html">Agent/Master HTTPS Communications</a></li>
      <li><a href="{{ puppet_dir }}/subsystem_catalog_compilation.html">Catalog Compilation</a></li>
    </ul>
  </li>
  <li><strong>Experimental Features</strong>
    <ul>
      <li><a href="{{ puppet_dir }}/experiments_overview.html">Overview</a></li>
      <li><a href="{{ puppet_dir }}/experiments_msgpack.html">Msgpack Support</a></li>
      <li><a href="{{ puppet_dir }}/experiments_cfacter.html">Native Facter</a></li>
    </ul>
  </li>
</ul>
