{% comment %}

### Puppet 3 Reference Manual

[Main Index](./index.html)

- **Puppet 3 Overview**
    - What's New in Version 3
        * Insert all breaking changes here
    - System Requirements
        * Ruby versions, Facter versions, Hiera versions, known good OSes. 
- **Standard Puppet Operation**
    - The "Puppet Run"
        * Summary of a run, with parallels drawn between standalone and agent/master
            * Get plugins from master or modules
            * load facts
            * request catalog and submit facts
            * Determine what classes go in the catalog (node terminus)
            * compile/receive catalog
            * compare state and apply catalog changes, retrieving files if necessary
            * send report
    - Network Communications and Timing Diagrams
- **Command Line Interface**
    - The Puppet Command and Subcommands
    - Legacy Command Equivalents
    - Getting Help
        * puppet help
        * puppet man
        * puppet config print
        * puppet describe
    - Using Puppet Interactively
        * puppet apply
        * puppet resource
        * puppet agent --test
    - Managing the Puppet Services
        * puppet master (summary)
        * puppet agent
        * puppet agent w/ cron
        * puppet apply w/ cron
    - Certificate Management
    - Puppet Faces
        * installing new ones
    - Developing Puppet Faces
    - Man Pages
- **The Puppet Services**
    - Puppet agent
    - Puppet master
    - Web Servers for the Puppet Master
        * Rack interface summary
        * WEBrick
        * Apache/Passenger
        * Nginx/Unicorn
    * Combine w/ CLI interface things above? does it make sense to split these? 
- **The Puppet Language**
    - `"Visual Index", "./lang_visual_index.html"`
    - `"Summary", "./lang_summary.html"`
    - `"Reserved Words and Acceptable Names", "./lang_reserved.html"`
    - `"Resources", "./lang_resources.html"`
    - `"Relationships and Ordering", "./lang_relationships.html"`
    - `"Resource Defaults", "./lang_defaults.html"`
    - `"Variables", "./lang_variables.html"`
    - `"Scope", "./lang_scope.html"`
    - `"Conditional Statements", "./lang_conditional.html"`
    - `"Expressions", "./lang_expressions.html"`
    - `"Functions", "./lang_functions.html"`
    - `"Classes", "./lang_classes.html"`
    - `"Defined Types", "./lang_defined_types.html"`
    - `"Containment", "./lang_containment.html"`
    - `"Namespaces and Autoloading", "./lang_namespaces.html"`
    - `"Resource Collectors", "./lang_collectors.html"`
    - `"Node definitions", "./lang_node_definitions.html"`
    - `"Data Types", "./lang_datatypes.html"`
    - `"Comments", "./lang_comments.html"`
    - `"Virtual Resources", "./lang_virtual.html"`
    - `"Exported Resources", "./lang_exported.html"`
    - `"Tags", "./lang_tags.html"`
    - `"Run Stages", "./lang_run_stages.html"`
    - `"Importing Manifest Files", "./lang_import.html"`
- **The Ruby DSL**
- **Compiling the Configuration Catalog for a Node (Node Classification)**
    - The Node Name
        * certname, node_name, node_name_value, node_name_fact
        * auth.conf issues w/ non-certname node_name
    - Determining Catalog Contents
        * Anything outside a node def., the current node def., and whatever the terminus handed over
    - How Puppet Selects a Node Definition
    - The External Node Classifier Interface
    - The LDAP Node Terminus
- **Modules**
    - `"Fundamentals", "./modules_fundamentals.html"`
    - Plugins in Modules
    - `"Installing Modules", "./modules_installing.html"`
    - `"Publishing Modules", "./modules_publishing.html"`
    - Module Documentation (puppetdoc)
- **File Serving**
- **Resource Types and Providers**
    - Type and Provider Overview (RAL)
    - Core Type Mini-Reference
    - Type Reference (the big one)
    - How to Get Info for Resource Types 
        * and use the huge type reference
    - Installing custom types from modules
    - Writing Types and Providers
    - Type and Provider API Quick-Reference
- **SSL and Certificates**
    - SSL Requirements for Normal Communication
    - DNS Alt Names for Puppet Masters
    - Certificate Management Tools
    - Autosigning
    - Remote Certificate Signing
    - Certificate Request/Retrieval and Timing Diagrams
- **Puppet Data Library**
    - PuppetDB
    - Storeconfigs
    - Inventory Service
    - Writing Custom Reports
    - Report Formats
    - Resource Graphs
    - Catalog Formats
    - Node Facts Format
- **API**
    - Puppet Subsystems
    - REST API
    - Faces Ruby API
    - Indirector Faces
- **Environments**
    - Environments
- **Configuring Puppet**
    - Settings and Puppet.conf
    - Auth.conf
        * Stanza format
        * Request processing
        * Default values
    - Other Config Files
    - Abridged Configuration Reference
    - Full Configuration Reference
- **Data Binding and Lookup**
    - Hiera Integration
    - Automatic Data Binding (for 3.0)
    - Data Lookup Functions
    - Alternate Data Binding Termini
    - Integration Points for Custom Data Sources
- **Internals**
    - Indirections and Termini
    - The Autoloader
    - The Compiler
    - The Transaction
- **Reference Appendix**
    - Generated References


{% endcomment %}


<h3 id="puppet-3-reference-manual">Puppet 3 Reference Manual</h3>

<p><a href="./index.html">Main Index</a></p>

<ul>
  <li><strong>The Puppet Language</strong>
    <ul>
      <li>{% iflink "Visual Index", "./lang_visual_index.html" %}</li>
      <li>{% iflink "Summary", "./lang_summary.html" %}</li>
      <li>{% iflink "Reserved Words and Acceptable Names", "./lang_reserved.html" %}</li>
      <li>{% iflink "Resources", "./lang_resources.html" %}</li>
      <li>{% iflink "Relationships and Ordering", "./lang_relationships.html" %}</li>
      <li>{% iflink "Resource Defaults", "./lang_defaults.html" %}</li>
      <li>{% iflink "Variables", "./lang_variables.html" %}</li>
      <li>{% iflink "Scope", "./lang_scope.html" %}</li>
      <li>{% iflink "Conditional Statements", "./lang_conditional.html" %}</li>
      <li>{% iflink "Expressions", "./lang_expressions.html" %}</li>
      <li>{% iflink "Functions", "./lang_functions.html" %}</li>
      <li>{% iflink "Classes", "./lang_classes.html" %}</li>
      <li>{% iflink "Defined Types", "./lang_defined_types.html" %}</li>
      <li>{% iflink "Containment", "./lang_containment.html" %}</li>
      <li>{% iflink "Namespaces and Autoloading", "./lang_namespaces.html" %}</li>
      <li>{% iflink "Resource Collectors", "./lang_collectors.html" %}</li>
      <li>{% iflink "Node definitions", "./lang_node_definitions.html" %}</li>
      <li>{% iflink "Data Types", "./lang_datatypes.html" %}</li>
      <li>{% iflink "Comments", "./lang_comments.html" %}</li>
      <li>{% iflink "Virtual Resources", "./lang_virtual.html" %}</li>
      <li>{% iflink "Exported Resources", "./lang_exported.html" %}</li>
      <li>{% iflink "Tags", "./lang_tags.html" %}</li>
      <li>{% iflink "Run Stages", "./lang_run_stages.html" %}</li>
      <li>{% iflink "Importing Manifest Files", "./lang_import.html" %}</li>
    </ul>
  </li>
  <li><strong>Modules</strong>
    <ul>
      <li>{% iflink "Fundamentals", "./modules_fundamentals.html" %}</li>
      <li>{% iflink "Plugins in Modules", "/guides/plugins_in_modules.html" %}</li>
      <li>{% iflink "Installing Modules", "./modules_installing.html" %}</li>
      <li>{% iflink "Publishing Modules on the Puppet Forge", "./modules_publishing.html" %}</li>
      <li>Module Documentation (puppetdoc) (coming later)</li>
    </ul>
  </li>
  <li><strong>Generated References</strong>
    <ul>
      <li><a href="/references/3.0.0/type.html">Resource Types</a></li>
      <li><a href="/references/3.0.0/configuration.html">Configuration Settings</a></li>
      <li><a href="/references/3.0.0/function.html">Functions</a></li>
      <li><a href="/references/3.0.0/metaparameter.html">Metaparameters</a></li>
      <li><a href="/references/3.0.0/report.html">Report Handlers</a></li>
    </ul>
  </li>
  <li><strong>More Sections Coming Later</strong>
    <ul>
      <li><strong>Puppet 3 Overview</strong></li>
      <li><strong>Standard Puppet Operation</strong></li>
      <li><strong>Command Line Interface</strong></li>
      <li><strong>The Puppet Services</strong></li>
      <li><strong>The Ruby DSL</strong></li>
      <li><strong>Node Classification</strong></li>
      <li><strong>File Serving</strong></li>
      <li><strong>Resource Types and Providers</strong></li>
      <li><strong>SSL and Certificates</strong></li>
      <li><strong>Puppet Data Library</strong></li>
      <li><strong>Environments</strong></li>
      <li><strong>Configuring Puppet</strong></li>
      <li><strong>Internals</strong></li>
    </ul>
  </li>
</ul>
