
<h2 id="puppetdb">PuppetDB 1</h2>

<ul>
  <li><strong>General Information</strong>
    <ul>
      <li>{% iflink "Overview & Requirements", "/puppetdb/1.1/index.html" %}</li>
      <li>{% iflink "Frequently Asked Questions", "/puppetdb/1.1/puppetdb-faq.html" %}</li>
      <li>{% iflink "Release Notes", "/puppetdb/1.1/release_notes.html" %}</li>
      <li>{% iflink "Known Issues", "/puppetdb/1.1/known_issues.html" %}</li>
      <li>{% iflink "Community Add-ons", "/puppetdb/1.1/community_add_ons.html" %}</li>
    </ul>
  </li>
  <li><strong>Installation</strong>
    <ul>
      <li>{% iflink "Installing via Puppet Module", "/puppetdb/1.1/install_via_module.html" %}</li>
      <li>{% iflink "Installing From Packages", "/puppetdb/1.1/install_from_packages.html" %}</li>
      <li>{% iflink "Installing from Source", "/puppetdb/1.1/install_from_source.html" %}</li>
      <li>{% iflink "Upgrading PuppetDB", "/puppetdb/1.1/upgrade.html" %}</li>
      <li>{% iflink "Connecting Puppet Masters", "/puppetdb/1.1/connect_puppet_master.html" %}</li>
      <li>{% iflink "Connecting Standalone Puppet", "/puppetdb/1.1/connect_puppet_apply.html" %}</li>
    </ul>
  </li>
  <li><strong>Configuration</strong>
    <ul>
      <li>{% iflink "Configuring PuppetDB", "/puppetdb/1.1/configure.html" %}</li>
      <li>{% iflink "Setting Up SSL for PostgreSQL", "/puppetdb/1.1/postgres_ssl.html" %}</li>
    </ul>
  <li><strong>Administration</strong>
    <ul>
      <li>{% iflink "Using PuppetDB", "/puppetdb/1.1/using.html" %}</li>
      <li>{% iflink "Maintaining and Tuning", "/puppetdb/1.1/maintain_and_tune.html" %}</li>
      <li>{% iflink "Scaling Recommendations", "/puppetdb/1.1/scaling_recommendations.html" %}</li>
      <li>{% iflink "Debugging with Remote REPL", "/puppetdb/1.1/repl.html" %}</li>
    </ul>
  </li>
  <li><strong>API</strong>
    <ul>
      <li>{% iflink "Overview", "/puppetdb/1.1/api/index.html" %}</li>
      <li>{% iflink "Query Tutorial", "/puppetdb/1.1/api/query/tutorial.html" %}</li>
      <li>{% iflink "Curl Tips", "/puppetdb/1.1/api/query/curl.html" %}</li>
      <li>{% iflink "Command API", "/puppetdb/1.1/api/commands.html" %}</li>
      <li><strong>Query API Version 2</strong>
        <ul>
          <li>{% iflink "Query Structure", "/puppetdb/1.1/api/query/v2/query.html" %}</li>
          <li>{% iflink "Available Operators", "/puppetdb/1.1/api/query/v2/operators.html" %}</li>
          <li>{% iflink "Facts Endpoint", "/puppetdb/1.1/api/query/v2/facts.html" %}</li>
          <li>{% iflink "Resources Endpoint", "/puppetdb/1.1/api/query/v2/resources.html" %}</li>
          <li>{% iflink "Nodes Endpoint", "/puppetdb/1.1/api/query/v2/nodes.html" %}</li>
          <li>{% iflink "Fact-Names Endpoint", "/puppetdb/1.1/api/query/v2/fact-names.html" %}</li>
          <li>{% iflink "Metrics Endpoint", "/puppetdb/1.1/api/query/v2/metrics.html" %}</li>
        </ul>
      </li>
      <li><strong>Query API Version 1</strong>
        <ul>
          <li>{% iflink "Facts Endpoint", "/puppetdb/1.1/api/query/v1/facts.html" %}</li>
          <li>{% iflink "Resources Endpoint", "/puppetdb/1.1/api/query/v1/resources.html" %}</li>
          <li>{% iflink "Nodes Endpoint", "/puppetdb/1.1/api/query/v1/nodes.html" %}</li>
          <li>{% iflink "Status Endpoint", "/puppetdb/1.1/api/query/v1/status.html" %}</li>
          <li>{% iflink "Metrics Endpoint", "/puppetdb/1.1/api/query/v1/metrics.html" %}</li>
        </ul>
      </li>
      <li><strong>Query API Experimental</strong>
        <ul>
          <li>{% iflink "Report Endpoint", "/puppetdb/1.1/api/query/experimental/report.html" %}</li>
          <li>{% iflink "Event Endpoint", "/puppetdb/1.1/api/query/experimental/event.html" %}</li>
        </ul>
      </li>
      <li><strong>Wire Formats</strong>
        <ul>
          <li>{% iflink "Catalog Wire Format", "/puppetdb/1.1/api/wire_format/catalog_format.html" %}</li>
          <li>{% iflink "Facts Wire Format", "/puppetdb/1.1/api/wire_format/facts_format.html" %}</li>
          <li>{% iflink "Report Wire Format", "/puppetdb/1.1/api/wire_format/report_format.html" %}</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>



