{% comment %}
## PuppetDB

- {% iflink "Overview", "./index.html" %}
- {% iflink "System Requirements", "./requirements.html" %}
- {% iflink "Installing and Connecting PuppetDB", "./install.html" %}
- {% iflink "Configuration", "./configure.html" %}
- Using PuppetDB
- {% iflink "Maintaining and Tuning PuppetDB", "./maintain_and_tune.html" %}
- Known Issues
- **PuppetDB for Developers**
    - Building and Installing PuppetDB from Source
    - Writing Applications with PuppetDB
    - API Reference
    - Catalog Wire Format
    - Facts Wire Format
    - {% iflink "Debugging PuppetDB", "./debug.html" %}

{% endcomment %}

<h2 id="puppetdb">PuppetDB</h2>

<ul>
  <li>{% iflink "Overview", "./index.html" %}</li>
  <li>{% iflink "System Requirements", "./requirements.html" %}</li>
  <li>{% iflink "Installing and Connecting PuppetDB", "./install.html" %}</li>
  <li>{% iflink "Configuration", "./configure.html" %}</li>
  <li>Using PuppetDB</li>
  <li>{% iflink "Maintaining and Tuning PuppetDB", "./maintain_and_tune.html" %}</li>
  <li>Known Issues</li>
  <li><strong>PuppetDB for Developers</strong>
    <ul>
      <li>Building and Installing PuppetDB from Source</li>
      <li>Writing Applications with PuppetDB</li>
      <li>API Reference</li>
      <li>Catalog Wire Format</li>
      <li>Facts Wire Format</li>
      <li>{% iflink "Debugging PuppetDB", "./debug.html" %}</li>
    </ul>
  </li>
</ul>
