<h2 id="puppetdb">PuppetDB NEXT</h2>

<p class="versionnote">This documentation is for an unreleased version of PuppetDB! If you are running PuppetDB from source on the master branch, this is the documentation for you; otherwise, please see the <a href="/puppetdb/1.1/">PuppetDB 1.1 Manual</a>.</p>

<ul>
  <li><strong>General Information</strong>
    <ul>
      <li>{% iflink "Overview & Requirements", "/puppetdb/master/index.html" %}</li>
      <li>{% iflink "Frequently Asked Questions", "/puppetdb/master/puppetdb-faq.html" %}</li>
      <li>{% iflink "Release Notes", "/puppetdb/master/release_notes.html" %}</li>
      <li>{% iflink "Known Issues", "/puppetdb/master/known_issues.html" %}</li>
      <li>{% iflink "Community Add-ons", "/puppetdb/master/community_add_ons.html" %}</li>
    </ul>
  </li>
  <li><strong>Installation</strong>
    <ul>
      <li>{% iflink "Migrating Existing Data", "/puppetdb/master/migrate.html" %}</li>
      <li>{% iflink "Installing via Puppet Module", "/puppetdb/master/install_via_module.html" %}</li>
      <li>{% iflink "Installing From Packages", "/puppetdb/master/install_from_packages.html" %}</li>
      <li>{% iflink "Installing from Source", "/puppetdb/master/install_from_source.html" %}</li>
      <li>{% iflink "Upgrading PuppetDB", "/puppetdb/master/upgrade.html" %}</li>
      <li>{% iflink "Connecting Puppet Masters", "/puppetdb/master/connect_puppet_master.html" %}</li>
      <li>{% iflink "Connecting Standalone Puppet", "/puppetdb/master/connect_puppet_apply.html" %}</li>
    </ul>
  </li>
  <li><strong>Configuration</strong>
    <ul>
      <li>{% iflink "Configuring PuppetDB", "/puppetdb/master/configure.html" %}</li>
      <li>{% iflink "Setting Up SSL for PostgreSQL", "/puppetdb/master/postgres_ssl.html" %}</li>
    </ul>
  <li><strong>Usage/Admin/Troubleshooting</strong>
    <ul>
      <li>{% iflink "Using PuppetDB", "/puppetdb/master/using.html" %}</li>
      <li>{% iflink "Maintaining and Tuning", "/puppetdb/master/maintain_and_tune.html" %}</li>
      <li>{% iflink "Scaling Recommendations", "/puppetdb/master/scaling_recommendations.html" %}</li>
      <li>{% iflink "Debugging with Remote REPL", "/puppetdb/master/repl.html" %}</li>
    </ul>
  </li>
  <li><strong>API</strong>
    <ul>
      <li>{% iflink "Overview", "/puppetdb/master/api/index.html" %}</li>
      <li>{% iflink "Query Tutorial", "/puppetdb/master/api/query/tutorial.html" %}</li>
      <li>{% iflink "Curl Tips", "/puppetdb/master/api/query/curl.html" %}</li>
      <li>{% iflink "Command API", "/puppetdb/master/api/commands.html" %}</li>
    </ul>
  </li>
  <li><strong>Query API Version 2</strong>
    <ul>
      <li>{% iflink "Query Structure", "/puppetdb/master/api/query/v2/query.html" %}</li>
      <li>{% iflink "Available Operators", "/puppetdb/master/api/query/v2/operators.html" %}</li>
      <li>{% iflink "Facts Endpoint", "/puppetdb/master/api/query/v2/facts.html" %}</li>
      <li>{% iflink "Resources Endpoint", "/puppetdb/master/api/query/v2/resources.html" %}</li>
      <li>{% iflink "Nodes Endpoint", "/puppetdb/master/api/query/v2/nodes.html" %}</li>
      <li>{% iflink "Fact-Names Endpoint", "/puppetdb/master/api/query/v2/fact-names.html" %}</li>
      <li>{% iflink "Metrics Endpoint", "/puppetdb/master/api/query/v2/metrics.html" %}</li>
    </ul>
  </li>
  <li><strong>Query API Version 1</strong>
    <ul>
      <li>{% iflink "Facts Endpoint", "/puppetdb/master/api/query/v1/facts.html" %}</li>
      <li>{% iflink "Resources Endpoint", "/puppetdb/master/api/query/v1/resources.html" %}</li>
      <li>{% iflink "Nodes Endpoint", "/puppetdb/master/api/query/v1/nodes.html" %}</li>
      <li>{% iflink "Status Endpoint", "/puppetdb/master/api/query/v1/status.html" %}</li>
      <li>{% iflink "Metrics Endpoint", "/puppetdb/master/api/query/v1/metrics.html" %}</li>
    </ul>
  </li>
  <li><strong>Query API Experimental</strong>
    <ul>
      <li>{% iflink "Report Endpoint", "/puppetdb/master/api/query/experimental/report.html" %}</li>
      <li>{% iflink "Event Endpoint", "/puppetdb/master/api/query/experimental/event.html" %}</li>
    </ul>
  </li>
  <li><strong>Wire Formats</strong>
    <ul>
      <li>{% iflink "Catalog Wire Format", "/puppetdb/master/api/wire_format/catalog_format.html" %}</li>
      <li>{% iflink "Facts Wire Format", "/puppetdb/master/api/wire_format/facts_format.html" %}</li>
      <li>{% iflink "Report Wire Format", "/puppetdb/master/api/wire_format/report_format.html" %}</li>
    </ul>
  </li>
</ul>



