<h3 id="puppet-27-reference-manual">Puppet 2.7 Reference Manual</h3>

<p><a href="./index.html">Main Index</a></p>

<ul>
  <li><a href="./release_notes.html">Puppet 2.7 Release Notes</a></li>
  <li><strong>The Puppet Language</strong>
    <ul>
      <li><a href="./lang_visual_index.html">Visual Index</a></li>
      <li><a href="./lang_summary.html">Summary</a></li>
      <li><a href="./lang_reserved.html">Reserved Words and Acceptable Names</a></li>
      <li><a href="./lang_resources.html">Resources</a></li>
      <li><a href="./lang_relationships.html">Relationships and Ordering</a></li>
      <li><a href="./lang_defaults.html">Resource Defaults</a></li>
      <li><a href="./lang_variables.html">Variables</a></li>
      <li><a href="./lang_scope.html">Scope</a></li>
      <li><a href="./lang_conditional.html">Conditional Statements</a></li>
      <li><a href="./lang_expressions.html">Expressions</a></li>
      <li><a href="./lang_functions.html">Functions</a></li>
      <li><a href="./lang_classes.html">Classes</a></li>
      <li><a href="./lang_defined_types.html">Defined Types</a></li>
      <li><a href="./lang_containment.html">Containment</a></li>
      <li><a href="./lang_namespaces.html">Namespaces and Autoloading</a></li>
      <li><a href="./lang_collectors.html">Resource Collectors</a></li>
      <li><a href="./lang_node_definitions.html">Node definitions</a></li>
      <li><a href="./lang_datatypes.html">Data Types</a></li>
      <li><a href="./lang_comments.html">Comments</a></li>
      <li><a href="./lang_virtual.html">Virtual Resources</a></li>
      <li><a href="./lang_exported.html">Exported Resources</a></li>
      <li><a href="./lang_tags.html">Tags</a></li>
      <li><a href="./lang_run_stages.html">Run Stages</a></li>
      <li><a href="./lang_import.html">Importing Manifest Files</a></li>
    </ul>
  </li>
  <li><strong>Modules</strong>
    <ul>
      <li><a href="./modules_fundamentals.html">Fundamentals</a></li>
      <li><a href="/guides/plugins_in_modules.html">Plugins in Modules</a></li>
      <li><a href="./modules_installing.html">Installing Modules</a></li>
      <li><a href="./modules_publishing.html">Publishing Modules on the Puppet Forge</a></li>
      <li><a href="./modules_documentation.html">Module Documentation</a></li>
    </ul>
  </li>
  <li><strong>Data Formats</strong>
    <ul>
      <li><a href="./format_report.html">Report Formats</a></li>
    </ul>
  </li>
  <li><strong>Generated References</strong>
    <ul>
      <li><a href="/references/2.7.latest/type.html">Resource Types</a></li>
      <li><a href="/references/2.7.latest/configuration.html">Configuration Settings</a></li>
      <li><a href="/references/2.7.latest/function.html">Functions</a></li>
      <li><a href="/references/2.7.latest/metaparameter.html">Metaparameters</a></li>
      <li><a href="/references/2.7.latest/report.html">Report Handlers</a></li>
    </ul>
  </li>
</ul>
