<h3 id="puppet-024-references">Puppet 0.24 References</h3>

<ul>
  <li><strong><a href="/puppet/0.24/reference/release_notes.html">Release Notes</a></strong></li>
  <li><strong>Generated References</strong>
    <ul>
      <li><a href="/puppet/0.24/reference/type.html">Resource Types</a></li>
      <li><a href="/puppet/0.24/reference/configuration.html">Configuration Settings</a></li>
      <li><a href="/puppet/0.24/reference/function.html">Functions</a></li>
      <li><a href="/puppet/0.24/reference/metaparameter.html">Metaparameters</a></li>
      <li><a href="/puppet/0.24/reference/report.html">Report Handlers</a></li>
      <li><a href="/puppet/0.24/reference/network.html">Network Reference</a></li>
    </ul>
  </li>
</ul>
