{% capture doc_longname %}{{ site.document_names[page.doc.doc] }} {{ page.doc.version }}{% endcapture %}
<ul class="doc-navigation" id="quick-nav">
    <li class="with-submenu">
        <a href="#">
            <span>{% if page.doc %}{{ site.document_names[page.doc.doc] }}{% else %}Choose a Product{% endif %}</span>
            <span class="drop-down-trigger"></span>
        </a>
        <dl>
            <dt>Products</dt>
            <dd><a href="{{pe}}/">Puppet Enterprise</a></dd>
            <dd><a href="{{puppet}}/">Puppet (PE and open source)</a></dd>
            <dd><a href="{{puppetserver}}/">Puppet Server (PE and open source)</a></dd>
            <dd><a href="{{puppetdb}}/">PuppetDB (PE and open source)</a></dd>
            <dd><a href="{{facter}}/">Facter (PE and open source)</a></dd>
            <dd><a href="{{hiera}}/">Hiera (PE and open source)</a></dd>
            <dd><a href="/mcollective/">MCollective (PE and open source)</a></dd>

            <dt>Other</dt>
            <dd><a href="/">Puppet Docs Front Page</a></dd>
            <dd><a href="/forge/">Using the Puppet Forge</a></dd>
            <dd><a href="/puppet/latest/reference/type.html">Resource Type Reference</a></dd>
            <dd><a href="/references/glossary.html">Glossary of Puppet Terms</a></dd>
        </dl>
    </li>
</ul>
