<ul id="doc-navigation">
    <li class="with-submenu">
        <a href="#">
            <span>Docs Quick Nav</span>
            <span class="drop-down-trigger"></span>
        </a>
        <dl>
          <dt>Home</dt>
            <dd><a href="/">Puppet Docs Front Page</a></dd>
          <dt>#1 Most Popular</dt>
            <dd><a href="/puppet/latest/reference/type.html">The Resource Type Reference</a></dd>
          <dt>Puppet Enterprise</dt>
            <dd><a href="/pe/latest/">Puppet Enterprise User's Guide (latest)</a></dd>
            <dd><a href="/pe/latest/quick_start.html">Quick Start Guide</a></dd>
          <dt>Puppet in General (PE &amp; Open Source)</dt>
              <dd><a href="/puppet/latest/reference">Puppet Reference Manual (latest)</a></dd>
              <dd><a href="/learning/">Learning Puppet</a></dd>
              <dd><a href="/references/glossary.html">Glossary of Puppet Terms</a></dd>
          <dt>Open Source Puppet</dt>
            <dd><a href="/puppet/latest/reference/install_pre.html">Installing</a></dd>
            <dd><a href="/puppet/latest/reference/upgrade_major_pre.html">Upgrading</a></dd>
          <dt>Facter</dt>
              <dd><a href="/facter/latest/core_facts.html">Core Facts Reference</a></dd>
              <dd><a href="/facter/latest/fact_overview.html">Writing Custom Facts</a></dd>
          <dt>PuppetDB</dt>
              <dd><a href="/puppetdb/latest">PuppetDB Manual</a></dd>
          <dt>MCollective</dt>
              <dd><a href="/mcollective/index.html">All MCollective Docs</a></dd>
              <dd><a href="/mcollective/reference/index.html">References</a></dd>
              <dd><a href="/mcollective/simplerpc/index.html">Writing Plugins</a></dd>
        </dl>
    </li>
</ul>
