	            <dl>
	              <dt>Puppet Guides</dt>
                      <dd><a href="/pe/2.5/">Puppet Enterprise User's Guide</a></dd>
                      <dd><a href="/learning/">Learning Puppet</a></dd>
                  <dt>Puppet References</dt>
                      <dd><a href="/references/stable/type.html">Resource Types</a></dd>
                      <dd><a href="/references/stable/function.html">Functions</a></dd>
                      <dd><a href="/references/stable/metaparameter.html">Metaparameters</a></dd>
                      <dd><a href="/references/stable/configuration.html">Configuration</a></dd>
                  <dt>References By Version</dt>
                      <dd><a href="/references/2.7.17/">2.7.17</a></dd>
                      <dd><a href="/references/2.6.16/">2.6.16</a></dd>
                      <dd><a href="/references/0.25.5/">0.25.5</a></dd>
                      <dd><a href="/references/0.24.8/">0.24.8</a></dd>
                      <dd><a href="/references/">Other Versions</a></dd>
                  <dt>MCollective</dt>
                      <dd><a href="/mcollective/index.html">Index</a></dd>
                      <dd><a href="/mcollective/simplerpc/index.html">SimpleRPC</a></dd>
                      <dd><a href="/mcollective/roadmap/index.html">Roadmap</a></dd>
                      <dd><a href="/mcollective/releasenotes.html">Release Notes</a></dd>
                      <dd><a href="/mcollective/reference/index.html">References</a></dd>
	            </dl>
