<h3 id="release-notes">Release Notes</h3>

<ul>
  <li><strong>Puppet Open Source</strong>
    <ul>
      <li><a href="/puppet/3/reference/release_notes.html">Puppet 3</a></li>
      <li><a href="/puppet/2.7/reference/release_notes.html">Puppet 2.7</a></li>
      <li><a href="/puppet/2.6/reference/release_notes.html">Puppet 2.6</a></li>
      <li><a href="/puppet/0.25/reference/release_notes.html">Puppet 0.25</a></li>
      <li><a href="/puppet/0.24/reference/release_notes.html">Puppet 0.24</a></li>
    </ul>
    </li>
</ul>

<ul>
  <li><strong>Puppet Enterprise</strong>
    <ul>
      <li><a href="/pe/3.2/overview_whats_new.html">Puppet Enterprise 3.0</a></li>
      <li><a href="/pe/3.1/overview_whats_new.html">Puppet Enterprise 3.0</a></li>
      <li><a href="/pe/3.0/overview_whats_new.html">Puppet Enterprise 3.0</a></li>
      <li><a href="/pe/2.8/overview_whats_new.html">Puppet Enterprise 2.8</a></li>
      <li><a href="/pe/2.7/overview_whats_new.html">Puppet Enterprise 2.7</a></li>
      <li><a href="/pe/2.6/overview_whats_new.html">Puppet Enterprise 2.6</a></li>
      <li><a href="/pe/2.5/overview_whats_new.html">Puppet Enterprise 2.5</a></li>
      <li><a href="/pe/2.0/welcome_whats_new.html">Puppet Enterprise 2.0</a></li>
      <li><a href="/pe/1.2/upgrading.html">Puppet Enterprise 1.2</a></li>
    </ul>
  </li>
</ul>
