<ul>
<li>{% iflink "Overview", "/windows/index.html" %}</li>
<li>{% iflink "Installing Puppet on Windows", "/guides/install_puppet/install_windows.html" %}</li>
<li>{% iflink "Running Puppet on Windows", "/windows/running.html" %}</li>
<li>{% iflink "Writing Manifests for Windows", "/windows/writing.html" %}</li>
<li>{% iflink "Troubleshooting Puppet on Windows", "/windows/troubleshooting.html" %}</li>
<li>{% iflink "Developers Only: Running Puppet from Source on Windows", "/windows/from_source.html" %}</li>
</ul>
