---
pygments: true
markdown: kramdown
include: _index.html
defaultnav:
  /: quick_nav.html
  /mcollective: mcollective_menu.html
  /mcollective1.2: mcollective_1.2.html
  /pe/3.1: pe31.html 
  /pe/3.0: pe30.html
  /pe/2.8: pe28.html
  /pe/2.7: pe27.html
  /pe/2.6: pe26.html
  /pe/2.5: pe25.html
  /pe/2.0: pe_2.0_nav.markdown
  /puppetdb/0.9: puppetdb0.9.html
  /puppetdb/1: puppetdb1.html
  /puppetdb/1.1: puppetdb1.1.html
  /puppetdb/1.2: puppetdb1.2.html
  /puppetdb/1.3: puppetdb1.3.html
  /puppetdb/1.4: puppetdb1.4.html
  /puppetdb/master: puppetdb_master.html
  /puppet/0.24/reference: puppet_0_24.html
  /puppet/0.25/reference: puppet_0_25.html
  /puppet/2.6/reference: puppet_2_6.html
  /puppet/2.7/reference: puppet_2_7.html
  /puppet/3/reference: puppet_3.html
  /references: references_general.html
  /hiera/1: hiera1.html
  /guides/deployment_guide:  deploy_guide.html
  /release_notes: release_notes.html
  /learning: learning_nav.html
destination: ../output
url: "http://docs.puppetlabs.com"
#Anatomy of an external source:
#  mcollective: # an arbitrary name. The working dir for this source will be at externalsources/<name>.
#    url: /mcollective # The absolute URL where the source's contents should be mounted in the final site.
#    repo: git://github.com/puppetlabs/marionette-collective.git # The URL of the upstream repo, in a form acceptable to `git clone`. This must be accessible to anyone who will need to deploy the site.
#    commit: origin/master # a git treeish (in a form acceptable to `git checkout`) that the external source should track. This should almost always be either a tag, which will never update, or an upstream tracking branch on the default "origin" remote (origin/<branch>), which will update every time someone builds the site.
#    subdirectory: website # A subdirectory within the remote repository that contains the documentation files that we'll build and mount at the specified url.
externalsources:
  # Both 1.1 and 1.2 are now 'legacy' and so we can clear the branch, we are
  # referencing a sha1 directly instead.
  puppetdb_1.1:
    url: /puppetdb/1.1
    repo: git://github.com/puppetlabs/puppetdb.git
    commit: 9af38fc8556f3bbd9b5a1f2fa2332afa6b85cc2b
    subdirectory: documentation
  puppetdb_1.2:
    url: /puppetdb/1.2
    repo: git://github.com/puppetlabs/puppetdb.git
    commit: a03fa638414032f8defeaa3a13ed51e8c1014d4a
    subdirectory: documentation
  puppetdb_1.3:
    url: /puppetdb/1.3
    repo: git://github.com/puppetlabs/puppetdb.git
    commit: origin/1.3.x
    subdirectory: documentation
  puppetdb_1.4:
    url: /puppetdb/1.4
    repo: git://github.com/puppetlabs/puppetdb.git
    commit: origin/1.4.x
    subdirectory: documentation
  puppetdb_master:
    url: /puppetdb/master
    repo: git://github.com/puppetlabs/puppetdb.git
    commit: origin/master
    subdirectory: documentation
  mcollective:
    url: /mcollective
    repo: git://github.com/puppetlabs/marionette-collective.git
    commit: origin/master
    subdirectory: website
  mcollective1.2:
    url: /mcollective1.2
    repo: git://github.com/nfagerlund/marionette-collective.git
    commit: origin/docs_1.2
    subdirectory: website
symlink_latest:
  - puppet
  - puppetdb
  - hiera
  - facter
  - pe
  - dashboard/manual
---
