---
highlighter: none
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
url: "https://docs.puppet.com"
safe: false
# YAML frontmatter defaults:
defaults: [ {scope: {path: ""},
             values: {layout: "default",
                      toc_levels: "23",
                      nav: "/_includes/fallback_nav.html"} } ]
defaultnav:
  /background/ssl: /_includes/background_ssl.html
  /security: /security/_security_toc.html
  /community: /_includes/community_nav.html
  /forge: /_includes/forge.html
  /de: /_includes/de_pe.html
  /es: /_includes/es_docs.html
  /es/hiera: /_includes/es_hiera1.html
  /es/learning: /_includes/es_learning_nav.html
  /es/pe/3.8: /_includes/es_pe38.html
  /ja: /ja/_ja_sidebar_generic.html
  /es/puppet: /_includes/_es_fallback_nav.html
  /ja/guides/install_puppet: /_includes/ja_puppet_general.html
  /ja/learning: /_includes/ja_learning_nav.html
  /ja/puppet/3.7/reference: /_includes/ja_puppet_3_7.html
  /ja/puppet/4.2/reference: /_includes/ja_puppet4.2.html
  /learning: /_includes/learning_nav.html
  /mcollective: /_includes/mcollective_menu.html
  /mcollective1.2: /_includes/mcollective_1.2.html
  /upgrade: /upgrade/_upgrade_toc.html

#Anatomy of an external source:
#  /puppetdb/2.2:                                   # The absolute URL where the source's contents should be mounted in the final site.
#    repo: git://github.com/puppetlabs/puppetdb.git # The URL of the upstream repo, in any form `git clone` understands. This must be accessible to anyone who will need to build the site.
#    commit: origin/2.2.x                           # A git treeish (in any form `git checkout` understands) that the external source should track. This should almost always be either a tag, which will never update, or an upstream tracking branch on the default "origin" remote (origin/<branch>), which will update every time someone builds the site.
#    subdirectory: documentation                    # A subdirectory within the remote repository that contains the documentation files that we'll build and mount at the specified url.
externalsources:
  /mcollective:
    repo: git://github.com/puppetlabs/marionette-collective.git
    commit: origin/2.12.x
    subdirectory: website


# symlink_latest:
#  - puppet
#  - puppetdb
#  - puppetserver
#  - hiera
#  - facter
#  - pdk
#  - pe
#  - ja/pe
#  - es/puppet
# lock_latest:


document_names:
  pe: Puppet Enterprise
  puppet: Puppet
  puppetserver: Puppet Server
  puppetdb: PuppetDB
  hiera: Hiera
  facter: Facter
  pdk: Puppet Development Kit
  pe_ja: "Puppet Enterprise (日本語)"
  puppet_es: "Puppet (español)"
  pipelines_for_apps: "Pipelines for Applications"
  pipelines_for_containers: "Pipelines for Containers"
  container_reg: "Puppet Container Registry"

# Anatomy of a document:
#  /pe/2015.3:                    # Base URL for this doc, starting from the root of the site.
#    doc: pe                      # Which document group it's a part of. Used to determine this doc's siblings.
#    version: 2015.3              # Version. Used for associating confirmed version numbers with a URL.
#    nav: ./_pe_toc.html          # Nav snippet. Can be an absolute URL, or relative to the base URL.
#    hide: false                  # Whether to hide this version in the version switcher. Optional; defaults to false.
#    draft: false                 # Whether to warn in the version note that this is a draft for an unreleased version. Optional; defaults to false.
#    external_source:             # External source. (Works the same as external sources above.) Optional; if absent, we use content from this repo instead of an external repo.
#      repo: git@github.com:puppetlabs/pe-docs-private.git   # A git repo
#      commit: origin/pe2015.3.1
#      subdirectory: source
#    my_versions:                 # A hash, where you can specify the most-relevant version for any number of other documents.
#      puppet: "4.3"                # The keys of this hash should be document group IDs; that is, the value of the `doc` key from another document.
#      facter: "3.1"
#      hiera: "3.0"
#      puppetserver: "2.2"
#      puppetdb: "3.2"

documents:

  /pipelines/for-apps/enterprise:
    doc: pipelines_for_apps
    nav: ./_pfa_toc.html
    version: "Enterprise"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/enterprise
      subdirectory: for-apps
    hide: true

  /pipelines/for-containers/enterprise:
    doc: pipelines_for_containers
    nav: ./_pfc_toc.html
    version: "Enterprise"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/enterprise
      subdirectory: for-containers
    hide: true

  /pipelines/container-reg/enterprise:
    doc: container_reg
    nav: ./_pcr_toc.html
    version: "Enterprise"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/enterprise
      subdirectory: container-reg
    hide: true

  /pipelines/for-apps/team:
    doc: pipelines_for_apps
    nav: ./_pfa_toc.html
    version: "Team"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/team
      subdirectory: for-apps
    hide: true

  /pipelines/for-containers/team:
    doc: pipelines_for_containers
    nav: ./_pfc_toc.html
    version: "Team"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/team
      subdirectory: for-containers
    hide: true

  /pipelines/container-reg/team:
    doc: container_reg
    nav: ./_pcr_toc.html
    version: "Team"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/team
      subdirectory: container-reg
    hide: true

  /pipelines/for-apps/free:
    doc: pipelines_for_apps
    nav: ./_pfa_toc.html
    version: "Free"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/free
      subdirectory: for-apps
    hide: true

  /pipelines/for-containers/free:
    doc: pipelines_for_containers
    nav: ./_pfc_toc.html
    version: "Free"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/free
      subdirectory: for-containers
    hide: true

  /pipelines/container-reg/free:
    doc: container_reg
    nav: ./_pcr_toc.html
    version: "Free"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/free
      subdirectory: container-reg
    hide: true

  /puppet/6.4:
    doc: puppet
    version: "6.4"
    nav: ./_puppet_toc.html
    my_versions:
      puppetserver: "6.3"
    hide: true
  /puppet/6.3:
    doc: puppet
    version: "6.3"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.12"
      puppetserver: "6.2"
    hide: true
  /puppet/6.2:
    doc: puppet
    version: "6.2"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.12"
      puppetserver: "6.2"
    hide: true
  /puppet/6.1:
    doc: puppet
    version: "6.1"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.12"
      puppetserver: "6.1"
    hide: true
  /puppet/6.0:
    doc: puppet
    version: "6.0"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.12"
      puppetserver: "6.0"
    hide: true
  /puppet/5.5:
    doc: puppet
    version: "5.5"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.11"
      hiera: "3.4"
      puppetserver: "5.3"
    hide: true
  
  /es/puppet/5.3:
    doc: puppet_es
    version: "5.3"
    nav: /_includes/_es_puppet_toc_53.html
    my_versions:
      facter: "3.9"
      hiera: "3.4"
      puppetserver: "5.1"
    hide: true

  /facter/3.12:
    doc: facter
    version: "3.12"
    nav: ./_facter_toc.html
    hide: true
  /facter/3.11:
    doc: facter
    version: "3.11"
    nav: ./_facter_toc.html
    hide: true

  /pdk/1.0:
    doc: pdk
    version: "1.0"
    nav: ./_pdk_toc.html
    hide: true

  /hiera/3.3:
    doc: hiera
    version: "3.3"
    nav: ./_hiera_toc.html
    hide: true
  /hiera/3.2:
    doc: hiera
    version: "3.2"
    nav: ./_hiera_toc.html
    hide: true

  /puppetserver/6.3:
    doc: puppetserver
    version: "6.3"
    nav: /puppet/6.4/_puppet_toc.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: origin/6.3.x
      subdirectory: documentation
    my_versions:
      puppet: "6.4"
    hide: true

  /puppetserver/6.2:
    doc: puppetserver
    version: "6.2"
    nav: /puppet/6.2/_puppet_toc.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: origin/master
      subdirectory: documentation
    my_versions:
      puppet: "6.2"
      facter: "3.12"
    hide: true
    
  /puppetserver/6.1:
    doc: puppetserver
    version: "6.1"
    nav: /puppet/6.1/_puppet_toc.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: 6.1.0
      subdirectory: documentation
    my_versions:
      puppet: "6.1"
      facter: "3.12"
    hide: true
    
  /puppetserver/6.0:
    doc: puppetserver
    version: "6.0"
    nav: /puppet/6.0/_puppet_toc.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: origin/6.0.x
      subdirectory: documentation
    my_versions:
      puppet: "6.0"
      facter: "3.12"
    hide: true
    
  /puppetserver/5.3:
    doc: puppetserver
    version: "5.3"
    nav: /puppet/5.5/_puppet_toc.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: origin/5.3.x
      subdirectory: documentation
    my_versions:
      puppet: "5.5"
      facter: "3.11"
      hiera: "3.4"
    hide: true

  /puppetdb/6.3:
    doc: puppetdb
    version: "6.3"
    nav: ./_puppetdb_nav.html
    external_source:
      repo: git://github.com/puppetlabs/puppetdb.git
      commit: origin/6.3.x
      subdirectory: documentation
    hide: true
  /puppetdb/6.2:
    doc: puppetdb
    version: "6.2"
    nav: ./_puppetdb_nav.html
    external_source:
      repo: git://github.com/puppetlabs/puppetdb.git
      commit: origin/6.2.0-release
      subdirectory: documentation
    hide: true
  /puppetdb/6.1:
    doc: puppetdb
    version: "6.1"
    nav: ./_puppetdb_nav.html
    external_source:
      repo: git://github.com/puppetlabs/puppetdb.git
      commit: "c943f424ccb0e5f5d53da5410593b0ccc5fa9a11"
      subdirectory: documentation
    hide: true
  /puppetdb/6.0:
    doc: puppetdb
    version: "6.0"
    nav: ./_puppetdb_nav.html
    external_source:
      repo: git://github.com/puppetlabs/puppetdb.git
      commit: origin/6.0.x
      subdirectory: documentation
    hide: true
  /puppetdb/5.2:
    doc: puppetdb
    version: "5.2"
    nav: ./_puppetdb_nav.html
    external_source:
      repo: git://github.com/puppetlabs/puppetdb.git
      commit: origin/5.2.x
      subdirectory: documentation
    hide: true


---
