---
highlighter: none
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
url: "https://docs.puppet.com"
safe: false
# YAML frontmatter defaults:
defaults: [ {scope: {path: ""},
             values: {layout: "default",
                      toc_levels: "23",
                      nav: "/_includes/fallback_nav.html"} } ]
defaultnav:
  /background/ssl: /_includes/background_ssl.html
  /security: /security/_security_toc.html
  /community: /_includes/community_nav.html
  /forge: /_includes/forge.html
  /de: /_includes/de_pe.html
  /es: /_includes/es_docs.html
  /es/hiera: /_includes/es_hiera1.html
  /es/learning: /_includes/es_learning_nav.html
  /es/pe/3.8: /_includes/es_pe38.html
  /ja: /ja/_ja_sidebar_generic.html
  /es/puppet: /_includes/_es_fallback_nav.html
  /ja/guides/install_puppet: /_includes/ja_puppet_general.html
  /ja/learning: /_includes/ja_learning_nav.html
  /ja/puppet/3.7/reference: /_includes/ja_puppet_3_7.html
  /ja/puppet/4.2/reference: /_includes/ja_puppet4.2.html
  /learning: /_includes/learning_nav.html
  /mcollective: /_includes/mcollective_menu.html
  /mcollective1.2: /_includes/mcollective_1.2.html
  /upgrade: /upgrade/_upgrade_toc.html

#Anatomy of an external source:
#  /puppetdb/2.2:                                   # The absolute URL where the source's contents should be mounted in the final site.
#    repo: git://github.com/puppetlabs/puppetdb.git # The URL of the upstream repo, in any form `git clone` understands. This must be accessible to anyone who will need to build the site.
#    commit: origin/2.2.x                           # A git treeish (in any form `git checkout` understands) that the external source should track. This should almost always be either a tag, which will never update, or an upstream tracking branch on the default "origin" remote (origin/<branch>), which will update every time someone builds the site.
#    subdirectory: documentation                    # A subdirectory within the remote repository that contains the documentation files that we'll build and mount at the specified url.
externalsources:
  /mcollective:
    repo: git://github.com/puppetlabs/marionette-collective.git
    commit: origin/2.12.x
    subdirectory: website


# symlink_latest:
#  - puppet
#  - puppetdb
#  - puppetserver
#  - hiera
#  - facter
#  - pdk
#  - pe
#  - ja/pe
#  - es/puppet
# lock_latest:


document_names:
  pe: Puppet Enterprise
  puppet: Puppet
  puppetserver: Puppet Server
  puppetdb: PuppetDB
  hiera: Hiera
  facter: Facter
  pdk: Puppet Development Kit
  pe_ja: "Puppet Enterprise (日本語)"
  puppet_es: "Puppet (español)"
  pipelines_for_apps: "Pipelines for Applications"
  pipelines_for_containers: "Pipelines for Containers"
  container_reg: "Puppet Container Registry"

# Anatomy of a document:
#  /pe/2015.3:                    # Base URL for this doc, starting from the root of the site.
#    doc: pe                      # Which document group it's a part of. Used to determine this doc's siblings.
#    version: 2015.3              # Version. Used for associating confirmed version numbers with a URL.
#    nav: ./_pe_toc.html          # Nav snippet. Can be an absolute URL, or relative to the base URL.
#    hide: false                  # Whether to hide this version in the version switcher. Optional; defaults to false.
#    draft: false                 # Whether to warn in the version note that this is a draft for an unreleased version. Optional; defaults to false.
#    external_source:             # External source. (Works the same as external sources above.) Optional; if absent, we use content from this repo instead of an external repo.
#      repo: git@github.com:puppetlabs/pe-docs-private.git   # A git repo
#      commit: origin/pe2015.3.1
#      subdirectory: source
#    my_versions:                 # A hash, where you can specify the most-relevant version for any number of other documents.
#      puppet: "4.3"                # The keys of this hash should be document group IDs; that is, the value of the `doc` key from another document.
#      facter: "3.1"
#      hiera: "3.0"
#      puppetserver: "2.2"
#      puppetdb: "3.2"

documents:

  /pipelines/for-apps/enterprise:
    doc: pipelines_for_apps
    nav: ./_pfa_toc.html
    version: "Enterprise"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/enterprise
      subdirectory: for-apps
    hide: true

  /pipelines/for-containers/enterprise:
    doc: pipelines_for_containers
    nav: ./_pfc_toc.html
    version: "Enterprise"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/enterprise
      subdirectory: for-containers
    hide: true

  /pipelines/container-reg/enterprise:
    doc: container_reg
    nav: ./_pcr_toc.html
    version: "Enterprise"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/enterprise
      subdirectory: container-reg
    hide: true

  /pipelines/for-apps/team:
    doc: pipelines_for_apps
    nav: ./_pfa_toc.html
    version: "Team"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/team
      subdirectory: for-apps
    hide: true

  /pipelines/for-containers/team:
    doc: pipelines_for_containers
    nav: ./_pfc_toc.html
    version: "Team"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/team
      subdirectory: for-containers
    hide: true

  /pipelines/container-reg/team:
    doc: container_reg
    nav: ./_pcr_toc.html
    version: "Team"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/team
      subdirectory: container-reg
    hide: true

  /pipelines/for-apps/free:
    doc: pipelines_for_apps
    nav: ./_pfa_toc.html
    version: "Free"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/free
      subdirectory: for-apps
    hide: true

  /pipelines/for-containers/free:
    doc: pipelines_for_containers
    nav: ./_pfc_toc.html
    version: "Free"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/free
      subdirectory: for-containers
    hide: true

  /pipelines/container-reg/free:
    doc: container_reg
    nav: ./_pcr_toc.html
    version: "Free"
    external_source:
      repo: git@github.com:puppetlabs/DistelliHugoDocs.git
      commit: origin/free
      subdirectory: container-reg
    hide: true

  /pe/2017.3:
    doc: pe
    version: "2017.3"
    nav: ./_pe_toc.html
    external_source:
      repo: git@github.com:puppetlabs/pe-docs-private.git
      commit: origin/hoyt
      subdirectory: source
    my_versions:
      puppet: "4.10"
      facter: "3.6"
      hiera: "3.3"
      puppetserver: "2.7"
      puppetdb: "4.4"


  /pe/2017.2:
    doc: pe
    version: "2017.2"
    nav: ./_pe_toc.html
    external_source:
      repo: git@github.com:puppetlabs/pe-docs-private.git
      commit: origin/pe2017.2.5
      subdirectory: source
    my_versions:
      puppet: "4.10"
      facter: "3.6"
      hiera: "3.3"
      puppetserver: "2.8"
      puppetdb: "4.4"
    hide: true

  /pe/2017.1:
    doc: pe
    version: "2017.1"
    nav: ./_pe_toc.html
    external_source:
      repo: git@github.com:puppetlabs/pe-docs-private.git
      commit: origin/pe2017.1.1
      subdirectory: source
    my_versions:
      puppet: "4.9"
      facter: "3.6"
      hiera: "3.3"
      puppetserver: "2.7"
      puppetdb: "4.3"
    hide: true

  /pe/2016.5:
    doc: pe
    version: "2016.5"
    nav: ./_pe_toc.html
    external_source:
      repo: git@github.com:puppetlabs/pe-docs-private.git
      commit: origin/pe2016.5.2
      subdirectory: source
    my_versions:
      puppet: "4.8"
      facter: "3.5"
      hiera: "3.2"
      puppetserver: "2.6"
      puppetdb: "4.2"
    hide: true

  /pe/2016.4:
    doc: pe
    version: "2016.4"
    nav: ./_pe_toc.html
    external_source:
      repo: git@github.com:puppetlabs/pe-docs-private.git
      commit: origin/pe2016.4.13
      subdirectory: source
    my_versions:
      puppet: "4.10"
      facter: "3.6"
      hiera: "3.3"
      puppetserver: "2.6"
      puppetdb: "4.2"
    hide: true

 /pe/2016.2:
   doc: pe
   version: "2016.2"
   nav: ./_pe_toc.html
   external_source:
     repo: git@github.com:puppetlabs/pe-docs-private.git
     commit: origin/pe2016.2.1
     subdirectory: source
   my_versions:
     puppet: "4.5"
     facter: "3.1"
     hiera: "3.2"
     puppetserver: "2.4"
     puppetdb: "4.1"

 /pe/3.8:
   doc: pe
   version: "3.8"
   nav: ./_pe_toc.html
   external_source:
     repo: git@github.com:puppetlabs/pe-docs-private.git
     commit: origin/pe3.8.7
     subdirectory: source
   my_versions:
     puppet: "3.8"
     facter: "2.4"
     hiera: "1"
     puppetserver: "1.2"
     puppetdb: "2.3"
   hide: true

  /ja/pe/2017.2:
    doc: pe_ja
    version: "2017.2"
    nav: ./_ja_docs_toc.html
    my_versions:
      pe: "2017.2"
      puppet: "4.10"
      facter: "3.6"
      hiera: "3.3"
      puppetserver: "2.7"
      puppetdb: "4.4"
    hide: true

  /ja/pe/2017.1:
    doc: pe_ja
    version: "2017.1"
    nav: ./_ja_docs_toc.html
    my_versions:
      pe: "2017.1"
      puppet: "4.9"
      facter: "3.6"
      hiera: "3.3"
      puppetserver: "2.7"
      puppetdb: "4.3"
    hide: true

  /puppet/5.5:
    doc: puppet
    version: "5.5"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.11"
      hiera: "3.4"
      puppetserver: "5.3"
    hide: true
  /puppet/5.4:
    doc: puppet
    version: "5.4"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.10"
      hiera: "3.4"
      puppetserver: "5.2"
    hide: true
  /puppet/5.3:
    doc: puppet
    version: "5.3"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.9"
      hiera: "3.4"
      puppetserver: "5.1"
    hide: true
  /puppet/5.2:
    doc: puppet
    version: "5.2"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.9"
      hiera: "3.4"
      puppetserver: "5.1"
    hide: true
  /puppet/5.1:
    doc: puppet
    version: "5.1"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.8"
      hiera: "3.4"
      puppetserver: "5.0"
    hide: true
  /puppet/5.0:
    doc: puppet
    version: "5.0"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.7"
      hiera: "3.4"
      puppetserver: "5.0"
    hide: true
  /puppet/4.10:
    doc: puppet
    version: "4.10"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.6"
      hiera: "3.3"
      puppetserver: "2.8"
    hide: true
  /puppet/4.9:
    doc: puppet
    version: "4.9"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.6"
      hiera: "3.3"
      puppetserver: "2.7"
    hide: true
  /puppet/4.8:
    doc: puppet
    version: "4.8"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.5"
      hiera: "3.2"
      puppetserver: "2.7"
    hide: true
  /puppet/4.7:
    doc: puppet
    version: "4.7"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.4"
      hiera: "3.2"
      puppetserver: "2.6"
    hide: true
  /puppet/4.6:
    doc: puppet
    version: "4.6"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.4"
      hiera: "3.2"
      puppetserver: "2.6"
    hide: true
  /puppet/4.5:
    doc: puppet
    version: "4.5"
    nav: ./_puppet_toc.html
    my_versions:
      facter: "3.3"
      hiera: "3.2"
      puppetserver: "2.4"
  /puppet/3.8:
    doc: puppet
    version: "3.8"
    nav: /_includes/puppet_3_8.html
    my_versions:
      facter: "2.4"
      hiera: "1"
      puppetserver: "1.1"

  /es/puppet/4.10:
    doc: puppet_es
    version: "4.10"
    nav: /_includes/_es_puppet_toc_410.html
    my_versions:
      facter: "3.6"
      hiera: "3.3"
      puppetserver: "2.7"
    hide: true
  /es/puppet/4.9:
    doc: puppet_es
    version: "4.9"
    nav: /_includes/_es_puppet_toc_49.html
    my_versions:
      facter: "3.6"
      hiera: "3.3"
      puppetserver: "2.7"
    hide: true
  /es/puppet/5.0:
    doc: puppet_es
    version: "5.0"
    nav: /_includes/_es_puppet_toc_50.html
    my_versions:
      facter: "3.7"
      hiera: "3.4"
      puppetserver: "5.0"
    hide: true
  /es/puppet/5.3:
    doc: puppet_es
    version: "5.3"
    nav: /_includes/_es_puppet_toc_53.html
    my_versions:
      facter: "3.9"
      hiera: "3.4"
      puppetserver: "5.1"
    hide: true

  /facter/3.11:
    doc: facter
    version: "3.11"
    nav: ./_facter_toc.html
    hide: true
  /facter/3.10:
    doc: facter
    version: "3.10"
    nav: ./_facter_toc.html
    hide: true
  /facter/3.9:
    doc: facter
    version: "3.9"
    nav: ./_facter_toc.html
    hide: true
  /facter/3.8:
    doc: facter
    version: "3.8"
    nav: ./_facter_toc.html
    hide: true
  /facter/3.7:
    doc: facter
    version: "3.7"
    nav: ./_facter_toc.html
    hide: true
  /facter/3.6:
    doc: facter
    version: "3.6"
    nav: ./_facter_toc.html
    hide: true
  /facter/3.5:
    doc: facter
    version: "3.5"
    nav: ./_facter_toc.html
    hide: true
  /facter/3.4:
    doc: facter
    version: "3.4"
    nav: ./_facter_toc.html
    hide: true
  /facter/3.3:
    doc: facter
    version: "3.3"
    nav: ./_facter_toc.html
  /facter/3.1:
    doc: facter
    version: "3.1"
    nav: ./_facter_toc.html
  /facter/2.4:
    doc: facter
    version: "2.4"
    nav: /_includes/facter24.html

  /pdk/1.0:
    doc: pdk
    version: "1.0"
    nav: ./_pdk_toc.html
    hide: true

  /hiera/3.3:
    doc: hiera
    version: "3.3"
    nav: ./_hiera_toc.html
    hide: true
  /hiera/3.2:
    doc: hiera
    version: "3.2"
    nav: ./_hiera_toc.html
    hide: true
  /hiera/1:
    doc: hiera
    version: "1"
    nav: /_includes/hiera1.html

  /puppetserver/5.3:
    doc: puppetserver
    version: "5.3"
    nav: /puppet/5.5/_puppet_toc.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: 48b493a5d86cccc81afbffa07a41b5a7ae82f39f
      subdirectory: documentation
    my_versions:
      puppet: "5.5"
      facter: "3.11"
      hiera: "3.4"
    hide: true
  /puppetserver/5.2:
    doc: puppetserver
    version: "5.2"
    nav: /puppet/5.4/_puppet_toc.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: d5a633fdbfed4850dbfc401e8410c5bede1d8a4e
      subdirectory: documentation
    my_versions:
      puppet: "5.4"
      facter: "3.10"
      hiera: "3.4"
    hide: true
  /puppetserver/5.1:
    doc: puppetserver
    version: "5.1"
    nav: /puppet/5.3/_puppet_toc.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: a7c0b28b167ab23631600c3563bb33736538c991
      subdirectory: documentation
    my_versions:
      puppet: "5.3"
      facter: "3.9"
      hiera: "3.4"
    hide: true
  /puppetserver/5.0:
    doc: puppetserver
    version: "5.0"
    nav: /puppet/5.0/_puppet_toc.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: be96921aab5d434cd8ddf5a87de40132dfa5bd43
      subdirectory: documentation
    my_versions:
      puppet: "5.0"
      facter: "3.7"
      hiera: "3.4"
    hide: true
  /puppetserver/2.8:
    doc: puppetserver
    version: "2.8"
    nav: /puppet/4.10/_puppet_toc.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: e0cd7cb971c83d2ff0ff6221c84f54d53db9d8d6
      subdirectory: documentation
    hide: true
  /puppetserver/2.7:
    doc: puppetserver
    version: "2.7"
    nav: /puppet/4.9/_puppet_toc.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: b4fbbf035287318694e4313d5d3d3a9eea2d707a
      subdirectory: documentation
    my_versions:
      puppet: "4.9"
      facter: "3.5"
      hiera: "3.2"
    hide: true
  /puppetserver/2.6:
    doc: puppetserver
    version: "2.6"
    nav: /puppet/4.6/_puppet_toc.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: 2d3bc286bc5822f35ff04273156f8921e1603d19
      subdirectory: documentation
    my_versions:
      puppet: "4.6"
      facter: "3.3"
      hiera: "3.2"
    hide: true
  /puppetserver/2.5:
    doc: puppetserver
    version: "2.5"
    nav: /puppet/4.6/_puppet_toc.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: ba86848
      subdirectory: documentation
    my_versions:
      puppet: "4.6"
      facter: "3.3"
      hiera: "3.2"
  /puppetserver/2.4:
    doc: puppetserver
    version: "2.4"
    nav: /puppet/4.5/_puppet_toc.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: 522083d
      subdirectory: documentation
    my_versions:
      puppet: "4.5"
      facter: "3.1"
      hiera: "3.2"
  /puppetserver/1.2:
    doc: puppetserver
    version: "1.2"
    nav: /_includes/puppet_3_8.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: origin/1.x
      subdirectory: documentation
  /puppetserver/1.1:
    doc: puppetserver
    version: "1.1"
    nav: /_includes/puppet_3_8.html
    external_source:
      repo: git://github.com/puppetlabs/puppetserver.git
      commit: bbc73f6da0a17eac4fbf84758b477ec9dd4cebb2
      subdirectory: documentation

  /puppetdb/5.2:
    doc: puppetdb
    version: "5.2"
    nav: ./_puppetdb_nav.html
    external_source:
      repo: git://github.com/puppetlabs/puppetdb.git
      commit: origin/5.2.x
      subdirectory: documentation
    hide: true
  /puppetdb/5.1:
    doc: puppetdb
    version: "5.1"
    nav: ./_puppetdb_nav.html
    external_source:
      repo: git://github.com/puppetlabs/puppetdb.git
      commit: origin/5.1.x
      subdirectory: documentation
    hide: true
  /puppetdb/5.0:
    doc: puppetdb
    version: "5.0"
    nav: ./_puppetdb_nav.html
    external_source:
      repo: git://github.com/puppetlabs/puppetdb.git
      commit: origin/5.0.x
      subdirectory: documentation
    hide: true
  /puppetdb/4.4:
    doc: puppetdb
    version: "4.4"
    nav: ./_puppetdb_nav.html
    external_source:
      repo: git://github.com/puppetlabs/puppetdb.git
      commit: origin/4.4.x
      subdirectory: documentation
    hide: true
  /puppetdb/4.3:
    doc: puppetdb
    version: "4.3"
    nav: ./_puppetdb_nav.html
    external_source:
      repo: git://github.com/puppetlabs/puppetdb.git
      commit: origin/4.3.x
      subdirectory: documentation
    hide: true
  /puppetdb/4.2:
    doc: puppetdb
    version: "4.2"
    nav: ./_puppetdb_nav.html
    external_source:
      repo: git://github.com/puppetlabs/puppetdb.git
      commit: origin/4.2.x
      subdirectory: documentation
    hide: true
  /puppetdb/4.1:
    doc: puppetdb
    version: "4.1"
    nav: ./_puppetdb_nav.html
    external_source:
      repo: git://github.com/puppetlabs/puppetdb.git
      commit: origin/4.1.x
      subdirectory: documentation
  /puppetdb/2.3:
    doc: puppetdb
    version: "2.3"
    nav: ./_puppetdb_nav.html
    external_source:
      repo: git://github.com/puppetlabs/puppetdb.git
      commit: origin/2.3.x
      subdirectory: documentation

---
