---
pygments: true
markdown: kramdown
include: _index.html
defaultnav:
  /: fallback_nav.html
  /background/ssl: background_ssl.html
  /community: community_nav.html
  /facter/1.6: facter16.html
  /facter/1.7: facter17.html
  /facter/2.0: facter20.html
  /facter/2.1: facter21.html
  /facter/2.2: facter22.html
  /facter/2.3: facter23.html
  /guides/deployment_guide: deploy_guide.html
  /guides/install_puppet: puppet_general.html
  /hiera/1: hiera1.html
  /ja: ja_docs.html
  /ja/learning: ja_learning_nav.html
  /learning: learning_nav.html
  /mcollective: mcollective_menu.html
  /mcollective1.2: mcollective_1.2.html
  /pe/3.7: pe37.html
  /pe/3.3: pe33.html
  /pe/3.2: pe32.html
  /pe/3.1: pe31.html
  /pe/3.0: pe30.html
  /pe/2.8: pe28.html
  /pe/2.7: pe27.html
  /pe/2.6: pe26.html
  /pe/2.5: pe25.html
  /pe/2.0: pe_2.0_nav.markdown
  /puppetdb/0.9: puppetdb0.9.html
  /puppetdb/1: puppetdb1.html
  /puppetdb/1.1: puppetdb1.1.html
  /puppetdb/1.2: puppetdb1.2.html
  /puppetdb/1.3: puppetdb1.3.html
  /puppetdb/1.4: puppetdb1.4.html
  /puppetdb/1.5: puppetdb1.5.html
  /puppetdb/1.6: puppetdb1.6.html
  /puppetdb/2.0: puppetdb2.0.html
  /puppetdb/2.1: puppetdb2.1.html
  /puppetdb/2.2: puppetdb2.2.html
  /puppetdb/master: puppetdb_master.html
  /puppet/0.24/reference: puppet_0_24.html
  /puppet/0.25/reference: puppet_0_25.html
  /puppet/2.6/reference: puppet_2_6.html
  /puppet/2.7/reference: puppet_2_7.html
  /puppet/3/reference: puppet_3.html
  /puppet/3.5/reference: puppet_3_5.html
  /puppet/3.6/reference: puppet_3_6.html
  /puppet/3.7/reference: puppet_3_7.html
  /references: references_general.html
destination: ../output
url: "http://docs.puppetlabs.com"
#Anatomy of an external source:
#  mcollective: # an arbitrary name. The working dir for this source will be at externalsources/<name>.
#    url: /mcollective # The absolute URL where the source's contents should be mounted in the final site.
#    repo: git://github.com/puppetlabs/marionette-collective.git # The URL of the upstream repo, in a form acceptable to `git clone`. This must be accessible to anyone who will need to deploy the site.
#    commit: origin/master # a git treeish (in a form acceptable to `git checkout`) that the external source should track. This should almost always be either a tag, which will never update, or an upstream tracking branch on the default "origin" remote (origin/<branch>), which will update every time someone builds the site.
#    subdirectory: website # A subdirectory within the remote repository that contains the documentation files that we'll build and mount at the specified url.
externalsources:
  # Older versions of PuppetDB are now 'legacy' and so we can clear the branch, we are
  # referencing a tag instead.
  puppetdb_1.1:
    url: /puppetdb/1.1
    repo: git://github.com/puppetlabs/puppetdb.git
    commit: 1.1.x-docs
    subdirectory: documentation
  puppetdb_1.2:
    url: /puppetdb/1.2
    repo: git://github.com/puppetlabs/puppetdb.git
    commit: 1.2.x-docs
    subdirectory: documentation
  puppetdb_1.3:
    url: /puppetdb/1.3
    repo: git://github.com/puppetlabs/puppetdb.git
    commit: 1.3.x-docs
    subdirectory: documentation
  puppetdb_1.4:
    url: /puppetdb/1.4
    repo: git://github.com/puppetlabs/puppetdb.git
    commit: 1.4.x-docs
    subdirectory: documentation
  puppetdb_1.5:
    url: /puppetdb/1.5
    repo: git://github.com/puppetlabs/puppetdb.git
    commit: 1.5.x-docs
    subdirectory: documentation
  puppetdb_1.6:
    url: /puppetdb/1.6
    repo: git://github.com/puppetlabs/puppetdb.git
    commit: origin/1.6.x
    subdirectory: documentation
  puppetdb_2.0:
    url: /puppetdb/2.0
    repo: git://github.com/puppetlabs/puppetdb.git
    commit: origin/2.0.x
    subdirectory: documentation
  puppetdb_2.1:
    url: /puppetdb/2.1
    repo: git://github.com/puppetlabs/puppetdb.git
    commit: origin/2.1.x
    subdirectory: documentation
  puppetdb_2.2:
    url: /puppetdb/2.2
    repo: git://github.com/puppetlabs/puppetdb.git
    commit: origin/stable
    subdirectory: documentation
  puppetdb_master:
    url: /puppetdb/master
    repo: git://github.com/puppetlabs/puppetdb.git
    commit: origin/master
    subdirectory: documentation
  mcollective:
    url: /mcollective
    repo: git://github.com/puppetlabs/marionette-collective.git
    commit: origin/master
    subdirectory: website
  mcollective1.2:
    url: /mcollective1.2
    repo: git://github.com/nfagerlund/marionette-collective.git
    commit: origin/docs_1.2
    subdirectory: website
symlink_latest:
  - puppet
  - puppetdb
  - hiera
  - geppetto
  - facter
  - pe
  - dashboard/manual
---
