<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Puppet Docs</title>
    <link rel="stylesheet" type="text/css" href="files/stylesheets/style.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="files/stylesheets/syntax.css" media="all"/>
  <script type="text/javascript" src="files/javascripts/guides.js"></script>
  <!-- <script type="text/javascript" src="files/javascripts/code_highlighter.js"></script><script type="text/javascript" src="files/javascripts/highlighters.js"></script> --></head>
  <body class="guide">
    <div id="topNav">
      <div class="wrapper">
        <strong>More at <a href="http://reductivelabs.com/">reductivelabs.com:</a> </strong>
        <a href="http://projects.reductivelabs.com/">Issue Tracker</a>
      </div>
    </div>
    <div id="header">
      <div class="wrapper clearfix">
        <h1><a href="index.html" title="Return to home page">docs.reductivelabs.com</a></h1>
        <p class="hide"><a href="#mainCol">Skip navigation</a>.</p>
        <ul class="nav">
          <li><a href="index.html">Home</a></li>
          <li class="index"><a href="index.html" onclick="guideMenu(); return false;" id="guidesMenu">Guides Index</a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr />
            <dl class="L">
              <dt>Resource Types</dt>
              <dd><a href="augeas.html">augeas</a></dd>
              <dd><a href="file.html">file</a></dd>
              <dd><a href="host.html">host</a></dd>
            </dl>
            <dl class="R">
              <dt>Extending Puppet</dt>
              <dd><a href="two.html">Two</a></dd>
            </dl>
          </div>
          </li>
          <li><a href="contribute.html">Contribute</a></li>
        </ul>
      </div>
    </div>
    <hr class="hide" />

    <div id="feature">
      <div class="wrapper">
        <%= yield :header_section %>
        
        <%= yield :index_section %>
      </div>
    </div>
    
    <div id="container">
      <div class="wrapper">
        <div id="mainCol">
          <%= yield %>
        </div>
      </div>
    </div>
    
    <hr class="hide" />
    
    <div id="footer">
      <div class="wrapper">
        <p>&copy; <%= Time.now.year %> Reductive Labs.</p>
        <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0</a> License</a>.</p>
        <p>The documentation format are based on the &#8220;Rails Guides&#8221; project by the Ruby on Rails community.</p> 
      </div>
    </div>

  </body>
</html>