<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
	<meta http-equiv="Content-Type" content="<?php bloginfo('html_type'); ?>; charset=<?php bloginfo('charset'); ?>">
	<title><?php bloginfo('name'); ?> <?php wp_title(); ?></title>
	<meta name="description" content="<?php bloginfo('description'); ?>">
	<link rel="alternate" type="text/xml" title="<?php bloginfo('name'); ?> RSS 0.92 Feed" href="<?php bloginfo('rss_url'); ?>">
	<link rel="alternate" type="application/atom+xml" title="<?php bloginfo('name'); ?> Atom Feed" href="<?php bloginfo('atom_url'); ?>">
	<link rel="alternate" type="application/rss+xml" title="<?php bloginfo('name'); ?> RSS 2.0 Feed" href="<?php bloginfo('rss2_url'); ?>">
	<link rel="pingback" href="<?php bloginfo('pingback_url'); ?>">

	<?php wp_enqueue_script('jquery'); ?>
	<?php wp_head(); ?>
	<link rel="stylesheet" href="<?php bloginfo('template_directory'); ?>/javascripts/fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen">
	<link rel="stylesheet" type="text/css" href="<?php bloginfo('stylesheet_url'); ?>" media="screen">

  <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="<?php bloginfo('template_directory'); ?>/ie_7.css" media="screen">
  <![endif]-->
  
  <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="<?php bloginfo('template_directory'); ?>/ie_8.css" media="screen">
  <![endif]-->		
  
	<script src="<?php bloginfo('template_directory'); ?>/javascripts/html5.js"></script>

	<script src="<?php bloginfo('template_directory'); ?>/javascripts/jquery-1.3.1.min.js"></script>
  <script src="<?php bloginfo('template_directory'); ?>/javascripts/jquery.localScroll.js"></script>
  <script src="<?php bloginfo('template_directory'); ?>/javascripts/jquery.serialScroll.js"></script>
  <script src="<?php bloginfo('template_directory'); ?>/javascripts/jquery.scrollTo.js"></script>
  <script src="<?php bloginfo('template_directory'); ?>/javascripts/jquery.cookie.js"></script>
	<script src="<?php bloginfo('template_directory'); ?>/javascripts/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
	<script src="<?php bloginfo('template_directory'); ?>/javascripts/jquery.validate.min.js"></script>

	<script src="<?php bloginfo('template_directory'); ?>/javascripts/cufon-yui.js"></script>
	<script src="<?php bloginfo('template_directory'); ?>/fonts/Klavika_400-Klavika_600.font.js"></script>
	<script src="<?php bloginfo('template_directory'); ?>/javascripts/ampersands.js"></script>

	<script src="<?php bloginfo('template_directory'); ?>/javascripts/drop_down.js"></script>
  <script src="<?php bloginfo('template_directory'); ?>/javascripts/hide_this.js"></script>
	<script src="<?php bloginfo('template_directory'); ?>/javascripts/white_papers.js"></script>
	<script src="<?php bloginfo('template_directory'); ?>/javascripts/docs.js"></script>
	<script src="<?php bloginfo('template_directory'); ?>/javascripts/fancy_zoom.js"></script>

	<script type="text/javascript">
    Cufon.replace('h1, h2', { fontWeight: '600' });
	</script>
</head>


        
  <body id="resources" class="docs">
  <style type="text/css">h1, h2{ visibility : hidden }</style>		
  <!--[if IE 8]>
    <style type="text/css">h1, h2{ visibility : visible }</style>
  <![endif]-->		

  	<header id="header">
      <div class="site-width">
    		<h1><a href="http://puppetlabs.designerandrew.com/"><span>Puppet Labs</span></a></h1>
        <a class="screen-reader-content" href="#content">Skip navigation</a>
    		<nav>
    			<ul id="global-navigation">
            <li id="puppet-tab" class="with-submenu">
              <a href="http://puppetlabs.designerandrew.com/puppet/">
                <span>Puppet</span>
                <span class="subtitle">IT Made Easy</span>
                <span class="drop-down-trigger"></span>
              </a>
              <ul>            
                <li>
                  <ul>
                    <li class="page_item page-item-757"><a href="http://puppetlabs.designerandrew.com/puppet/introduction/" title="Introduction">Introduction</a></li>
                    <li class="page_item page-item-769"><a href="http://puppetlabs.designerandrew.com/puppet/requirements/" title="Requirements">Requirements</a></li>
                    <li class="page_item page-item-828"><a href="http://puppetlabs.designerandrew.com/puppet/features/" title="Features">Features</a></li>
                    <li class="page_item page-item-956"><a href="http://puppetlabs.designerandrew.com/puppet/solutions/" title="Solutions">Solutions</a></li>
                    <li class="page_item page-item-1159"><a href="http://puppetlabs.designerandrew.com/puppet/users/" title="Users">Users</a></li>
                    <li class="page_item page-item-1074"><a href="/resources/white-papers" title="White Papers">White Papers</a></li>
                    <li class="page_item page-item-1495"><a href="/resources/case-studies" title="Case Studies">Case Studies</a></li>
                    <li class="page_item page-item-1044"><a href="/resources/downloads" title="Downloads">Downloads</a></li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="page_item page-item-751"><a href="http://puppetlabs.designerandrew.com/puppet/related-projects/dashboard/" title="Dashboard">Dashboard</a></li>
  <li class="page_item page-item-753"><a href="http://puppetlabs.designerandrew.com/puppet/related-projects/facter/" title="Facter">Facter</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li id="services-tab" class="with-submenu">
              <a href="http://puppetlabs.designerandrew.com/services/">
                <span>Services</span>
                <span class="subtitle">Support, Training</span>
                  <span class="drop-down-trigger"></span>
              </a>
              <ul>
                <li class="page_item page-item-783"><a href="http://puppetlabs.designerandrew.com/services/overview/" title="Overview">Overview</a></li>
                <li class="page_item page-item-839"><a href="http://puppetlabs.designerandrew.com/services/support/" title="Enterprise Support">Enterprise Support</a></li>
                <li class="page_item page-item-845"><a href="http://puppetlabs.designerandrew.com/services/training-workshops/" title="On-Site Training &amp; Consulting">On-Site Training &amp; Consulting</a></li>
                <li class="page_item page-item-849"><a href="/category/events/upcoming/" title="Events &amp; Public Training">Events &amp; Public Training</a></li>
                <li class="page_item page-item-851"><a href="http://puppetlabs.designerandrew.com/services/partners/" title="Partners">Partners</a></li>
                <li class="page_item page-item-1037"><a href="/resources/customer-support" title="Customer Support">Customer Support</a></li>
              </ul>
            </li>
            <li id="resources-tab" class="with-submenu">
              <a href="http://puppetlabs.designerandrew.com/resources/">
                <span>Resources</span>
                <span class="subtitle">Help for Puppeteers</span>
                <span class="drop-down-trigger"></span>
              </a>
              <ul>
                <li class="page_item page-item-1048 current_page_item"><a href="http://puppetlabs.designerandrew.com/resources/overview-2/" title="Overview">Overview</a></li>
                <li class="page_item page-item-1040"><a href="http://puppet-docs.designerandrew.com" title="Documentation">Documentation</a></li>
                <li class="page_item page-item-872"><a href="http://puppetlabs.designerandrew.com/resources/downloads/" title="Downloads">Downloads</a></li>
                <li class="page_item page-item-835"><a href="http://puppetlabs.designerandrew.com/resources/white-papers/" title="White Papers">White Papers</a></li>
                <li class="page_item page-item-833"><a href="http://puppetlabs.designerandrew.com/resources/case-studies/" title="Case Studies">Case Studies</a></li>
                <li class="page_item page-item-1052"><a href="http://puppetlabs.designerandrew.com/resources/customer-support/" title="Customer Support">Customer Support</a></li>
              </ul>

            </li>
            <li id="community-tab">
              <a href="http://puppetlabs.designerandrew.com/community/">
                <span>Community</span>
                <span class="subtitle">Blog, Mailing Lists</span>
              </a>
            </li>

            <li id="company-tab" class="with-submenu">
              <a href="http://puppetlabs.designerandrew.com/company/">
                <span>Company</span><span class="subtitle">Meet Puppet Labs</span>
                <span class="drop-down-trigger"></span>
              </a>
              <ul>
                <li><a href="http://puppetlabs.designerandrew.com/company/">About Us</a></li>
                <li><a href="http://puppetlabs.designerandrew.com/company/#contact">Contact Us</a></li>
              </ul>
            </li>

    			</ul>
    		</nav>
    	</div>
    </header>  

      <section id="masthead">
        <div class="site-width">
          <h1>Docs: <span class="section-name"><%= yield :page_title %></span></h1>
          <ul id="doc-navigation">
            <li><a href="/">Docs Home</a></li>
            <li class="with-submenu">
              <a href="#">
                <span>Docs Index</span>
                <span class="drop-down-trigger"></span>
              </a>
	            <dl>
	              <dt>Guides</dt>
	              <dd><a href="/guides/introduction.html">An Introduction to Puppet</a></dd>
	              <dd><a href="/guides/installation.html">Installing Puppet</a></dd>
	              <dd><a href="/guides/language_tutorial.html">Puppet Language Tutorial</a></dd>
                <dt>Resource Types</dt>
	              <dd><a href="/guides/types/">By Category</a></dd>
	              <dd><a href="/guides/types/alphabetical_index.html">Alphabetical</a></dd>
	              <dt>Projects</dt>
	              <dd><a href="/projects/puppet/">Puppet (Core)</a></dd>
	              <dd><a href="/projects/dashboard/index.html">Puppet Dashboard</a></dd>
	              <dt>References</dt>
	              <dd><a href="/references/0.25.1rc2/">0.25.1rc2</a></dd>
	              <dd><a href="/references/0.25.0/">0.25.0</a></dd>
	              <dd><a href="/references/0.24.8/">0.24.8</a></dd>
	              <dd><a href="/references/">Older Versions</a></dd>
	            </dl>
            </li>
            <li><a href="/contribute.html">Contribute</a></li>
          </ul>
        </div>
      </section>
    
      <section id="content">
        <div class="site-width">
          <div class="primary-secondary-content">
            <div class="primary-content">
              <%= yield %>
            </div>
            <div class="secondary-content">
              <%= yield :index_section %>
            </div>
          </div>
        </div>
      </section>
        
  		<footer id="footer">
        <div class="site-width">
          <div class="primary-secondary-content">
            <div class="primary-content">
              <section id="newsletter">
                <h4>Newsletter</h4>
                <p>Stay up to date on all things puppet</p>
                <form>
                  <fieldset>
                    <legend>Newsletter</legend>
                    <input type="text" />
                    <button type="submit">Subscribe</button>
                  </fieldset>
                </form>
              </section>
              <section id="elsewhere">
                <h4>Elsewhere</h4>
                <ul>
                  <li class="chat"><a href="http://webchat.freenode.net/?channels=puppet" rel="external"><span class="indicator"></span><span>Chat with us on IRC</span></a></li>
                  <li class="discussion"><a href="#" rel="external"><span class="indicator"></span><span>Join a Discussion Group</span></a></li>
                  <li class="facebook"><a href="#" rel="external"><span class="indicator"></span><span>Become a Fan on Facebook</span></a></li>
                  <li class="subscribe"><a href="#" rel="external"><span class="indicator"></span><span>Subscribe to our blog</span></a></li>

                  <li class="twitter"><a href="#" rel="external"><span class="indicator"></span><span>Follow us on Twitter</span></a></li>
                </ul>
              </section>
            </div>
            <div class="secondary-content">
              <section id="book-it">
                <h4>Get the book!</h4>
                <p>Written by James Turnbull, <a href="#">Pulling Strings with Puppet</a> is the first book to introduce the powerful Puppet system administration tool. </p>
                <img src="http://puppetlabs.designerandrew.com/images/book.png" />
              </section>
            </div>
          </div>
        </div>
  		</footer>

      <div id="copyright">
        <div class="site-width">
          &copy; 2010 <a href="http://puppetlabs.designerandrew.com/" title="Puppet Labs">Puppet Labs</a>
          <span class="vcard">
           <span class="org">Reductive Labs</span>
           <a class="email" href="mailto:info@reductivelabs.com">info@reductivelabs.com</a>
            <span class="adr">
             <span class="street-address">222 NW Davis Street</span>
             /
             <span class="locality">Portland</span>, 
             <span class="region">OR</span>
             <span class="postal-code">97209</span>

            </span>
           <span class="tel">+1 503-805-9065</span>
          </span>          
        </div>
      </div>
    </div>
    <script type="text/javascript">Cufon.now();</script>
  	<style type="text/css">h1, h2{ visibility : visible }</style>
  	
  </body>
</html>