<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  	<!-- <title>Documentation | Puppet Labs - <%= yield :page_title %></title> -->
  	<meta name="description" content="The open source leader in data center automation">
  	<link rel="alternate" type="text/xml" title="Puppet Labs RSS 0.92 Feed" href="http://puppetlabs.com/feed/rss/">
  	<link rel="alternate" type="application/atom+xml" title="Puppet Labs Atom Feed" href="http://puppetlabs.com/feed/atom/">
  	<link rel="alternate" type="application/rss+xml" title="Puppet Labs RSS 2.0 Feed" href="http://puppetlabs.com/feed/">
  	<link rel="pingback" href="http://puppetlabs.com/xmlrpc.php">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://puppetlabs.com/xmlrpc.php?rsd" />
    <link rel='index' title='Puppet Labs' href='http://docs.puppetlabs.com' />

    <!-- FIXME: absolute paths -->

    <!--
    <script type='text/javascript' src='/files/javascripts/html5.js'></script>
    <script type='text/javascript' src='/files/javascripts/jquery-1.3.2.min.js'></script>
    <script type='text/javascript' src='/files/javascripts/drop_down.js'></script>
    <script type='text/javascript' src='/files/javascripts/code_highlighter.js'></script>

    <script type='text/javascript' src='/files/javascripts/cufon-yui.js'></script>
    <script type='text/javascript' src='/files/fonts/Klavika_400-Klavika_600.font.js'></script>
    <script type='text/javascript' src='/files/javascripts/ampersands.js'></script>
    -->

    <!-- All in One SEO Pack 1.6.10.1 by Michael Torbert of Semper Fi Web Design[127,146] -->
    <meta name="keywords" content="Puppet, puppet labs, reductive labs, open source, system administrator, ruby, data center, automation, support" />
    <link rel="canonical" href="http://docs.puppetlabs.com" />
    <!-- /all in one seo pack -->
	
    <!-- FIXME: absolute paths -->

    <link rel="stylesheet" type="text/css" href="/files/stylesheets/style.css" media="screen"> <!-- index -->

  	<!--
       <script type="text/javascript">
      Cufon.replace('h1, h2', { fontWeight: '600' });
  	</script>
        -->

</head>



        
  <body id="resources" class="docs">
  <style type="text/css">h1, h2{ visibility : hidden }</style>		

  	<!--
        <header id="header">
        <div class="site-width">
    		<h1><a href="http://puppetlabs.com/"><span>Puppet Labs</span></a></h1>
    	</div>
        -->

    </header>  

      <section id="content">
        <div class="site-width">
          <div class="primary-secondary-content">
            <div class="primary-content">
              <%= yield :header_section %>
              <%= yield %>
            </div>
          </div>
        </div>
      </section>
        
  	<script type="text/javascript">Cufon.now();</script>
  	<style type="text/css">h1, h2{ visibility : visible }</style>
  	
  </body>
</html>
