<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Puppet Docs</title>
    <link rel="stylesheet" type="text/css" href="/files/stylesheets/style.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/files/stylesheets/syntax.css" media="all"/>
  <script type="text/javascript" src="/files/javascripts/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/files/javascripts/init.js"></script>
  <!-- <script type="text/javascript" src="/files/javascripts/code_highlighter.js"></script><script type="text/javascript" src="/files/javascripts/highlighters.js"></script> --></head>
  <body class="guide">
    <div id="topNav">
      <div class="wrapper">
        <strong>More at <a href="http://reductivelabs.com/">reductivelabs.com:</a> </strong>
        <a href="http://projects.reductivelabs.com/">Issue Tracker</a> |
        <a href="http://reductivelabs.com/home/blog/">Blog</a>
      </div>
    </div>
    <div id="header">
      <div class="wrapper clearfix">
        <h1><a href="/" title="Return to home page">docs.reductivelabs.com</a></h1>
        <p class="hide"><a href="#mainCol">Skip navigation</a>.</p>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li class="index"><a href="index.html" onclick="guideMenu(); return false;" id="guidesMenu">Docs Index</a>
	          <div id="index-dialog" class="clearfix" style="display: none;">
	            <hr />
	            <dl class='third'>
	              <dt>Guides</dt>
	              <dd><a href="/guides/introduction.html">An Introduction to Puppet</a></dd>
	              <dd><a href="/guides/installation.html">Installing Puppet</a></dd>
	              <dd><a href="/guides/language_tutorial.html">Puppet Language Tutorial</a></dd>
                      <dt>Resource Types</dt>
	              <dd><a href="/guides/types/">By Category</a></dd>
	              <dd><a href="/guides/types/alphabetical_index.html">Alphabetical</a></dd>
	            </dl>
	            <dl class='third'>
	              <dt>Projects</dt>
	              <dd><a href="/projects/puppet/">Puppet (Core)</a></dd>
	              <dd><a href="/projects/dashboard/index.html">Puppet Dashboard</a></dd>
	            </dl>
	            <dl class='third'>
	              <dt>References</dt>
	              <dd><a href="/references/0.25.1rc2/">0.25.1rc2</a></dd>
	              <dd><a href="/references/0.25.0/">0.25.0</a></dd>
	              <dd><a href="/references/0.24.8/">0.24.8</a></dd>
	              <dd><a href="/references/">Older Versions</a></dd>
	            </dl>
	          </div>
          </li>
          <li><a href="/contribute.html">Contribute</a></li>
        </ul>
      </div>
    </div>
    <hr class="hide" />

    <div id="feature">
      <div class="wrapper">
        <%= yield :header_section %>
        
        <%= yield :index_section %>
      </div>
    </div>
    
    <div id="container">
      <div class="wrapper">
        <div id="mainCol">
          <%= yield %>
        </div>
      </div>
    </div>
    
    <hr class="hide" />
    
    <div id="footer">
      <div class="wrapper">
        <p>&copy; <%= Time.now.year %> Reductive Labs.</p>
        <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0</a> License.</p>
        <p>The documentation format are based on the &#8220;Rails Guides&#8221; project by the Ruby on Rails community.</p> 
      </div>
    </div>
<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "reductivelabs";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
  </body>
</html>